﻿@{
    ViewBag.Title = "ControlPanel_layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
    $("#myNavbar").load('@Url.Content("/ControlPanel/_partialControlPanelLayout")');
    });
</script>

<div class="content-wrapper">
    <div class="content-header" style="padding:0 15px; background-color:#2c688a;">
        <div class="row">
            <div class="col-sm-12">
                <div class="purchase-menu pt-5 pb-5">
                    <nav class="navbar navbar-inverse">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="javascript:void()">Purchase</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="padding:0 15px;">


        <div class="pt-10 pb-10">
            @RenderBody()
        </div>
    </div>
</div>
