﻿
@{
    ViewData["Title"] = "_DealerLayout";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header" style="padding:0 15px; background-color:#2c688a;">
        <div class="row">
            <div class="col-sm-12">
                <div class="purchase-menu pt-5 pb-5">
                    <nav class="navbar navbar-inverse">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="javascript:void()">Purchase</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="/MasterMangement/DealerInformationIndex">
                                        <p style="margin:0px">
                                            <svg id="Layer_35" enable-background="new 0 0 64 64" height="20" viewBox="0 0 64 64" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m56.696 28.233c-.15-.628-.356-1.244-.613-1.831l1.834-.801c.303.695.547 1.424.725 2.165z" /><path d="m59.061 19.909-5.848-7.016 3.26-5.705c.344-.604.527-1.291.527-1.985v-.203c0-2.206-1.794-4-4-4-1.33 0-2.036.808-2.504 1.342-.436.497-.61.658-.999.658-.39 0-.563-.161-1-.659-.468-.534-1.174-1.341-2.503-1.341-1.328 0-2.034.808-2.502 1.342-.434.497-.608.658-.996.658s-.561-.161-.995-.658c-.467-.534-1.173-1.342-2.501-1.342-2.206 0-4 1.794-4 4v.203c0 .694.183 1.381.527 1.984l3.26 5.705-2.689 3.226 1.537 1.281 2.833-3.4h11.062l5.992 7.189c2.244 2.693 3.478 6.104 3.478 9.605v.207c0 8.271-6.729 15-15 15-1.923 0-3.81-.368-5.608-1.095l-.749 1.854c2.038.824 4.176 1.241 6.357 1.241 9.374 0 17-7.626 17-17v-.207c0-3.968-1.399-7.833-3.939-10.884zm-22.061-14.706v-.203c0-1.103.897-2 2-2 .388 0 .561.161.995.658.467.534 1.173 1.342 2.501 1.342s2.034-.808 2.502-1.342c.435-.497.608-.658.996-.658.389 0 .562.161.999.658.468.534 1.174 1.342 2.504 1.342 1.329 0 2.035-.807 2.503-1.341.437-.498.61-.659 1-.659 1.103 0 2 .897 2 2v.203c0 .347-.091.69-.264.992l-3.316 5.805h-10.84l-3.317-5.805c-.172-.301-.263-.645-.263-.992z" /><path d="m48.166 43.819-.332-1.973c5.312-.893 9.166-5.454 9.166-10.846v-.207c0-.242-.008-.485-.024-.727l1.996-.133c.018.287.028.573.028.86v.207c0 6.371-4.557 11.763-10.834 12.819z" /><path d="m23.577 45.837-1.414-1.414-3.163 3.163-2.586-2.586 3.163-3.163-1.414-1.414-3.163 3.163-.938-.938-10.742 8.95c-1.474 1.228-2.32 3.034-2.32 4.954 0 3.555 2.893 6.448 6.448 6.448 1.92 0 3.726-.846 4.954-2.319l8.95-10.742-.938-.939zm-12.712 13.562c-.846 1.018-2.093 1.601-3.417 1.601-2.453 0-4.448-1.995-4.448-4.448 0-1.324.583-2.57 1.601-3.417l9.338-7.782 4.709 4.709z" /><path d="m32 49c-9.374 0-17-7.626-17-17s7.626-17 17-17 17 7.626 17 17-7.626 17-17 17zm0-29c-6.617 0-12 5.383-12 12s5.383 12 12 12 12-5.383 12-12-5.383-12-12-12z" fill="#f0bc5e" /><path d="m32 45c-7.168 0-13-5.832-13-13s5.832-13 13-13 13 5.832 13 13-5.832 13-13 13zm0-24c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" /><path d="m32 31c-1.103 0-2-.897-2-2v-2h2c1.103 0 2 .897 2 2h2c0-1.859-1.279-3.411-3-3.858v-2.142h-2v2h-3v4c0 2.206 1.794 4 4 4 1.103 0 2 .897 2 2v2h-2c-1.103 0-2-.897-2-2h-2c0 1.859 1.279 3.411 3 3.858v2.142h2v-2h3v-4c0-2.206-1.794-4-4-4z" /><path d="m39 31h2v2h-2z" /><path d="m23 31h2v2h-2z" /><circle cx="6" cy="58" r="1" /></svg>
                                        </p>
                                        <p>Dealer Information</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p style="margin:0px">
                                            <svg id="Layer_35" enable-background="new 0 0 64 64" height="20" viewBox="0 0 64 64" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m4.601 53.135c-1.018.846-1.601 2.093-1.601 3.417 0 2.453 1.995 4.448 4.448 4.448 1.324 0 2.57-.583 3.417-1.601l7.782-9.338-4.709-4.709zm1.399 5.865c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z" /><path d="m47 32c0-8.271-6.729-15-15-15s-15 6.729-15 15 6.729 15 15 15 15-6.729 15-15zm-15 13c-7.168 0-13-5.832-13-13s5.832-13 13-13 13 5.832 13 13-5.832 13-13 13z" /><path d="m32 21c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11zm-7 12h-2v-2h2zm7-2c2.206 0 4 1.794 4 4v4h-3v2h-2v-2.142c-1.721-.447-3-1.999-3-3.858h2c0 1.103.897 2 2 2h2v-2c0-1.103-.897-2-2-2-2.206 0-4-1.794-4-4v-4h3v-2h2v2.142c1.721.447 3 1.999 3 3.858h-2c0-1.103-.897-2-2-2h-2v2c0 1.103.897 2 2 2zm7 2v-2h2v2z" /><path d="m57.523 21.189-5.992-7.189h-11.062l-1.927 2.313c6.135 2.568 10.458 8.631 10.458 15.687 0 5.511-2.647 10.402-6.724 13.511 1.217.314 2.461.489 3.724.489 8.271 0 15-6.729 15-15v-.207c0-3.501-1.234-6.912-3.477-9.604zm.394 4.413c.303.695.547 1.424.725 2.165l-1.945.467c-.15-.628-.356-1.244-.613-1.831zm1.083 5.398c0 6.371-4.557 11.763-10.834 12.819l-.332-1.973c5.312-.893 9.166-5.454 9.166-10.846v-.207c0-.242-.008-.485-.024-.727l1.996-.133c.018.287.028.573.028.86z" /><path d="m40.58 12h10.84l3.317-5.805c.172-.301.263-.645.263-.992v-.203c0-1.103-.897-2-2-2-.39 0-.563.161-1 .659-.468.534-1.174 1.341-2.503 1.341-1.33 0-2.036-.808-2.504-1.342-.436-.497-.61-.658-.999-.658-.388 0-.562.161-.996.658-.468.534-1.174 1.342-2.502 1.342s-2.034-.808-2.501-1.342c-.434-.497-.607-.658-.995-.658-1.103 0-2 .897-2 2v.203c0 .347.091.69.264.992z" /><path d="m18.767 42.647-2.353 2.353 2.586 2.586 2.353-2.353c-.952-.767-1.819-1.634-2.586-2.586z" /></svg>
                                        </p>
                                        <p>Dealer Branch</p>
                                    </a>

                                </li>
                               
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="content">

        <div class="pt-10 pb-10">
                                 
            @RenderBody()
        </div>
    </div>
</div>


