﻿@{
    ViewData["Title"] = "Financial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header" style="padding:0 15px; background-color:#2c688a;">
        <div class="row">
            <div class="col-sm-12">
                <div class="purchase-menu pt-5 pb-5">
                    <nav class="navbar navbar-inverse">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="javascript:void()">Purchase</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="/Financial/ChartofAccIndex">
                                        <p style="margin:0px">
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
<g>
                                            <g>
                                            <path d="M232,112c-4.408,0-8-3.592-8-8s3.592-8,8-8s8,3.592,8,8h16c0-10.416-6.712-19.216-16-22.528V64h-16v17.472
			c-9.288,3.312-16,12.112-16,22.528c0,13.232,10.768,24,24,24c4.408,0,8,3.592,8,8s-3.592,8-8,8s-8-3.592-8-8h-16
			c0,10.416,6.712,19.216,16,22.528V176h16v-17.472c9.288-3.312,16-12.112,16-22.528C256,122.768,245.232,112,232,112z" />































































	</g>
</g>
<g>
                                            <g>
                                            <polygon points="32,32 32,80 48,80 48,48 80,48 80,32 		" />































































	</g>
</g>
<g>
                                            <g>
                                            <polygon points="48,192 48,160 32,160 32,208 80,208 80,192 		" />































































	</g>
</g>
<g>
                                            <g>
                                            <polygon points="384,32 384,48 416,48 416,80 432,80 432,32 		" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M464,160.808V0H0v240h256v216c0,22.056,17.944,40,40,40h160c22.056,0,40-17.944,40-40V200
			C496,180.688,482.232,164.528,464,160.808z M256,224H16V16h432v144H310.304c6.36-12.336,9.696-25.92,9.696-40
			c0-48.52-39.48-88-88-88c-48.52,0-88,39.48-88,88c0,48.52,39.48,88,88,88c8.184,0,16.2-1.24,24-3.48V224z M258.408,186.832
			C249.936,190.2,241.08,192,232,192c-39.696,0-72-32.304-72-72s32.304-72,72-72s72,32.304,72,72
			c0,14.544-4.384,28.448-12.616,40.464C276.024,162.264,263.384,172.672,258.408,186.832z M480,456c0,13.232-10.768,24-24,24H296
			c-13.232,0-24-10.768-24-24V200c0-13.232,10.768-24,24-24h160c13.232,0,24,10.768,24,24V456z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M416,352v112h48V352H416z M448,448h-16v-80h16V448z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M352,416v48h48v-48H352z M384,448h-16v-16h16V448z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M288,416v48h48v-48H288z M320,448h-16v-16h16V448z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M352,352v48h48v-48H352z M384,384h-16v-16h16V384z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M288,352v48h48v-48H288z M320,384h-16v-16h16V384z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M352,288v48h48v-48H352z M384,320h-16v-16h16V320z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M416,288v48h48v-48H416z M448,320h-16v-16h16V320z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M288,288v48h48v-48H288z M320,320h-16v-16h16V320z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M288,192v80h176v-80H288z M448,256H304v-48h144V256z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M200,272c-13.232,0-24,10.768-24,24c0,0.32,0.08,0.624,0.096,0.944l-38.16,15.264C133.536,307.216,127.168,304,120,304
			c-5.784,0-11.032,2.144-15.176,5.56L63.52,284.784C63.832,283.232,64,281.64,64,280c0-13.232-10.768-24-24-24s-24,10.768-24,24
			s10.768,24,24,24c5.784,0,11.032-2.144,15.176-5.56l41.304,24.784C96.168,324.768,96,326.36,96,328c0,13.232,10.768,24,24,24
			s24-10.768,24-24c0-0.32-0.08-0.624-0.096-0.944l38.16-15.264c4.4,4.992,10.768,8.208,17.936,8.208c13.232,0,24-10.768,24-24
			S213.232,272,200,272z M40,288c-4.408,0-8-3.592-8-8c0-4.408,3.592-8,8-8s8,3.592,8,8C48,284.408,44.408,288,40,288z M120,336
			c-4.408,0-8-3.592-8-8c0-4.408,3.592-8,8-8s8,3.592,8,8C128,332.408,124.408,336,120,336z M200,304c-4.408,0-8-3.592-8-8
			c0-4.408,3.592-8,8-8s8,3.592,8,8C208,300.408,204.408,304,200,304z" />































































	</g>
</g>
<g>
                                            <g>
                                            <path d="M224,480V336h-48v144h-32V368H96v112H64V320H16v160H0v16h240v-16H224z M48,480H32V336h16V480z M128,480h-16v-96h16V480z
			 M208,480h-16V352h16V480z" />































































	</g>
</g>
<g>
                                            <g>
                                            <rect x="272" y="112" width="16" height="16" />































































	</g>
</g>
<g>
                                            <g>
                                            <rect x="176" y="112" width="16" height="16" />































































	</g>
</g>
</svg>

                                        </p>
                                        <p>Chart of Accounts</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Financial/SubGroupIndex">
                                        <p style="margin:0px">
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#FF5D5D;" d="M326.941,120.218c-27.942,0-53.141,12.842-70.941,33.423c-17.8-20.581-42.999-33.423-70.941-33.423
	c-53.933,0-97.655,47.835-97.655,106.843C87.404,309.717,256,424.358,256,424.358s168.596-114.641,168.596-197.296
	C424.596,168.053,380.874,120.218,326.941,120.218z" />































































<path style="fill:#FFFFFF;" d="M340,329.766v-24.487c0-17.664-12.59-32.82-29.955-36.058l-21.365-3.985l-65.441,0.015l-21.284,3.97
	C184.59,272.46,172,287.615,172,305.279v24.487H340z" />































































<path style="fill:#FCC69D;" d="M256,182.234L256,182.234c-20.987,0-38,17.013-38,38v16.178c0,20.987,17.013,38,38,38l0,0
	c20.987,0,38-17.013,38-38v-16.178C294,199.247,276.987,182.234,256,182.234z" />































































<circle style="fill:#72D8FF;" cx="54" cy="54" r="44" />































































<circle style="fill:#A0E557;" cx="54" cy="458" r="44" />































































<circle style="fill:#72D8FF;" cx="458" cy="458" r="44" />































































<circle style="fill:#A0E557;" cx="458" cy="54" r="44" />































































<path d="M423.91,176.24c-2.248-5.045-8.16-7.313-13.204-5.065c-5.045,2.248-7.313,8.159-5.065,13.204
	c5.942,13.339,8.956,27.699,8.956,42.683c0,27.873-22.776,64.973-66.09,107.943c0.941-1.525,1.493-3.315,1.493-5.238V305.28
	c0-22.47-16.032-41.769-38.122-45.889l-12.55-2.341c2.992-6.256,4.672-13.254,4.672-20.639v-16.178c0-26.467-21.533-48-48-48
	s-48,21.533-48,48v16.178c0,7.384,1.68,14.383,4.671,20.639l-12.55,2.341C178.032,263.511,162,282.81,162,305.279v24.487
	c0,1.923,0.552,3.713,1.493,5.238c-43.314-42.97-66.09-80.07-66.09-107.943c0-53.399,39.322-96.844,87.655-96.844
	c24.157,0,46.665,10.642,63.377,29.966c1.899,2.196,4.66,3.458,7.563,3.458s5.664-1.262,7.563-3.458
	c16.713-19.324,39.221-29.966,63.377-29.966c10.254,0,20.295,1.938,29.842,5.761c5.129,2.049,10.948-0.44,13-5.567
	c2.053-5.127-0.44-10.948-5.567-13.001c-11.922-4.772-24.464-7.192-37.276-7.192c-26.101,0-51.421,10.44-70.941,28.96
	c-19.52-18.52-44.84-28.96-70.941-28.96c-59.361,0-107.655,52.416-107.655,116.844c0,37.18,29.442,83.268,87.507,136.984
	c42.213,39.051,83.72,67.394,85.466,68.581c1.697,1.153,3.66,1.73,5.623,1.73c1.963,0,3.926-0.577,5.623-1.73
	c1.746-1.188,43.253-29.53,85.466-68.581c58.065-53.717,87.507-99.805,87.507-136.984
	C434.596,209.256,431.001,192.156,423.91,176.24z M228,220.233c0-15.439,12.561-28,28-28s28,12.561,28,28v16.178
	c0,15.439-12.561,28-28,28s-28-12.561-28-28V220.233z M182,305.279c0-12.843,9.164-23.873,21.789-26.229l22.922-4.64l-0.002-0.013
	c8.112,6.27,18.27,10.013,29.292,10.013c11.02,0,21.177-3.742,29.288-10.01l-0.002,0.01l22.925,4.64
	C320.836,281.406,330,292.437,330,305.279v14.487H182V305.279z M256,412.147c-12.788-9.1-45.43-33.087-77.679-62.941
	c-3.944-3.652-7.733-7.261-11.399-10.835c1.49,0.881,3.221,1.396,5.077,1.396h168c1.856,0,3.588-0.515,5.077-1.396
	c-3.666,3.574-7.454,7.184-11.399,10.835C301.43,379.061,268.788,403.048,256,412.147z" />































































<path d="M384.961,154.483c1.947,1.913,4.478,2.866,7.007,2.866c2.589,0,5.177-0.999,7.135-2.992
	c3.87-3.94,3.813-10.271-0.127-14.142l-0.562-0.546c-3.975-3.834-10.306-3.721-14.14,0.254c-3.834,3.976-3.721,10.306,0.254,14.141
	L384.961,154.483z" />































































<path d="M54,108c11.282,0,21.763-3.483,30.435-9.423l14.494,14.494C100.882,115.023,103.44,116,106,116
	c2.559,0,5.119-0.977,7.071-2.929c3.905-3.905,3.906-10.237,0-14.143L98.577,84.435C104.517,75.762,108,65.282,108,54
	c0-29.775-24.224-54-54-54S0,24.225,0,54S24.224,108,54,108z M54,20c18.748,0,34,15.252,34,34S72.748,88,54,88S20,72.748,20,54
	S35.252,20,54,20z" />































































<path d="M458,404c-11.282,0-21.763,3.483-30.435,9.423l-26.53-26.531c-3.906-3.903-10.237-3.904-14.142,0
	c-3.905,3.905-3.906,10.237,0,14.143l26.53,26.531C407.483,436.238,404,446.718,404,458c0,29.775,24.224,54,54,54s54-24.225,54-54
	S487.776,404,458,404z M458,492c-18.748,0-34-15.252-34-34s15.252-34,34-34s34,15.252,34,34S476.748,492,458,492z" />































































<path d="M404.271,117.729c2.559,0,5.119-0.977,7.071-2.929l16.223-16.223C436.237,104.517,446.718,108,458,108
	c29.776,0,54-24.225,54-54S487.776,0,458,0s-54,24.225-54,54c0,11.282,3.483,21.762,9.422,30.435L397.2,100.657
	c-3.905,3.905-3.905,10.237,0,14.143C399.152,116.752,401.712,117.729,404.271,117.729z M458,20c18.748,0,34,15.252,34,34
	s-15.252,34-34,34s-34-15.252-34-34S439.252,20,458,20z" />































































<path d="M104.173,393.685l-19.738,19.738C75.763,407.483,65.282,404,54,404c-29.776,0-54,24.225-54,54s24.224,54,54,54
	s54-24.225,54-54c0-11.282-3.483-21.762-9.423-30.435l19.738-19.738c3.905-3.905,3.905-10.237,0-14.143
	C114.41,389.78,108.078,389.78,104.173,393.685z M54,492c-18.748,0-34-15.252-34-34s15.252-34,34-34s34,15.252,34,34
	S72.748,492,54,492z" />































































<path d="M133.12,368.88c-2.64,0-5.22,1.07-7.07,2.93c-1.87,1.86-2.93,4.44-2.93,7.07c0,2.64,1.06,5.21,2.93,7.07
	c1.86,1.869,4.43,2.939,7.07,2.939c2.63,0,5.21-1.07,7.07-2.939c1.86-1.86,2.93-4.431,2.93-7.07c0-2.63-1.07-5.21-2.93-7.07
	C138.33,369.95,135.75,368.88,133.12,368.88z" />































































































































</svg>
                                        </p>
                                        <p>Accounts Group</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Financial/AccountsListIndex">
                                        <p style="margin:0px">
                                            <svg id="Layer_5" enable-background="new 0 0 64 64" height="20" viewBox="0 0 64 64" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m51 38h-2v-27.586l-7.414-7.414h-26.586v15h-2v-17h29.414l8.586 8.586z" /><path d="m50 37c-5.4 0-10.039 3.311-12 8.008v9.984c1.961 4.697 6.6 8.008 12 8.008 7.168 0 13-5.832 13-13s-5.832-13-13-13z" fill="#f0bc5e" /><path d="m51 57h-4v-14h4c2.206 0 4 1.794 4 4 0 1.193-.525 2.267-1.357 3 .832.733 1.357 1.807 1.357 3 0 2.206-1.794 4-4 4zm-2-2h2c1.103 0 2-.897 2-2s-.897-2-2-2h-2zm0-6h2c1.103 0 2-.897 2-2s-.897-2-2-2h-2z" /><path d="m49 56h2v3h-2z" /><path d="m39 63h-38v-46h29.414l8.586 8.586zm-36-2h34v-34.586l-7.414-7.414h-26.586z" /><path d="m38 27h-9v-9h2v7h7z" /><path d="m50 11h-9v-9h2v7h7z" /><path d="m47 15h-30v-10h25v2h-23v6h26v-3h2z" /><path d="m41 18h6v17h-6z" fill="#f0bc5e" /><path d="m5 21h22v5h-22z" fill="#f0bc5e" /><path d="m35 17h12v2h-12z" /><path d="m41 21h6v2h-6z" /><path d="m41 25h6v2h-6z" /><path d="m41 29h6v2h-6z" /><path d="m47 35h-2v-2h2zm-4 0h-2v-2h2z" /><path d="m34.237 59h-28.581l2.812-9.371c.471-1.572 1.891-2.629 3.532-2.629s3.061 1.057 3.533 2.629l2.211 7.371h14.019l-2.322-10.834c-.144-.676-.751-1.166-1.441-1.166s-1.297.49-1.441 1.165l-1.658 7.737-1.956-.42 1.658-7.736c.34-1.591 1.769-2.746 3.397-2.746s3.057 1.155 3.397 2.747zm-25.893-2h7.312l-2.039-6.797c-.216-.72-.866-1.203-1.617-1.203s-1.401.483-1.617 1.203z" /><path d="m24.03 58.242-2.515-10.06c-.174-.696-.797-1.182-1.515-1.182s-1.341.486-1.515 1.183l-1.606 6.423-1.94-.484 1.606-6.423c.396-1.59 1.817-2.699 3.455-2.699s3.059 1.109 3.455 2.698l2.515 10.06z" /><path d="m35 41h-30v-12h30zm-28-2h26v-8h-26z" /><path d="m5 21h2v2h-2z" /><path d="m9 21h18v2h-18z" /><path d="m5 25h22v2h-22z" /><path d="m49 41h2v3h-2z" /></svg>
                                        </p>
                                        <p>Accounts Ledger</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Financial/JournalVoucherIndex">
                                        <p style="margin:0px">
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#41C476;" d="M46.5,71.612H10v369.37h207.553c6.318,0,11.938,3.885,14.304,9.743
	c3.857,9.548,13.213,16.285,24.143,16.285c10.93,0,20.286-6.737,24.143-16.285c2.366-5.858,7.986-9.743,14.304-9.743H502V71.612
	h-37.181H46.5z" />































































<path style="fill:#FFFFFF;" d="M277.77,401.01c-12.023,0-21.77,9.747-21.77,21.77l0,0l0,0c0-12.023-9.747-21.77-21.77-21.77H117.5
	l-67.496-67.496V44.989H234.23c12.023,0,21.77,9.747,21.77,21.77c0-12.023,9.747-21.77,21.77-21.77H462V401.01H277.77z" />































































<polygon style="fill:#FFBB4D;" points="50.004,333.514 117.5,401.01 117.5,333.514 " />































































<polygon style="fill:#F1F2F2;" points="117.5,401.01 50.004,401.01 50.004,333.514 " />































































<rect x="322.5" y="304" style="fill:#FFBB4D;" width="72.998" height="51.989" />































































<path style="fill:#6BC2FC;" d="M395.451,265.478L395.451,265.478c0-12.411,5.24-24.218,14.358-32.639
	c15.318-14.148,25.188-34.67,25.188-56.851C434.998,134.02,400.973,100,359,100c-41.971,0-75.998,34.02-75.998,75.988
	c0,22.257,9.944,42.748,25.355,56.856c9.156,8.382,14.369,20.222,14.224,32.634l0,0H395.451z" />































































<path style="fill:#FFBB4D;" d="M372.43,265.478L372.43,265.478c0-12.411,1.931-24.218,5.29-32.639
	c5.644-14.148,9.28-34.67,9.28-56.851C387,134.02,374.464,100,359,100c-15.463,0-28,34.02-28,75.988
	c0,22.257,3.664,42.748,9.341,56.856c3.373,8.382,5.294,20.222,5.24,32.634l0,0H372.43z" />































































<path d="M502,61.612h-30V44.989c0-5.522-4.477-10-10-10H277.77c-8.417,0-16.079,3.29-21.77,8.651
	c-5.69-5.361-13.353-8.651-21.77-8.651H50.004c-5.523,0-10,4.478-10,10v16.623H10c-5.523,0-10,4.478-10,10v369.37
	c0,5.522,4.477,10,10,10h207.553c2.201,0,4.176,1.369,5.032,3.488c5.53,13.692,18.646,22.54,33.415,22.54s27.885-8.848,33.415-22.54
	c0.856-2.119,2.832-3.488,5.032-3.488H502c5.523,0,10-4.478,10-10V71.612C512,66.09,507.523,61.612,502,61.612z M277.77,54.989H452
	V391.01H277.77c-4.156,0-8.128,0.805-11.77,2.263V66.759C266,60.27,271.28,54.989,277.77,54.989z M234.23,54.989
	c6.49,0,11.77,5.28,11.77,11.77v326.514c-3.642-1.458-7.613-2.263-11.77-2.263H127.5v-57.496c0-5.522-4.477-10-10-10H60.004V54.989
	H234.23z M107.5,376.867L90.823,360.19l-16.677-16.677H107.5V376.867z M60.004,357.656l33.354,33.354H60.004V357.656z M492,430.982
	H294.447c-10.396,0-19.65,6.279-23.576,15.998c-2.461,6.093-8.298,10.03-14.871,10.03s-12.41-3.938-14.871-10.031
	c-3.926-9.718-13.18-15.997-23.576-15.997H20V81.612h20.004V401.01c0,5.522,4.477,10,10,10H234.23c6.49,0,11.77,5.279,11.77,11.77
	v14.426c0,5.522,4.477,10,10,10c5.523,0,10-4.478,10-10V422.78c0-6.49,5.28-11.77,11.77-11.77H462c5.523,0,10-4.478,10-10V81.612h20
	V430.982z" />































































<path d="M301.604,240.22c6.839,6.261,10.792,15.016,10.961,24.149c-0.04,0.365-0.065,0.734-0.065,1.109V304v51.989
	c0,5.522,4.477,10,10,10h72.998c5.523,0,10-4.478,10-10V304v-38.522c0-0.21-0.019-0.415-0.031-0.621
	c0.172-9.311,4.199-18.273,11.127-24.671c18.051-16.671,28.403-40.07,28.403-64.198c0-47.087-38.054-85.437-85.024-85.963
	C359.645,90.01,359.319,90,359,90s-0.645,0.01-0.973,0.025c-46.971,0.526-85.024,38.876-85.024,85.963
	C273.002,200.168,283.428,223.579,301.604,240.22z M349.618,229.111c-5.477-13.609-8.618-32.973-8.618-53.123
	c0-18.869,2.765-37.193,7.584-50.274C353.344,112.796,358.082,110,359,110s5.656,2.796,10.416,15.713
	c4.82,13.08,7.584,31.404,7.584,50.274c0,20.126-3.123,39.497-8.569,53.146c-2.913,7.304-4.841,16.423-5.616,26.344h-7.583
	C354.482,245.538,352.556,236.41,349.618,229.111z M345.582,275.478h26.848h13.069V294h-52.998v-18.522H345.582z M385.499,345.99
	h-52.998V314h52.998L385.499,345.99L385.499,345.99z M424.998,175.987c0,18.564-8.009,36.608-21.973,49.506
	c-8.673,8.01-14.473,18.588-16.632,29.984h-3.5c0.683-7.271,2.101-13.883,4.116-18.934c6.35-15.917,9.992-37.989,9.992-60.557
	c0-21.448-3.131-41.758-8.818-57.189c-0.308-0.837-0.622-1.645-0.938-2.436C409.542,126.964,424.998,149.702,424.998,175.987z
	 M330.756,116.362c-0.316,0.791-0.629,1.599-0.938,2.436C324.132,134.229,321,154.54,321,175.987
	c0,22.612,3.668,44.696,10.064,60.59c2.024,5.029,3.435,11.63,4.094,18.9h-3.435c-2.081-11.422-7.873-22.007-16.615-30.01
	c-14.049-12.861-22.107-30.896-22.107-49.48C293.002,149.702,308.458,126.964,330.756,116.362z" />































































<path d="M88,108.989h128.668c5.523,0,10-4.478,10-10s-4.477-10-10-10H88c-5.523,0-10,4.478-10,10S82.477,108.989,88,108.989z" />































































<path d="M88,157.021h128.668c5.523,0,10-4.478,10-10s-4.477-10-10-10H88c-5.523,0-10,4.478-10,10S82.477,157.021,88,157.021z" />































































<path d="M88,205.053h128.668c5.523,0,10-4.478,10-10s-4.477-10-10-10H88c-5.523,0-10,4.478-10,10S82.477,205.053,88,205.053z" />































































<path d="M88,253.085h128.668c5.523,0,10-4.478,10-10s-4.477-10-10-10H88c-5.523,0-10,4.478-10,10S82.477,253.085,88,253.085z" />































































<path d="M88,301.116h128.668c5.523,0,10-4.478,10-10s-4.477-10-10-10H88c-5.523,0-10,4.478-10,10S82.477,301.116,88,301.116z" />































































<path d="M216.668,329.147h-43.001c-5.523,0-10,4.478-10,10s4.477,10,10,10h43.001c5.523,0,10-4.478,10-10
	S222.191,329.147,216.668,329.147z" />































































































































</svg>
                                        </p>
                                        <p>Journal Voucher</p>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Financial/PurchaseInvoiceIndex">
                                        <p style="margin:0px;">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; fill:white;" width="20px" height="20px" xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M501.333,192h-87.47L314.375,47.292c-3.336-4.854-9.977-6.085-14.831-2.749L281.96,56.628
			c-4.855,3.337-6.086,9.978-2.749,14.833L362.082,192H149.918l82.871-120.539c3.337-4.855,2.107-11.496-2.749-14.833
			l-17.585-12.085c-4.854-3.336-11.495-2.105-14.831,2.749L98.137,192h-87.47C4.776,192,0,196.775,0,202.667V224
			c0,5.891,4.776,10.667,10.667,10.667h13.533l65.207,204.938c5.667,17.781,22,29.729,40.656,29.729h251.875
			c18.656,0,34.99-11.948,40.656-29.74l65.206-204.927h13.534c5.891,0,10.667-4.776,10.667-10.667v-21.333
			C512,196.775,507.224,192,501.333,192z" />































































































































        </g>
    </g>
</svg>
                                        </p>

                                        <p>Purchase Entry</p>
                                    </a>

                                </li>

                                <li>
                                    <a href="/Financial/PaymentVoucherIndex">
                                        <p style="margin:0px">
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 469.333 469.333" style="enable-background:new 0 0 469.333 469.333;" xml:space="preserve">
<path style="fill:#303C42;" d="M467.065,366.76c-0.313-0.396-30.938-39.802-40.896-71.302c-2.354-7.5-5.313-18.063-8.708-30.167
	c-16.188-57.906-30.917-107.177-47.25-123.5c-17.698-17.698-86.105-29.508-114.208-33.711V42.667
	C256.002,19.135,236.856,0,213.336,0h-42.667c-5.896,0-10.667,4.771-10.667,10.667c0,17.646-14.354,32-32,32s-32-14.354-32-32
	C96.002,4.771,91.231,0,85.336,0H42.669C19.148,0,0.002,19.135,0.002,42.667v298.667C0.002,364.865,19.148,384,42.669,384h42.667
	c5.896,0,10.667-4.771,10.667-10.667c0-17.646,14.354-32,32-32s32,14.354,32,32c0,5.896,4.771,10.667,10.667,10.667h42.667
	c4.607,0,9.057-1.025,13.413-2.527c9.292,8.62,19.811,15.178,30.837,21.861c21.729,13.188,44.229,26.823,63.854,60.688
	c1.917,3.292,5.417,5.313,9.229,5.313c101.5,0,137.604-91.26,137.958-92.188C469.961,373.656,469.377,369.708,467.065,366.76z
	 M293.481,240.625c-1.938,4.417-4.042,9.25-7,13c-10.681-7.612-21.523-23.746-30.479-40.895v-15.647l33.813,13.531
	c1.646,5.792,4.458,15.167,7.271,22.479C295.794,235.375,294.669,237.917,293.481,240.625z" />































































<path style="fill:#FAFAFA;" d="M128.002,320c-25.75,0-47.313,18.354-52.271,42.667H42.669c-11.771,0-21.333-9.573-21.333-21.333
	V42.667c0-11.76,9.563-21.333,21.333-21.333h33.062C80.69,45.646,102.252,64,128.002,64s47.313-18.354,52.271-42.667h33.063
	c11.771,0,21.333,9.573,21.333,21.333v127.892c-13.319-19.533-35.76-42.628-56.104-46.767c-10.188-2.104-19.229,0.448-26.104,7.333
	c-25.688,25.667-10.979,69.333,9.417,98.927c16.333,23.698,28.458,51.677,30.167,69.625c0.292,2.979,0.417,5.802,0.542,8.594
	c0.655,14.245,1.563,29.083,18.522,54.396h-30.835C175.315,338.354,153.752,320,128.002,320z" />































































<path style="fill:#FDD1B0;" d="M336.627,447.875c-21.708-34.719-47.25-50.208-67.979-62.781
	c-14.542-8.813-27.083-16.427-36.021-28.698c-17.583-24.167-18.083-35.167-18.729-49.104c-0.146-3.135-0.292-6.302-0.604-9.635
	c-2.063-21.583-15.333-52.875-33.833-79.708c-16.458-23.854-27.188-56.479-11.917-71.74c1.25-1.24,2.896-2.25,6.771-1.521
	c16.708,3.406,43.667,34.49,50.458,51.302c8.167,20.229,30.271,68.542,59.146,80.531c3.292,1.333,7.063,0.979,10-0.979
	c10.667-7.104,15.542-18.229,19.104-26.344c1.021-2.333,8.229-14.552,5.854-19.302c-3.25-6.49-8.25-23.865-9.917-30.01
	c-0.875-3.24-3.208-5.875-6.333-7.125l-46.625-18.65v-44.411c38.773,6,89.074,17.135,99.125,27.176
	c13.708,13.708,31.292,76.583,41.792,114.156c3.458,12.375,6.5,23.177,8.917,30.844c8.938,28.333,31.375,60.458,40.5,72.833
	C437.94,391.75,406.169,444.979,336.627,447.875z" />































































<path style="opacity:0.1;enable-background:new    ;" d="M277.336,133.366c-7.272-1.344-14.493-2.608-21.333-3.667v44.411
	l21.333,8.534V133.366z" />































































<path style="opacity:0.1;enable-background:new    ;" d="M337.633,386.792c-25.333-20-43.438-28.907-76-60.667
	c-29.48-28.753-46.324-106.108-100.586-148.456c2.639,13.417,9.525,28.068,18.034,40.404c18.5,26.813,31.781,58.104,33.833,79.708
	c0.323,3.333,0.479,6.51,0.625,9.646c0.646,13.938,1.156,24.938,18.719,49.094c8.927,12.271,21.479,19.885,36.021,28.698
	c20.729,12.573,46.281,28.063,67.979,62.781c20.121-0.837,36.742-6.13,50.887-13.298
	C370.882,415.786,352.567,398.582,337.633,386.792z" />































































<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-68.8156" y1="618.7789" x2="-44.5933" y2="607.4828" gradientTransform="matrix(21.3333 0 0 -21.3333 1430.1111 13315.2227)">
                                            <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2" />































































                                            <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />































































</linearGradient>
<path style="fill:url(#SVGID_1_);" d="M467.065,366.76c-0.313-0.396-30.938-39.802-40.896-71.302
	c-2.354-7.5-5.313-18.063-8.708-30.167c-16.188-57.906-30.917-107.177-47.25-123.5c-17.698-17.698-86.105-29.508-114.208-33.711
	V42.667C256.002,19.135,236.856,0,213.336,0h-42.667c-5.896,0-10.667,4.771-10.667,10.667c0,17.646-14.354,32-32,32
	s-32-14.354-32-32C96.002,4.771,91.231,0,85.336,0H42.669C19.148,0,0.002,19.135,0.002,42.667v298.667
	C0.002,364.865,19.148,384,42.669,384h42.667c5.896,0,10.667-4.771,10.667-10.667c0-17.646,14.354-32,32-32s32,14.354,32,32
	c0,5.896,4.771,10.667,10.667,10.667h42.667c4.607,0,9.057-1.025,13.413-2.527c9.292,8.62,19.811,15.178,30.837,21.861
	c21.729,13.188,44.229,26.823,63.854,60.688c1.917,3.292,5.417,5.313,9.229,5.313c101.5,0,137.604-91.26,137.958-92.188
	C469.961,373.656,469.377,369.708,467.065,366.76z M293.481,240.625c-1.938,4.417-4.042,9.25-7,13
	c-10.681-7.612-21.523-23.746-30.479-40.895v-15.647l33.813,13.531c1.646,5.792,4.458,15.167,7.271,22.479
	C295.794,235.375,294.669,237.917,293.481,240.625z" />































































































































</svg>
                                        </p>
                                        <p>Payment Voucher</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Financial/ContractIndex">
                                        <p style="margin:0px">
                                            <svg height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m95.332031 190.667969c-3.835937 0-7.675781-1.464844-10.605469-4.394531-5.855468-5.859376-5.855468-15.355469 0-21.214844l120.5-120.5c5.859376-5.855469 15.355469-5.855469 21.214844 0 5.855469 5.859375 5.855469 15.355468 0 21.214844l-120.5 120.5c-2.929687 2.929687-6.769531 4.394531-10.609375 4.394531zm0 0" fill="#ff9f00" /><path d="m416.667969 190.667969c-3.839844 0-7.679688-1.464844-10.609375-4.394531l-120.5-120.5c-5.855469-5.859376-5.855469-15.355469 0-21.214844 5.859375-5.855469 15.355468-5.855469 21.214844 0l120.5 120.5c5.855468 5.859375 5.855468 15.355468 0 21.214844-2.925782 2.929687-6.765626 4.394531-10.605469 4.394531zm0 0" fill="#e47500" /><path d="m456.835938 160.667969h-401.667969c-30.421875 0-55.167969 24.746093-55.167969 55.167969v241c0 30.417968 24.746094 55.164062 55.167969 55.164062h401.667969c30.417968 0 55.164062-24.746094 55.164062-55.164062v-241c0-30.421876-24.746094-55.167969-55.164062-55.167969zm0 0" fill="#ff4949" /><path d="m456.835938 160.667969h-200.835938v351.332031h200.835938c30.417968 0 55.164062-24.746094 55.164062-55.164062v-241c0-30.421876-24.746094-55.167969-55.164062-55.167969zm0 0" fill="#ff2323" /><path d="m113.40625 306.769531c0-7.710937 6.589844-12.371093 18.160156-12.371093 13.496094 0 17.191406 6.105468 22.171875 6.105468 5.785157 0 8.355469-7.390625 8.355469-11.085937 0-10.609375-21.050781-12.855469-30.527344-12.855469-18.476562 0-39.046875 8.195312-39.046875 32.136719 0 38.078125 51.578125 30.6875 51.578125 54.789062 0 9.640625-8.351562 13.980469-17.996094 13.980469-16.386718 0-20.726562-12.375-27.3125-12.375-4.980468 0-9.160156 6.75-9.160156 11.25 0 9.316406 16.070313 19.921875 37.117188 19.921875 22.171875 0 38.242187-11.886719 38.242187-34.863281 0-41.621094-51.582031-34.710938-51.582031-54.632813zm0 0" fill="#fef4f5" /><path d="m229.25 283.472656c-1.445312-4.820312-7.390625-7.070312-13.5-7.070312-5.941406 0-11.886719 2.25-13.332031 7.070312l-31.011719 101.0625c-.160156.644532-.320312 1.285156-.320312 1.609375 0 5.140625 7.550781 8.675781 13.175781 8.675781 3.53125 0 6.265625-1.125 7.070312-4.175781l6.101563-21.371093h36.796875l6.105469 21.371093c.808593 3.050781 3.535156 4.175781 7.070312 4.175781 5.625 0 13.175781-3.699218 13.175781-8.675781 0-.484375-.160156-.964843-.320312-1.609375zm-27.476562 69.414063 13.980468-49.332031 13.976563 49.332031zm0 0" fill="#fef4f5" /><path d="m331.757812 376.503906h-39.207031v-92.710937c0-4.5-5.300781-6.429688-10.445312-6.429688-5.296875 0-10.441407 1.929688-10.441407 6.429688v104.441406c0 4.335937 4.5 6.585937 9.160157 6.585937h50.933593c4.175782 0 6.265626-4.660156 6.265626-9.160156 0-4.65625-2.089844-9.15625-6.265626-9.15625zm0 0" fill="#d5eded" /><path d="m415.78125 376.503906h-45.46875v-32.296875h24.421875c4.5 0 6.585937-4.339843 6.585937-8.03125 0-4.339843-2.410156-8.359375-6.585937-8.359375h-24.421875v-32.132812h45.46875c4.179688 0 6.589844-4.339844 6.589844-9.320313 0-4.335937-2.089844-8.996093-6.589844-8.996093h-57.199219c-4.660156 0-9.15625 2.246093-9.15625 6.585937v104.28125c0 4.335937 4.496094 6.585937 9.15625 6.585937h57.199219c4.5 0 6.589844-4.660156 6.589844-9 0-4.980468-2.410156-9.316406-6.589844-9.316406zm0 0" fill="#d5eded" /><path d="m256 0c-30.417969 0-55.167969 24.746094-55.167969 55.167969 0 30.417969 24.75 55.167969 55.167969 55.167969s55.167969-24.75 55.167969-55.167969c0-30.421875-24.746094-55.167969-55.167969-55.167969zm0 0" fill="#a8ebfa" /><path d="m311.167969 55.167969c0-30.421875-24.746094-55.167969-55.167969-55.167969v110.335938c30.421875 0 55.167969-24.75 55.167969-55.167969zm0 0" fill="#76e2f8" /></svg>
                                        </p>
                                        <p>Sales<br />Entry</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Financial/ReceiptVoucherIndex">
                                        <p style="margin:0px">
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 409.221 409.221" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 409.221 409.221">
                                                <path d="m115.921,208.425c0-5.523 4.477-10 10-10h56.421c5.523,0 10,4.477 10,10s-4.477,10-10,10h-56.421c-5.523,0-10-4.477-10-10zm10,54.838h56.421c5.523,0 10-4.477 10-10s-4.477-10-10-10h-56.421c-5.523,0-10,4.477-10,10s4.477,10 10,10zm32.2-159.536c0-19.248 20.421-34.326 46.49-34.326 26.068,0 46.488,15.078 46.488,34.326s-20.42,34.326-46.488,34.326c-26.069,0-46.49-15.078-46.49-34.326zm20,0c0,6.762 11.329,14.326 26.49,14.326 15.16,0 26.488-7.563 26.488-14.326s-11.328-14.326-26.488-14.326c-15.162-1.42109e-14-26.49,7.564-26.49,14.326zm-52.2,81.176h56.421c5.523,0 10-4.477 10-10s-4.477-10-10-10h-56.421c-5.523,0-10,4.477-10,10s4.477,10 10,10zm157.381,155.665h-32.818c-5.522,0-10,4.477-10,10s4.478,10 10,10h32.818c5.522,0 10-4.477 10-10s-4.478-10-10-10zm59.627-330.568v389.221c0,5.523-4.478,10-10,10h-256.637c-5.523,0-10-4.477-10-10v-389.221c0-5.523 4.477-10 10-10h36.662c5.523,0 10,4.477 10,10v14.327h16.662v-14.327c0-5.523 4.477-10 10-10h36.663c5.523,0 10,4.477 10,10v14.327h16.663v-14.327c0-5.523 4.478-10 10-10h36.662c5.522,0 10,4.477 10,10v14.327h16.663v-14.327c0-5.523 4.478-10 10-10h36.661c5.523,0 10.001,4.477 10.001,10zm-20,10h-16.661v14.327c0,5.523-4.478,10-10,10h-36.663c-5.522,0-10-4.477-10-10v-14.327h-16.662v14.327c0,5.523-4.478,10-10,10h-36.663c-5.523,0-10-4.477-10-10v-14.327h-16.663v14.327c0,5.523-4.477,10-10,10h-36.662c-5.523,0-10-4.477-10-10v-14.327h-16.663v369.221h236.637v-369.221zm-39.627,178.425h-32.818c-5.522,0-10,4.477-10,10s4.478,10 10,10h32.818c5.522,0 10-4.477 10-10s-4.478-10-10-10zm0,44.838h-32.818c-5.522,0-10,4.477-10,10s4.478,10 10,10h32.818c5.522,0 10-4.477 10-10s-4.478-10-10-10zm0,48.653h-157.381c-5.523,0-10,4.477-10,10s4.477,10 10,10h157.381c5.522,0 10-4.477 10-10s-4.478-10-10-10z" />
                                            </svg>
                                        </p>
                                        <p>Receipt Voucher</p>
                                    </a>
                                </li>
                                @*<li>
                                    <a href="/Financial/ExpenseVoucherIndex">
                                        <p style="margin:0px">
                                            <svg id="Layer_1" enable-background="new 0 0 256 256" height="20" viewBox="0 0 256 256" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m192.031 86.335-12.059-15.23h-25.897-25.897l-12.059 15.23c-6.112 7.719-9.421 17.143-9.421 26.834 0 24.514 20.734 44.387 46.311 44.387h2.133c25.577 0 46.311-19.873 46.311-44.387-.001-9.691-3.31-19.115-9.422-26.834z" fill="#f9a7a7" /><path d="m189.156 45.792c.593-1.633-.957-3.24-2.742-2.851-5.409 1.178-6.685 4.653-14.213 4.653-9.065 0-9.065-5.038-18.13-5.038-9.064 0-9.064 5.038-18.127 5.038-7.527 0-8.803-3.475-14.21-4.653-1.785-.389-3.335 1.218-2.742 2.851l9.185 25.313h25.897 25.897z" fill="#f9a7a7" /><path d="m156.41 86.123v3.188c2.106.217 3.912.649 5.417 1.299 1.506.649 2.819 1.634 3.941 2.953.885 1.004 1.569 2.037 2.052 3.1.482 1.063.723 2.037.723 2.923 0 .984-.359 1.835-1.077 2.553-.719.719-1.59 1.078-2.613 1.078-1.929 0-3.179-1.043-3.749-3.129-.649-2.46-2.214-4.094-4.694-4.901v12.282c2.44.669 4.384 1.28 5.831 1.83 1.446.551 2.74 1.348 3.882 2.391 1.22 1.083 2.16 2.377 2.819 3.882.659 1.506.989 3.154.989 4.945 0 2.243-.527 4.345-1.58 6.303-1.053 1.959-2.603 3.558-4.65 4.797-2.047 1.24-4.478 1.978-7.292 2.214v7.351c0 1.161-.113 2.008-.34 2.539-.226.531-.723.797-1.491.797-.709 0-1.206-.217-1.491-.649-.286-.433-.428-1.102-.428-2.008v-7.971c-2.303-.256-4.315-.797-6.037-1.624s-3.159-1.855-4.31-3.085-2.003-2.509-2.554-3.838c-.551-1.328-.827-2.632-.827-3.912 0-.945.369-1.796 1.107-2.554.738-.757 1.658-1.137 2.76-1.137.886 0 1.633.207 2.244.62.61.413 1.033.994 1.269 1.742.531 1.614.994 2.849 1.388 3.705.393.856.989 1.638 1.786 2.347s1.855 1.25 3.174 1.624v-13.728c-2.638-.728-4.842-1.54-6.613-2.435-1.772-.895-3.209-2.17-4.311-3.823s-1.653-3.779-1.653-6.377c0-3.385 1.078-6.16 3.233-8.325s5.27-3.425 9.344-3.779v-3.129c0-1.653.62-2.48 1.86-2.48 1.261 0 1.891.808 1.891 2.421zm-3.75 20.253v-11.307c-1.653.492-2.943 1.141-3.868 1.948s-1.387 2.027-1.387 3.661c0 1.555.432 2.731 1.299 3.528.866.797 2.185 1.52 3.956 2.17zm3.75 8.768v12.931c1.987-.393 3.523-1.19 4.605-2.391 1.082-1.2 1.624-2.598 1.624-4.192 0-1.712-.527-3.036-1.579-3.971-1.053-.935-2.603-1.728-4.65-2.377z" fill="#ffea92" /><path d="m155.141 159.556h-2.133c-26.639 0-48.311-20.809-48.311-46.387 0-10.081 3.499-20.052 9.853-28.075l12.059-15.23c.38-.479.957-.759 1.568-.759h51.795c.611 0 1.188.279 1.568.759l12.06 15.23c6.354 8.023 9.853 17.994 9.853 28.075-.001 25.578-21.674 46.387-48.312 46.387zm-25.996-86.452-11.458 14.472c-5.797 7.32-8.989 16.409-8.989 25.593 0 23.372 19.878 42.387 44.311 42.387h2.133c24.434 0 44.312-19.015 44.312-42.387 0-9.184-3.192-18.272-8.989-25.593l-11.459-14.472z" fill="#3762cc" /><path d="m179.972 73.104h-51.795c-.842 0-1.593-.526-1.88-1.317l-9.185-25.313c-.516-1.422-.223-2.955.781-4.103 1.048-1.199 2.684-1.729 4.267-1.385 2.439.531 4.168 1.492 5.693 2.34 2.188 1.216 4.078 2.267 8.091 2.267 4.014 0 5.903-1.051 8.092-2.268 2.337-1.299 4.985-2.771 10.035-2.771 5.051 0 7.699 1.472 10.036 2.771 2.188 1.217 4.079 2.268 8.094 2.268 4.014 0 5.904-1.051 8.093-2.267 1.525-.848 3.254-1.809 5.694-2.34 1.582-.344 3.22.186 4.269 1.386 1.004 1.147 1.295 2.681.779 4.102l-9.185 25.313c-.287.791-1.038 1.317-1.879 1.317zm-50.393-4h48.99l8.707-23.995c.011-.03.018-.049-.03-.104-.034-.038-.159-.162-.406-.11-1.865.406-3.195 1.146-4.603 1.928-2.337 1.299-4.985 2.771-10.036 2.771s-7.7-1.472-10.037-2.771c-2.188-1.216-4.079-2.267-8.093-2.267s-5.903 1.051-8.092 2.268c-2.337 1.299-4.985 2.771-10.035 2.771s-7.698-1.472-10.034-2.771c-1.408-.782-2.738-1.521-4.602-1.928-.244-.053-.371.071-.405.11-.049.056-.042.074-.03.105zm59.577-23.312h.01z" fill="#3762cc" /><path d="m181.121 76.229h-53.835c-2.082 0-3.771-1.688-3.771-3.771v-2.463c0-2.082 1.688-3.771 3.771-3.771h53.835c2.082 0 3.771 1.688 3.771 3.771v2.463c0 2.083-1.688 3.771-3.771 3.771z" fill="#e0ebfc" /><path d="m181.121 78.229h-53.835c-3.182 0-5.771-2.589-5.771-5.771v-2.463c0-3.182 2.589-5.771 5.771-5.771h53.835c3.182 0 5.771 2.589 5.771 5.771v2.463c0 3.183-2.589 5.771-5.771 5.771zm-53.835-10.004c-.977 0-1.771.794-1.771 1.771v2.463c0 .977.794 1.771 1.771 1.771h53.835c.977 0 1.771-.795 1.771-1.771v-2.463c0-.977-.794-1.771-1.771-1.771z" fill="#3762cc" /><path d="m174.491 10.193c-7.17-1.787-14.583-2.693-22.033-2.693-.535 0-1.071.005-1.608.014-21.459.375-42.135 8.345-58.219 22.438-1.545 1.353-2.456 3.298-2.499 5.336-.043 2.021.773 3.982 2.24 5.385.92.877 2.057 1.503 3.286 1.809.587.147 1.192.222 1.797.222 1.815 0 3.572-.661 4.945-1.863 13.458-11.782 30.755-18.443 48.705-18.757.449-.008.898-.012 1.348-.012 6.236 0 12.441.759 18.441 2.255 33.513 8.355 56.97 38.057 57.043 72.228.089 40.087-31.572 72.918-72.08 74.742-1.153.052-2.328.078-3.491.078-6.239 0-12.444-.759-18.443-2.255-30.337-7.563-53.068-33.268-56.565-63.962l-.309-2.715 4.097-.07c.988-.018 1.88-.611 2.272-1.513.399-.919.235-1.913-.438-2.66l-11.218-12.449c-.343-.379-.767-.634-1.265-.759-.209-.052-.421-.078-.631-.078-.749 0-1.431.321-1.919.904l-10.779 12.833c-.557.663-.731 1.548-.466 2.364.27.834.933 1.456 1.775 1.665.208.052.414.075.649.075.001 0 1.988-.034 3.207-.056l.213 2.292c3.49 37.571 30.728 69.021 67.778 78.261 7.17 1.786 14.583 2.692 22.031 2.692 1.318 0 2.664-.029 4.001-.087 47.361-2.046 85.259-40.34 86.277-87.181.913-41.865-27.109-78.251-68.142-88.483z" fill="#6bdddd" /><path d="m238.216 185.585c-4.609-7.918-14.818-10.631-22.801-6.06l-37.989 21.753c-2.678 1.533-5.809 2.076-8.847 1.534l-49.562-8.849-6.889-.788h40.674c9.143 0 16.555-7.412 16.555-16.555 0-2.873-2.329-5.203-5.203-5.203h-47.022c-3.296 0-6.553.715-9.546 2.096l-30.849 14.235c-4.821 2.225-10.068 3.377-15.377 3.377h-1.044v43.516h9.104l103.709-9.106c.075-.007.149-.012.224-.018l2.993-.244c2.45-.251 4.82-1.013 6.957-2.236l52.994-30.345c2.508-1.436 3.367-4.618 1.919-7.107z" fill="#f9cfcf" /><path d="m44.335 248.5h-30.99v-75.153h30.99c1.562 0 2.829 1.266 2.829 2.829v69.495c-.001 1.563-1.267 2.829-2.829 2.829z" fill="#4671c6" /><path d="m44.335 250.5h-30.99c-1.104 0-2-.896-2-2v-75.152c0-1.104.896-2 2-2h30.99c2.662 0 4.828 2.166 4.828 4.828v69.495c0 2.663-2.166 4.829-4.828 4.829zm-28.99-4h28.99c.457 0 .828-.372.828-.829v-69.495c0-.457-.371-.828-.828-.828h-28.99z" fill="#3762cc" /><path d="m57.746 180.863h-10.583v62.001h10.582c1.419 0 2.569-1.15 2.569-2.569v-56.862c.001-1.42-1.149-2.57-2.568-2.57z" fill="#e0ebfc" /><g fill="#3762cc"><path d="m57.746 244.863h-10.583c-1.104 0-2-.896-2-2v-62.001c0-1.104.896-2 2-2h10.583c2.52 0 4.569 2.05 4.569 4.569v56.862c0 2.52-2.049 4.57-4.569 4.57zm-8.583-4h8.583c.313 0 .569-.256.569-.569v-56.862c0-.313-.256-.569-.569-.569h-8.583z" /><path d="m69.419 236.642h-9.104c-1.104 0-2-.896-2-2v-43.516c0-1.104.896-2 2-2h1.044c4.984 0 10.012-1.104 14.539-3.193l30.849-14.235c3.234-1.491 6.825-2.28 10.385-2.28h47.022c3.972 0 7.202 3.231 7.202 7.203 0 10.231-8.323 18.556-18.555 18.556h-15.62l31.748 5.669c2.573.459 5.235-.003 7.502-1.301l37.988-21.754c8.925-5.108 20.372-2.062 25.524 6.789.969 1.665 1.228 3.604.729 5.463-.5 1.865-1.702 3.423-3.384 4.386l-52.994 30.346c-2.395 1.371-5.001 2.209-7.746 2.49l-3.238.264-103.718 9.106c-.056.004-.114.007-.173.007zm-7.104-4h7.016l103.848-9.116 3.005-.244c2.144-.221 4.219-.888 6.124-1.979l52.994-30.346c.751-.43 1.287-1.123 1.509-1.951.22-.82.105-1.679-.323-2.415-4.052-6.959-13.06-9.348-20.079-5.33l-37.988 21.754c-3.08 1.765-6.697 2.393-10.193 1.768l-49.499-8.839-6.827-.78c-1.054-.121-1.829-1.043-1.77-2.102.061-1.059.937-1.886 1.997-1.886h40.674c8.025 0 14.555-6.529 14.555-14.556 0-1.767-1.437-3.203-3.202-3.203h-47.022c-2.985 0-5.997.661-8.709 1.913l-30.849 14.235c-4.76 2.195-10.015 3.416-15.259 3.549v39.528z" /></g></svg>
                                        </p>
                                        <p>Expense Voucher</p>
                                    </a>
                                </li>*@



                                <li>
                                    <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <p style="margin:0px">
                                            <svg height="20" viewBox="-63 0 479 480" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m320.5 24h-80v-16c0-4.417969-3.582031-8-8-8h-112c-4.417969 0-8 3.582031-8 8v16h-80c-17.671875 0-32 14.328125-32 32v392c0 17.671875 14.328125 32 32 32h288c17.671875 0 32-14.328125 32-32v-392c0-17.671875-14.328125-32-32-32zm-192-8h96v32h-96zm208 432c0 8.835938-7.164062 16-16 16h-288c-8.835938 0-16-7.164062-16-16v-392c0-8.835938 7.164062-16 16-16h80v16c0 4.417969 3.582031 8 8 8h112c4.417969 0 8-3.582031 8-8v-16h80c8.835938 0 16 7.164062 16 16zm0 0" /><path d="m136.5 80h184v16h-184zm0 0" /><path d="m32.5 80h96v16h-96zm0 0" /><path d="m32.5 104h144v16h-144zm0 0" /><path d="m184.5 104h136v16h-136zm0 0" /><path d="m232.5 224c8.835938 0 16 7.164062 16 16h16c-.054688-14.546875-9.914062-27.226562-24-30.863281v-9.136719h-16v9.136719c-15.585938 4.011719-25.753906 18.992187-23.71875 34.957031 2.03125 15.96875 15.625 27.925781 31.71875 27.90625 8.835938 0 16 7.164062 16 16s-7.164062 16-16 16-16-7.164062-16-16h-16c.054688 14.546875 9.914062 27.226562 24 30.863281v9.136719h16v-9.136719c15.585938-4.011719 25.753906-18.992187 23.71875-34.957031-2.03125-15.96875-15.625-27.925781-31.71875-27.90625-8.835938 0-16-7.164062-16-16s7.164062-16 16-16zm0 0" /><path d="m232.5 176c-48.601562 0-88 39.398438-88 88s39.398438 88 88 88 88-39.398438 88-88c-.058594-48.578125-39.421875-87.941406-88-88zm0 160c-39.765625 0-72-32.234375-72-72s32.234375-72 72-72 72 32.234375 72 72c-.042969 39.746094-32.253906 71.957031-72 72zm0 0" /><path d="m136.5 416h184v16h-184zm0 0" /><path d="m32.5 416h96v16h-96zm0 0" /><path d="m32.5 440h144v16h-144zm0 0" /><path d="m184.5 440h136v16h-136zm0 0" /><path d="m40.5 264h80c4.417969 0 8-3.582031 8-8v-48c0-4.417969-3.582031-8-8-8h-80c-4.417969 0-8 3.582031-8 8v48c0 4.417969 3.582031 8 8 8zm8-48h64v32h-64zm0 0" /><path d="m40.5 336h80c4.417969 0 8-3.582031 8-8v-48c0-4.417969-3.582031-8-8-8h-80c-4.417969 0-8 3.582031-8 8v48c0 4.417969 3.582031 8 8 8zm8-48h64v32h-64zm0 0" /><path d="m40.5 408h80c4.417969 0 8-3.582031 8-8v-48c0-4.417969-3.582031-8-8-8h-80c-4.417969 0-8 3.582031-8 8v48c0 4.417969 3.582031 8 8 8zm8-48h64v32h-64zm0 0" /><path d="m40.5 192h80c4.417969 0 8-3.582031 8-8v-48c0-4.417969-3.582031-8-8-8h-80c-4.417969 0-8 3.582031-8 8v48c0 4.417969 3.582031 8 8 8zm8-48h64v32h-64zm0 0" /></svg>
                                        </p>
                                        <p>Financial Report</p>
                                    </a>
                                    <ul class="dropdown-menu multi-level">
                                        @*<li><a href="">Income Details</a></li>
                                          <li><a href="">Expense Details</a></li>*@
                                        <li><a href="/Financial/TrialBalanceReport">Trial Balance</a></li>
                                        <li><a href="/Financial/ProfitLossIndex">Profit & Loss</a></li>
                                        <li><a href="/Financial/BalanceSheetIndex">Balance Sheet</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pt-10 pb-10">

            @RenderBody()
        </div>
    </div>
</div>
