﻿@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content-wrapper">
    <div class="content-header" style="padding:0 15px; background-color:#2c688a;">
        <div class="row">
            <div class="col-sm-12">
                <div class="purchase-menu pt-5 pb-5">
                    <nav class="navbar navbar-inverse">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="javascript:void()"></a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                

                                <li>
                                    <a href="/Help/AboutUsIndex">
                                        <p style="margin:0px">
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 502.643 502.643" style="enable-background:new 0 0 502.643 502.643;" xml:space="preserve">

                                            <g>
                                            <path d="M251.256,237.591c37.166,0,67.042-30.048,67.042-66.977c0.043-37.037-29.876-66.999-67.042-66.999
			c-36.908,0-66.869,29.962-66.869,66.999C184.387,207.587,214.349,237.591,251.256,237.591z" />







                                            <path d="M305.032,248.506H197.653c-19.198,0-34.923,17.602-34.923,39.194v107.854c0,1.186,0.604,2.243,0.669,3.473h175.823
			c0.129-1.229,0.626-2.286,0.626-3.473V287.7C339.912,266.108,324.187,248.506,305.032,248.506z" />







                                            <path d="M431.588,269.559c29.832,0,53.754-24.008,53.754-53.668s-23.922-53.711-53.754-53.711
			c-29.617,0-53.582,24.051-53.582,53.711C377.942,245.53,401.972,269.559,431.588,269.559z" />







                                            <path d="M474.708,278.317h-86.046c-15.445,0-28.064,14.107-28.064,31.472v86.413c0,0.928,0.453,1.812,0.518,2.826h141.03
			c0.065-1.014,0.496-1.898,0.496-2.826v-86.413C502.707,292.424,490.11,278.317,474.708,278.317z" />







                                            <path d="M71.011,269.559c29.789,0,53.733-24.008,53.733-53.668S100.8,162.18,71.011,162.18c-29.638,0-53.603,24.051-53.603,53.711
			S41.373,269.559,71.011,269.559L71.011,269.559z" />







                                            <path d="M114.109,278.317H27.977C12.576,278.317,0,292.424,0,309.789v86.413c0,0.928,0.453,1.812,0.539,2.826h141.03
			c0.065-1.014,0.475-1.898,0.475-2.826v-86.413C142.087,292.424,129.489,278.317,114.109,278.317z" />

	
</svg>

                                        </p>
                                        <p>About eVisualSoft</p>
                                    </a>
                                </li>


                            
                                <li>
                                    <a href="/Help/OnlineIndex">
                                        <p style="margin:0px">
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
<g>
                                            <g>
                                            <g>
                                            <path d="M503.467,67.168c-0.916-2.391-2.982-4.155-5.486-4.687c-2.506-0.532-5.109,0.239-6.919,2.049l-35.73,35.73
				c-1.008,1.008-2.651,1.009-3.66,0l-23.203-23.204c-1.009-1.009-1.009-2.651,0-3.66l35.73-35.73
				c1.81-1.81,2.581-4.414,2.049-6.919c-0.533-2.504-2.297-4.569-4.687-5.486c-26.862-10.302-57.353-3.825-77.679,16.501
				c-18.895,18.895-25.839,46.718-18.373,72.138l-26.461,24.197c-4.001-2.12-8.124-4.022-12.341-5.675l1.078-14.129
				c0.563-7.36-4.504-13.832-11.784-15.055l-18.646-3.131c-7.283-1.222-14.182,3.24-16.055,10.378l-3.597,13.707
				c-3.963,0.162-7.919,0.521-11.842,1.075l-3.554-7.572v-17.092c0-0.004,0-0.007,0-0.011v-0.088c0-0.109-0.01-0.196-0.013-0.295
				c-0.005-0.126-0.006-0.253-0.017-0.379c-0.004-0.048-0.012-0.089-0.018-0.135c-0.123-1.155-0.509-2.3-1.191-3.339
				c-2.29-3.491-6.978-4.461-10.468-2.173c-8.046,5.28-27.211,8.523-37.409,8.523c-24.983,0-49.047-8.926-69.477-25.223
				l-23.844-25.701c4.561-6.826,9.71-12.71,15.363-17.52c23.68-20.15,51.514-19.141,51.772-19.125
				c17.593,0.908,34.274,8.877,49.582,23.682c13.639,13.193,23.823,31.989,30.269,55.865c1.088,4.031,5.238,6.419,9.269,5.328
				c4.031-1.089,6.417-5.238,5.328-9.269c-7.167-26.549-18.726-47.675-34.355-62.793c-18.008-17.42-37.964-26.812-59.312-27.915
				c-1.369-0.069-33.948-1.46-62.35,22.71c-8.156,6.94-15.374,15.655-21.462,25.902c-0.003,0.005-0.006,0.008-0.009,0.013
				c-0.01,0.017-0.02,0.034-0.03,0.051c-0.02,0.034-0.042,0.068-0.063,0.102c-0.005,0.008-0.007,0.016-0.012,0.024
				c-5.659,9.109-9.634,19.034-11.807,29.503c-1.935,9.328-2.389,18.874-1.348,28.37c0.238,2.166,1.399,4.125,3.185,5.374
				c1.281,0.896,2.795,1.363,4.33,1.363c0.605,0,1.213-0.073,1.81-0.22c1.892-0.467,3.764-0.991,5.615-1.57v46.707
				c0,26.335,13.077,49.66,33.065,63.867v12.471c0,6.148-3.293,11.784-8.71,15.738c-0.258,0.154-0.51,0.323-0.751,0.509
				c-3.149,2.136-6.937,3.738-11.19,4.569l-34.903,6.834c-32.353,6.335-54.95,30.58-54.95,58.959v105.839
				c0,18.661,7.145,36.325,20.119,49.736l19.339,19.992h-56.4c-4.175,0-7.56,3.385-7.56,7.56s3.385,7.56,7.56,7.56h74.232h5.238
				h189.187H290.2h65.638c4.175,0,7.56-3.385,7.56-7.56s-3.385-7.56-7.56-7.56h-49.713l18.601-22.797
				c11.427-14.006,17.721-31.674,17.721-49.749v-75.624c4.388-2.515,8.636-5.298,12.676-8.341l11.5,8.319
				c2.522,1.825,5.433,2.713,8.32,2.713c3.957,0,7.871-1.67,10.673-4.889l12.417-14.258c4.85-5.566,4.653-13.784-0.454-19.113
				l-9.799-10.227c2.614-4.691,4.912-9.56,6.874-14.563l14.13,1.079c7.369,0.553,13.832-4.505,15.054-11.784l3.131-18.647
				c1.222-7.279-3.24-14.181-10.378-16.054l-13.707-3.597c-0.162-3.964-0.521-7.919-1.074-11.842l12.82-6.019
				c6.681-3.136,9.819-10.732,7.297-17.67l-6.459-17.769c-2.256-6.205-8.32-9.895-14.683-9.257l12.62-13.991
				c25.827,8.188,54.196,1.413,73.563-17.954C507.292,124.521,513.769,94.03,503.467,67.168z M262.305,158.362v-17.216
				c0.192-0.021,0.381-0.023,0.573-0.06c6.769-1.301,13.714-1.93,20.616-1.871c0.022,0,0.044,0,0.067,0
				c3.433,0,6.439-2.315,7.312-5.641l4.832-18.414l16.938,2.845l-1.449,18.983c-0.263,3.45,1.851,6.64,5.131,7.742
				c3.662,1.23,7.258,2.673,10.765,4.303l-14.284,13.063c-4.775-1.686-9.713-2.966-14.738-3.809
				c-11.968-2.01-24.152-1.508-35.795,1.418C262.278,159.255,262.305,158.812,262.305,158.362z M260.263,176.059
				c11.299-3.857,23.422-4.856,35.297-2.862c1.406,0.236,2.804,0.515,4.191,0.832L232.01,235.98
				c-0.031-0.424-0.069-0.848-0.069-1.278v-14.479C245.927,209.354,256.135,193.864,260.263,176.059z M111.454,93.156
				c-0.967,0.23-1.86,0.642-2.643,1.204c-1.163,0.504-2.336,0.989-3.526,1.436c0.063-4.829,0.587-9.64,1.57-14.383
				c1.051-5.068,2.632-9.975,4.678-14.696c4.869,5.967,10.064,11.464,15.544,16.458c-5.554,4.469-10.293,7.222-12.454,8.384
				C113.584,92.118,112.523,92.644,111.454,93.156z M120.764,158.363v-52.959c0.339-0.176,0.682-0.346,1.018-0.526
				c2.891-1.553,9.644-5.488,17.214-11.95c22.044,16.124,47.617,24.899,74.193,24.899c8.156,0,22.653-1.71,33.943-5.299
				l0.054,45.836c0,34.855-28.356,63.211-63.21,63.211S120.764,193.218,120.764,158.363z M327.328,424.334h-0.002
				c0,14.602-5.083,28.875-14.316,40.19l-11.878,14.558V358.997c0-11.968-8.686-21.939-20.085-23.956
				c0.486-4.175,2.564-7.981,5.9-10.659l7.984-6.409c3.256-2.614,3.777-7.372,1.163-10.627c-2.614-3.256-7.372-3.778-10.627-1.163
				l-7.984,6.409c-6.839,5.49-10.965,13.426-11.582,22.07H146.259c-4.175,0-7.56,3.385-7.56,7.56s3.385,7.56,7.56,7.56h130.538
				c5.082,0,9.217,4.135,9.217,9.216v131.788c0,3.36-2.734,6.093-6.093,6.093H90.731c-0.933,0-1.815-0.218-2.607-0.595l-2.986-3.087
				c-0.32-0.741-0.501-1.555-0.501-2.413V358.998c0-5.082,4.135-9.216,9.216-9.216h22.521c4.175,0,7.56-3.385,7.56-7.56
				s-3.385-7.56-7.56-7.56h-14.999c-0.617-8.645-4.744-16.581-11.582-22.07l-7.984-6.409c-3.257-2.615-8.015-2.093-10.627,1.163
				c-2.614,3.256-2.093,8.015,1.163,10.627l7.984,6.41c3.554,2.852,5.67,6.99,5.962,11.487
				c-9.727,3.188-16.774,12.348-16.774,23.128V477.05l-10.326-10.675c-10.231-10.577-15.867-24.507-15.867-39.224V321.313
				c0-21.051,17.574-39.194,42.735-44.122l34.903-6.834c4.418-0.865,8.528-2.302,12.246-4.202c4.519,3.458,9.367,6.459,14.472,8.954
				c1.068,0.522,2.199,0.769,3.314,0.769c2.797,0,5.487-1.559,6.798-4.242c1.834-3.751,0.278-8.278-3.473-10.111
				c-3.017-1.475-5.921-3.171-8.699-5.06c5.202-6.107,8.209-13.652,8.209-21.763v-4.048c9.285,3.886,19.468,6.041,30.146,6.041
				c11.726,0,22.85-2.608,32.847-7.246v5.254c0,8.107,3.003,15.648,8.201,21.755c-11.655,7.913-25.466,12.211-39.698,12.211
				c-2.89,0-5.799-0.175-8.648-0.522c-4.145-0.508-7.914,2.446-8.418,6.591c-0.505,4.145,2.446,7.914,6.591,8.418
				c3.451,0.42,6.975,0.633,10.474,0.633c18.895,0,37.179-6.241,52.096-17.643c3.725,1.905,7.84,3.347,12.267,4.213l34.903,6.834
				c4.954,0.97,9.609,2.46,13.899,4.376c0.329,0.178,0.665,0.335,1.011,0.461c16.921,7.936,27.825,22.706,27.825,39.284V424.334z
				 M314.143,272.85l39.978-44.323c2.066,9.12,2.346,18.604,0.775,27.956c-2.451,14.595-9.274,27.948-19.473,38.425
				C330.515,286.204,323.224,278.636,314.143,272.85z M401.552,192.028l5.868,16.142l-17.22,8.083
				c-3.13,1.47-4.865,4.875-4.211,8.271c1.301,6.768,1.93,13.704,1.87,20.616c-0.03,3.461,2.293,6.5,5.641,7.379l18.414,4.832
				l-2.845,16.939l-18.983-1.449c-3.448-0.264-6.639,1.851-7.742,5.131c-2.594,7.72-6.092,15.133-10.401,22.035
				c-1.832,2.933-1.438,6.737,0.955,9.233l13.163,13.737l-11.28,12.952l-15.436-11.166c-2.8-2.026-6.618-1.895-9.273,0.319
				c-2.446,2.039-4.997,3.968-7.628,5.784v-9.553c0-3.785-0.414-7.494-1.187-11.099c15.116-13.254,25.2-31.289,28.548-51.226
				c2.471-14.713,1.146-29.696-3.798-43.64l16.529-18.326c0.2-0.037,0.398-0.075,0.597-0.127L401.552,192.028z M476.275,134.156
				c-16.354,16.353-40.807,21.378-62.295,12.804c-2.94-1.173-6.297-0.39-8.416,1.958l-53.584,59.408
				c-0.22,0.217-0.427,0.445-0.618,0.684l-51.302,56.878c-3.991-1.48-8.184-2.676-12.564-3.534l-34.903-6.834
				c-4.252-0.833-8.041-2.433-11.189-4.569c-0.242-0.187-0.494-0.357-0.753-0.511c-0.381-0.278-0.741-0.572-1.1-0.866
				l139.778-127.824c2.274-2.08,3.058-5.333,1.982-8.22c-7.891-21.156-2.685-45.131,13.261-61.077
				c13.168-13.169,31.719-19.001,49.688-16.233l-26.482,26.483c-3.345,3.345-5.187,7.791-5.187,12.521
				c0,4.731,1.842,9.177,5.187,12.521l23.203,23.204c6.905,6.905,18.139,6.905,25.043,0l26.482-26.482
				C495.276,102.434,489.442,120.988,476.275,134.156z" />







                                            <path d="M183.52,189.164c8.454,0,16.402-3.292,22.379-9.271c2.952-2.952,2.952-7.739,0-10.691c-2.951-2.953-7.739-2.952-10.691,0
				c-3.122,3.122-7.274,4.841-11.689,4.841c-4.415,0-8.566-1.719-11.689-4.841c-2.951-2.952-7.738-2.952-10.691,0
				c-2.952,2.951-2.952,7.739,0,10.691C167.117,185.872,175.066,189.164,183.52,189.164z" />







		</g>
	</g>
</g>
<g>
                                            <g>
                                            <circle cx="155.909" cy="128.118" r="7.844" />







	</g>
</g>
<g>
                                            <g>
                                            <circle cx="209.253" cy="128.118" r="7.844" />







	</g>
</g>
<g>
                                            <g>
                                            <path d="M185.325,397.395c-14.302,0-25.937,11.635-25.937,25.937c0,14.302,11.635,25.937,25.937,25.937
			s25.937-11.635,25.937-25.937C211.262,409.03,199.627,397.395,185.325,397.395z M185.325,434.147
			c-5.964,0-10.817-4.853-10.817-10.817c0-5.964,4.853-10.817,10.817-10.817s10.817,4.853,10.817,10.817
			C196.142,429.295,191.289,434.147,185.325,434.147z" />







	</g>
</g>

</svg>
                                        </p>
                                        <p>Support Online</p>
                                    </a>
                                </li>

                                

                                <li>
                                    <a href="/Help/HelpIndex">
                                        <p style="margin:0px">
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
                                            <g>
                                            <g>
                                            <circle cx="256" cy="378.5" r="25" />







                                            <path d="M256,0C114.516,0,0,114.497,0,256c0,141.484,114.497,256,256,256c141.484,0,256-114.497,256-256
				C512,114.516,397.503,0,256,0z M256,472c-119.377,0-216-96.607-216-216c0-119.377,96.607-216,216-216
				c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z" />







                                            <path d="M256,128.5c-44.112,0-80,35.888-80,80c0,11.046,8.954,20,20,20s20-8.954,20-20c0-22.056,17.944-40,40-40
				c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40c-11.046,0-20,8.954-20,20v50c0,11.046,8.954,20,20,20
				c11.046,0,20-8.954,20-20v-32.531c34.466-8.903,60-40.26,60-77.469C336,164.388,300.112,128.5,256,128.5z" />







		</g>
	</g>
</g>

</svg>
                                        </p>
                                        <p>Help </p>
                                    </a>
                                </li>
                             
                                                         
                               
                                <li>
                                    <a href="/Help/ContactUs">
                                        <p style="margin:0px">
                                            <svg height="20" viewBox="0 0 64 64" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Contact-3" data-name="Contact"><path d="m43 3c9.94 0 18 6.27 18 14s-8.06 14-18 14c-.32 0-.63-.02-.95-.04l-8.05 6.04 1.61-7.24c-6.25-2.2-10.61-7.08-10.61-12.76 0-7.73 8.06-14 18-14z" fill="#00ccb3" /><path d="m17 58 7-7v-2.91l2.58.7a6.013 6.013 0 0 1 4.42 5.79v6.42h-28v-6.42a6.013 6.013 0 0 1 4.42-5.79l2.58-.7v2.91z" fill="#5aaae7" /><path d="m24 51-7 7-7-7v-2.91l2.64-.72 4.36 3.63 4.36-3.63 2.64.72z" fill="#e6e7e8" /><path d="m21.36 47.37-4.36 3.63-4.36-3.63 1.36-.37v-2.58a8.049 8.049 0 0 0 6 0v2.58z" fill="#ffb655" /><path d="m20 44.42a8 8 0 0 1 -11-7.42v-2h3.69a7.985 7.985 0 0 0 5.65-2.34l1.66-1.66.34.68a5.986 5.986 0 0 0 4.67 3.28l-.01.04v2a8.008 8.008 0 0 1 -5 7.42z" fill="#ffc477" /><path d="m26 32v3h-.29a5.374 5.374 0 0 1 -.7-.04 5.986 5.986 0 0 1 -4.67-3.28l-.34-.68-1.66 1.66a7.985 7.985 0 0 1 -5.65 2.34h-4.69v-3a9 9 0 0 1 18 0z" fill="#8b5e3c" /><path d="m43 2c-10.477 0-19 6.729-19 15 0 5.673 4.07 10.851 10.444 13.388l-1.421 6.4a1 1 0 0 0 1.577 1.012l7.761-5.821c.212.011.424.021.639.021 10.477 0 19-6.729 19-15s-8.523-15-19-15zm0 28c-.2 0-.4-.011-.591-.021l-.319-.015a1.039 1.039 0 0 0 -.64.2l-5.888 4.415 1.024-4.605a1 1 0 0 0 -.646-1.161c-6.04-2.121-9.94-6.757-9.94-11.813 0-7.168 7.626-13 17-13s17 5.832 17 13-7.626 13-17 13z" /><path d="m32 16h22v2h-22z" /><path d="m32 12h22v2h-22z" /><path d="m32 20h22v2h-22z" /><path d="m26.843 47.825-5.843-1.589v-1.186a9 9 0 0 0 5-8.05v-1a1 1 0 0 0 1-1v-3a10 10 0 0 0 -20 0v3a1 1 0 0 0 1 1v1a9 9 0 0 0 5 8.05v1.186l-5.846 1.59a7.03 7.03 0 0 0 -5.154 6.754v6.42a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1v-6.42a7.031 7.031 0 0 0 -5.157-6.755zm-15.843 1.027 1.4-.38 3.6 3v2.528h2v-2.531l3.6-3 1.4.38v1.734l-6 6-6-6zm-2-16.852a8 8 0 0 1 16 0v1.951a4.969 4.969 0 0 1 -3.764-2.715l-.341-.683a1 1 0 0 0 -1.6-.26l-1.659 1.657a6.954 6.954 0 0 1 -4.949 2.05h-3.687zm1 5v-1h2.687a8.937 8.937 0 0 0 6.363-2.636l.7-.7a6.943 6.943 0 0 0 4.25 3.123v1.213a7 7 0 0 1 -14 0zm7 9a8.971 8.971 0 0 0 2-.232v1.232a.989.989 0 0 0 .349.743l-2.349 1.957-2.349-1.956a.989.989 0 0 0 .349-.744v-1.232a8.971 8.971 0 0 0 2 .232zm13 14h-26v-5.42a5.024 5.024 0 0 1 3.683-4.825l1.317-.355v1.6a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l7-7a1 1 0 0 0 .293-.707v-1.6l1.314.358a5.026 5.026 0 0 1 3.686 4.822z" /><path d="m21 38h-2a2 2 0 0 1 -4 0h-2a4 4 0 0 0 8 0z" /></g></svg>
                                        </p>
                                        <p>Contact Us</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="content">

        <div class="pt-10 pb-10">




            @RenderBody()
        </div>
    </div>
</div>

