﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>eVisualSoft</title>
    <link rel="icon" href="~/Assets/images/favicon.png" sizes="16x16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <link type="text/css" href="~/Content/main.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/skin-blue.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/AdminLTE.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/jquery-confirm.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/jquery-ui.css" rel="stylesheet" />


    <script src="~/js/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/Scripts/bootstrap.min.js"></script>
    <script src="~/js/Scripts/adminlte.min.js"></script>
    <script src="~/js/Scripts/demo.js"></script>
    <script src="~/js/Scripts/jquery-confirm.min.js"></script>
    <script src="~/js/Scripts/jquery-ui.js"></script>
    <script src="~/js/AlertPopup.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->

</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">


        <header class="main-header">

            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>L</b>SP</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Logo</b>SP</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar">



                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>


                <div class="navbar-custom-menu">

                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user-circle fa-fw" style="font-size:18px;"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <p>
                                        Administrator
                                    </p>
                                </li>
                                <!-- Menu Footer-->

                                <li class="user-footer">
                                    @*<label>profile</label>*@

                                    <label><a asp-area="" asp-controller="Home" asp-action="Login">Logout</a></label>

                                </li>
                            </ul>
                        </li>


                        @*<li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i> Quick Access</a>
                            </li>*@
                    </ul>
                </div>

                <div>
                    <h4 style="color:white"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.companyname</b></h4>


                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="/Home/Dashboard">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Master/Index">
                            <i class="fa fa-desktop"></i> <span>Master</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Tools/Index">
                            <i class="fa fa-gear"></i> <span>Tools</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Contract/Index">
                            <i class="fa fa-book"></i> <span>Contract</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Financial/Index">
                            <i class="fa fa-bank"></i> <span>Financial</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ControlPanel/Index">
                            <i class="fa fa-server"></i> <span>Control Panel</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Vat/Index">
                            <i class="fa fa-money"></i> <span>Vat</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Help/Index">
                            <i class="fa fa-question"></i> <span>Help</span>
                        </a>
                    </li>

                   

                </ul>
            </section>
        </aside>


        <!-- Content Body -->
        <div>
            @RenderBody()
        </div>
        <!-- Content Body Ends -->
        <!-- Footer Starts -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="http://evisualsoft.com" target="_blank">eVisualSoft</a>.</strong> All rights reserved.
           
        </footer>
        <!-- Footer Ends -->
    </div>


    <aside class="control-sidebar control-sidebar-dark" style="display: none;">
        <div class="quick-access">
            <h1>Quick Access</h1>
            <ul>
                <li>
                    <a href="javascript:void()">
                        Dummy Link 1
                    </a>
                </li>

                <li>
                    <a href="javascript:void()">
                        Dummy Link 2
                    </a>
                </li>
            </ul>
        </div>
    </aside>


    @RenderSection("scripts", required: false)

</body>
</html>

