﻿@model VehicleServiceManagement.Models.WorkTask
@{
    ViewData["Title"] = "CreateWorkTask";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<form asp-action="CreateWorkTask" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Create Work Task</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            
                                            <div class="col-sm-6">

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Department: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.Depart, "-- Select Department--", new { onchange = @"ChangeDepartment();", @class = "form-control form-control-spl " })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Employee: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.Emp, "-- Select Employee--", new { @class = "form-control form-control-spl ", @placeholder = "Select Employee*" })

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Start Date: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="StartDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Target Date: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="TargetDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                                    
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Priority: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.Priority, (IEnumerable<SelectListItem>)ViewBag.Priority, "-- Select Priority--", new { @class = "form-control form-control-spl ", @placeholder = "Select Priority*" })

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Status: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.Status, "-- Select Status--", new { @class = "form-control form-control-spl ", @placeholder = "Select Status*" })

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Complete %: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="CompletePercentage" type="number" class="form-control form-control-spl" />

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remark: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Remark" type="text" class="form-control form-control-spl" />

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                                                                                                               
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Subject : <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Subject" type="text" class="form-control form-control-spl" />

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Work Details: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <textarea asp-for="WorkDetails" class="form-control form-control-spl" style="margin: 0px 2.64063px 0px 0px; height: 218px; width: 342px;"></textarea>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">

                            <button type="submit" class="btn btn-primary">Save & Done</button>

                            <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function ChangeDepartment() {
        var depid = $('#DepartmentId').val();
        if (depid == "") {
            depid = 0;
        }

        $.ajax({
            type: "POST",
            url: "/ControlPanel/ChangeDepartment",
            data: {
                DepartmentId: depid
            },
            success: function (response) {
                var Emplist = "<option value='0'>--Select  Employee--</option>";
                for (var x = 0; x < response.length; x++) {
                    Emplist += "<option value=" + response[x].value + ">" + response[x].text + "</option>";
                }
                $("#EmployeeId").html(workshop).show();


            }
        })
    }

</script>
