﻿@model VehicleServiceManagement.Models.EmployeeBasicInformation
@{
    ViewData["Title"] = "EditEmployeeBasicInformation";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}
<form asp-action="EditEmployeeBasicInformation" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Edit Employee Information</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">


                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>EmployeeCode: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="EmployeeCode" required class="form-control form-control-spl" id="make" />
                                                                    @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Name" required class="form-control form-control-spl" id="make" />
                                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Gender: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @*<input asp-for="ProductGroupId" required class="form-control form-control-spl" id="ProductGroupId" />*@
                                                                    @Html.DropDownListFor(m => m.Gender, (SelectList)ViewBag.type, "-- Select Dealer Gender --", new { @class = "form-control form-control-spl" })


                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>DateOfBirth: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="DateOfBirth" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />

                                                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Nationality:<lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Nationality" required class="form-control form-control-spl" id="make" />
                                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>AddressInHomeCountry: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="AddressInHomeCountry" required class="form-control form-control-spl" id="make" />
                                                                    @Html.ValidationMessageFor(model => model.AddressInHomeCountry, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>MobileNo: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="MobileNo" required class="form-control form-control-spl" id="make" />
                                                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Email: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Email" required class="form-control form-control-spl" id="make" />
                                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>EmployeeFileNo: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="EmployeeFileNo" required class="form-control form-control-spl" id="make" />
                                                                    @Html.ValidationMessageFor(model => model.EmployeeFileNo, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Designation: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.Designation, (SelectList)ViewBag.Designation, "-- Select Dealer Designation --", new { @class = "form-control form-control-spl" })
                                                                    @Html.ValidationMessageFor(model => model.EmployeeFileNo, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Department: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.Department, (SelectList)ViewBag.Department, "-- Select Dealer Department --", new { @class = "form-control form-control-spl" })
                                                                    @Html.ValidationMessageFor(model => model.EmployeeFileNo, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Salary: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Salary" required class="form-control form-control-spl" id="make" />
                                                                    @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-primary">Update</button>

                            <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
