﻿@model VehicleServiceManagement.Models.WorkTaskDisplay
@{
    ViewData["Title"] = "EmployeeWorkTaskIndex";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title"> Work Task Information</h2>
    </div>
    <div class="box-body">
        <div class="row mb-7">
            <div class="col-sm-12">
                <div class="pur-in-btn">
                    <ul>     
                        @if (Model.userP.PrintPermission)
                        {
                        <li><a href="">Print <i class="fa fa-print"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        int sno = 0;
                    }
                    <th>SL No.</th>
                    <th>Subject</th>
                    <th>Start Date</th>
                    <th>Target Date</th>
                    <th>Status </th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody id="SetDepartmentList">
                <tr id="LoadingStatus" style="color:red"></tr>
                @foreach (var item in Model.taskList)
                {
                    <tr id="@item.JobNo">

                        <td>
                            @{ sno++; }
                            @sno
                        </td>
                        <td>@item.Subject</td>
                        <td>@item.StartDate</td>
                        <td>@item.TargetDate</td>
                        <td>@item.Status.ToString()</td>
                        <td>
                            @if (Model.userP.UpdatePermission)
                            {
                            <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="location.href='@Url.Action("EditEmployeeTask", "ControlPanel", new { id = @item.JobNo })'"></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
