﻿@model VehicleServiceManagement.Models.UserSettings
@{
    ViewData["Title"] = "UserSettingsCreate";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}


    <form asp-action="UserSettingsCreate">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2 class="box-title">Create User</h2>
                            <div class="empl-regi">

                            </div>
                        </div>
                        <div class="box-body with-border">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="empl-regi">
                                        <div class="tab-content">
                                            <div id="bi" class="tab-pane fade in active">
                                                <div class="col-sm-6">

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label class="control-label">User ID (Login ID) <lable style="color:red">*</lable></label>
                                                                     </li>

                                                                    <li>
                                                                        <input asp-for="LoginId" required class="form-control form-control-spl " id="LoginId" />
                                                                        @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label class="control-label">User Name <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="Username" required class="form-control form-control-spl " id="LoginId" />
                                                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label class="control-label">Password <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input type="password" name="Password" required class="form-control form-control-spl " id="LoginId" />
                                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label class="control-label">Confirm Password <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input type="password" name="Password" required class="form-control form-control-spl " id="LoginId" />
                                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label class="control-label">User Group <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="UserGroup" required class="form-control form-control-spl " id="LoginId" />
                                                                        @Html.ValidationMessageFor(model => model.UserGroup, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                  <li><label class="control-label">Location Allowed</label></li>
                                                                  <li><label class="control-label">All Location</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.AllLocationAllowed, new { @Id = "All" })
                                                                    <label class="control-label">Specific Location</label>&nbsp;&nbsp;@Html.CheckBoxFor(model => model.SpecificLocationAllowed, new { @Id = "Specific" })
                                                               <li/>
                                                                </ul>                                                                                                                                 
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>

                                <input type="button" class="btn btn-primary btn-danger" value="Cancel" onclick="history.back()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>









