﻿@model VehicleServiceManagement.Models.SetPermission
@{
    ViewData["Title"] = "UserPermission";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<form asp-action="UserPermissions">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Change User Permissions</h2>
                        <div class="empl-regi">

                        </div>
                    </div>
                    <div class="box-body with-border">
                        <div class="row mb-5">
                            <div class="col-sm-4">
   
                            </div>
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                            </div>

                        </div>
                        <div class="row mb-7">
                            <div class="col-sm-12">
                                @Html.HiddenFor(model => model.UserId)
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="DataInsert">
                                        <thead>
                                            <tr>

                                                <th style="width:15%">Form</th>
                                                <th style="width:15%">Insert</th>
                                                <th style="width:15%">Update</th>
                                                <th style="width:15%">Delete</th>
                                                <th style="width:15%">Display</th>
                                                <th style="width:15%">Print</th>
                                                <th hidden>UserId</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.permissionList.Count; i++)
                                            {
                                                
                                                <tr>
                                                    <td>
                                                        
                                                        <label name="item">@Model.permissionList[i].FormName.ToString()</label>
                                                    </td>
                                                    
                                                    <td>
                                                        @if (Model.permissionList[i].InsertPermission == false)
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].InsertPermission)
                                                            @*<input type="checkbox" name="InsertPermission" value="@Model.permissionList[i].InsertPermission" id="InsertPermission" class="insertBox" />*@
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].InsertPermission)
                                                            @*<input type="checkbox" name="InsertPermission" value="@Model.permissionList[i].InsertPermission" id="InsertPermission" class="insertBox" checked="checked" />*@
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.permissionList[i].UpdatePermission == false)
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].UpdatePermission)
                                                            @*<input type="checkbox" name="UpdatePermission" value="@Model.permissionList[i].UpdatePermission" id="UpdatePermission" class="updateBox" />*@
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].UpdatePermission)
                                                            @*<input type="checkbox" name="UpdatePermission" value="@Model.permissionList[i].UpdatePermission" id="UpdatePermission" class="updateBox" checked="checked" />*@
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.permissionList[i].DeletePermission == false)
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].DeletePermission)
                                                            @*<input type="checkbox" name="DeletePermission" value="@Model.permissionList[i].DeletePermission" id="DeletePermission" class="deleteBox" />*@
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].DeletePermission)
                                                            @*<input type="checkbox" name="DeletePermission" value="@Model.permissionList[i].DeletePermission" id="DeletePermission" class="deleteBox" checked="checked" />*@
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.permissionList[i].DisplayPermission == false)
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].DisplayPermission)
                                                            @*<input type="checkbox" name="DisplayPermission" value="@Model.permissionList[i].DisplayPermission" id="DisplayPermission" class="displayBox" />*@
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].DisplayPermission)
                                                            @*<input type="checkbox" name="DisplayPermission" value="@Model.permissionList[i].DisplayPermission" id="DisplayPermission" class="displayBox" checked="checked" />*@
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.permissionList[i].PrintPermission == false)
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].PrintPermission)
                                                            @*<input type="checkbox" name="PrintPermission" value="@Model.permissionList[i].PrintPermission" id="PrintPermission" class="printBox" />*@
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(a => a.permissionList[i].PrintPermission)
                                                            @*<input type="checkbox" name="PrintPermission" value="@Model.permissionList[i].PrintPermission" id="PrintPermission" class="printBox" checked="checked" />*@
                                                        }
                                                        @Html.HiddenFor(a => a.permissionList[i].Id)
                                                        @Html.HiddenFor(a => a.permissionList[i].Form)
                                                        @*<input name="Id" id="Id" value="@Model.permissionList[i].Id" hidden="hidden" />*@
                                                        @*<input name="Form" id="Form" value="@Model.permissionList[i].Form" hidden="hidden" />*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot class="ft">
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*@Html.EditorForModel()*@
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-success">Update</button>
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


