﻿
@{
    ViewData["Title"] = "WorkReport";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<form asp-action="WorkReport" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Create WorkReport</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Job No : <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="JobNo" required class="form-control form-control-spl" id="bankcode" />
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Department: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="Department" required class="form-control form-control-spl" id="bankcode" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Employee: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="Employee" required class="form-control form-control-spl" id="bankcode" />

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>StartDate: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="SatrtDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>StartTime: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="StartTime" required class="form-control form-control-spl" id="bankcode" />
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>FinishDate: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="FinishDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>FinishTime: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="FinishTime" required class="form-control form-control-spl" id="bankcode" />

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Finish Time Reaming: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="TimeRemaing" required class="form-control form-control-spl" id="bankcode" />
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Priority: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="Priority" required class="form-control form-control-spl" id="bankcode" />
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>CraetedBy: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="CraetedBy" required class="form-control form-control-spl" id="bankcode" />

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Subject: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="Subject" required class="form-control form-control-spl" id="bankcode" />
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>WorkDeatils: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <textarea for="WorkDeatils" class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Status: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="Subject" required class="form-control form-control-spl" id="bankcode" />

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Complete: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="Complete" required class="form-control form-control-spl" id="bankcode" />
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remarks: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <textarea for="Remarks" class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>






                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>
                            <button type="button" class="btn btn-success">Save & New</button>
                            <input type="button" class="btn btn-primary btn-danger" value="Cancel" onclick="history.back()">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


