﻿@model VehicleServiceManagement.Models.WorkTaskDisplay
    @{
        ViewData["Title"] = "WorkTaskIndex";
        Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    }

    <script>

        var gl_Id = 0;

        function Delete(Id) {
            gl_Id = Id;
            $("#DeleteConfirmation").modal("show");
        }
        function ConfirmDelete() {
            var id = $("#Id").val();

            $.ajax({
                type: "POST",
                url: "/ControlPanel/WorkTaskDelete?Id=" + gl_Id,
                success: function (data) {
                    $("#DeleteConfirmation").modal("hide");
                    $("table #" + id).remove();
                    location.reload(true);
                }
            })

        }

    </script>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Work Task Information</h2>
        </div>
        <div class="box-body">
            <div class="row mb-7">
                <div class="col-sm-12">
                    <div class="pur-in-btn">
                        <ul>
                            <li><a asp-action="CreateWorkTask" asp-controller="ControlPanel">New <i class="fa fa-plus"></i></a></li>
                            <li><a href="">Print <i class="fa fa-print"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        @{
                            int sno = 0;
                        }
                        <th>SL No.</th>                    
                        <th>Subject</th>
                        <th>Start Date</th>
                        <th>Target Date</th>
                        <th>Status </th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody id="SetDepartmentList">
                    <tr id="LoadingStatus" style="color:red"></tr>
                    @foreach (var item in Model.taskList)
                    {
                    <tr id="@item.JobNo">

                        <td>
                            @{ sno++; }
                            @sno
                        </td>
                        <td>@item.Subject</td>
                        <td>@item.StartDate</td>
                        <td>@item.TargetDate</td>
                        <td>@item.Status.ToString()</td>
                        <td>
                            <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="location.href='@Url.Action("EditDepartment", "ControlPanel",new {id=@item.JobNo })'"></a>
                            <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick="location.href='@Url.Action("DepartmentDeatils", "ControlPanel",new {id=@item.JobNo })'"></a>
                            <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick="DepartmentDelete(@item.JobNo)"></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
  

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <h4>Are you sure? You want to delete this record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
