﻿@model VehicleServiceManagement.Models.ClaimLimits
@{
    ViewData["Title"] = "ClaimLimitsEdit";

    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

<form asp-action="ClaimLimitsEdit">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Edit Claim Limit</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Claim Limit: </label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="ClaimLimit" required class="form-control form-control-spl" id="Range" />
                                                                    @Html.ValidationMessageFor(model => model.ClaimLimit, "", new { @class = "text-danger", @placeholder = "ClaimLimit" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Dealer Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @* <input asp-for="DealerId" required class="form-control form-control-spl" id="CategoryId" />*@
                                                                    @Html.DropDownListFor(m => m.DealerId, (IEnumerable<SelectListItem>)ViewBag.di, "-- Select type--", new { required = "required", @id = "type", @class = "form-control form-control-spl", @placeholder = "type*" })
                                                                    @Html.ValidationMessageFor(model => model.DealerId, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Product SubGroup Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @* <input asp-for="SubGroupId" required class="form-control form-control-spl" />*@
                                                                    @Html.DropDownListFor(m => m.SubGroupId, (IEnumerable<SelectListItem>)ViewBag.sg, "-- Select type--", new { required = "required", @id = "type", @class = "form-control form-control-spl", @placeholder = "type*" })
                                                                    @Html.ValidationMessageFor(model => model.SubGroupId, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remarks: </label>
                                                                </li>

                                                                <li>
                                                                    <textarea asp-for="Remarks" required class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-success">Update</button>
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


