﻿@model VehicleServiceManagement.Models.Durations
@{
    ViewData["Title"] = "DurationInformationEdit";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

<form asp-action="DurationInformationEdit">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Edit Extend Duration</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">


                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Extend Duration: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Duration" required class="form-control form-control-spl" id="duration" />
                                                                    @*<input asp-for="objval.Duration" required class="form-control form-control-spl" type="hidden" />*@
                                                                    @Html.ValidationMessageFor(model => model.objval.Duration, "", new { @class = "text-danger" })
                                                                   
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Product SubGroup Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @*<input asp-for="ProductGroupId" required class="form-control form-control-spl" id="ProductGroupId" />*@
                                                                    @Html.DropDownListFor(m => m.SubGroupId, (IEnumerable<SelectListItem>)ViewBag.sg, "-- Select --", new { required = "required", @id = "type", @class = "form-control form-control-spl", @placeholder = "type*" })
                                                                    @Html.ValidationMessageFor(model => model.objval.SubGroupId, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Category: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @* <input asp-for="CategoryId" required class="form-control form-control-spl" id="CategoryId" />*@
                                                                    @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.cat, "-- Select --", new { required = "required", @id = "type", @class = "form-control form-control-spl", @placeholder = "type*" })
                                                                    @Html.ValidationMessageFor(model => model.objval.CategoryId, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remark:</label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Remark" required class="form-control form-control-spl" />
                                                                    @*<textarea asp-for="objval.Remark" required class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>*@
                                                                    @Html.ValidationMessageFor(model => model.objval.Remark, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-success">Update</button>
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


