﻿@model VehicleServiceManagement.Models.Durations
@{
    ViewData["Title"] = "DurationInformationCreate";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

<form asp-controller="Tools" asp-action="DurationInformationCreate" method="post" >
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Create Extend Duration</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            


                                            <div class="row mb-5">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label no-padding">Extend Duration:<label style="color:red">*</label></label>
                                                         <div class="col-md-7">
                                                           
                                                             <input asp-for="objval.Duration" required class="form-control form-control-spl" />
                                                                @Html.ValidationMessageFor(model => model.objval.Duration, "", new { @class = "text-danger" })
                                                          </div>                                                            
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-5">

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label no-padding">Product SubGroupName:<label style="color:red">*</label></label>
                                                        <div class="col-md-7">
                                                            @Html.DropDownListFor(m => m.objval.SubGroupId, (IEnumerable<SelectListItem>)ViewBag.sg, "-- Select Product Sub Group--", new { required = "required", @name = "SubGroupId", @class = "form-control form-control-spl", @placeholder = "type*" })
                                                            @Html.ValidationMessageFor(model => model.objval.SubGroupId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row mb-5">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label no-padding">Category:<label style="color:red">*</label></label>
                                                        <div class="col-md-7">
                                                            @Html.DropDownListFor(m => m.objval.CategoryId, (IEnumerable<SelectListItem>)ViewBag.cat, "-- Select category--", new { required = "required", @id = "type", @class = "form-control form-control-spl", @placeholder = "type*" })
                                                            @Html.ValidationMessageFor(model => model.objval.CategoryId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>                                              
                                            </div>

                                            <div class="row mb-5">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label no-padding">Remark:</label>
                                                        <div class="col-md-7">
                                                            @*<input asp-for="objval.Remark" required class="form-control form-control-spl" />*@
                                                            <textarea asp-for="objval.Remark" required class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                            @Html.ValidationMessageFor(model => model.objval.Remark, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>                                             
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>
                            <button type="button" class="btn btn-success">Save & New</button>
                            <input type="button" class="btn btn-primary btn-danger" value="Cancel" onclick="history.back()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
