﻿@model VehicleServiceManagement.Models.OtherServicePremiumDetails
@{
    ViewData["Title"] = "EditOtherServicePremiumDetailsIndex";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

    <form asp-action="EditOtherServicePremiumDetailsIndex" enctype="multipart/form-data">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2 class="box-title">Edit Other Service Premium</h2>
                            <div class="empl-regi">

                            </div>
                        </div>


                        <div class="box-body with-border">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="empl-regi">
                                        <div class="tab-content">
                                            <div id="bi" class="tab-pane fade in active">
                                                <div class="col-sm-6">

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Other Service : <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.OtherServiceId, (IEnumerable<SelectListItem>)ViewBag.service, "-- Select --", new { required = "required", @id = "Dealer1", @class = "form-control", @placeholder = "Dealer*" })
                                                                        @Html.ValidationMessageFor(model => model.OtherServiceId, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>CCRange: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.CCRangeId, (IEnumerable<SelectListItem>)ViewBag.range, "-- Select --", new { required = "required", @id = "Dealer1", @class = "form-control", @placeholder = "Dealer*" })
                                                                        @Html.ValidationMessageFor(model => model.CCRangeId, "", new { @class = "text-danger" })
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>WorkShop: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.WorkShopId, (IEnumerable<SelectListItem>)ViewBag.info, "-- Select Make--", new { required = "required", @id = "WorkShopId", @class = "form-control form-control-spl", @placeholder = "Dealer*" })


                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Category: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.cat, "-- Select--", new { required = "required", @id = "Category", @class = "form-control", @placeholder = "Category*" })
                                                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Product SubGroup: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.SubGroupId, (IEnumerable<SelectListItem>)ViewBag.sub, "-- Select --", new { required = "required", @id = "Product", @class = "form-control", @placeholder = "Duration*" })
                                                                        @Html.ValidationMessageFor(model => model.SubGroupId, "", new { @class = "text-danger" })
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Manufacturer's Duration: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.MaDurationId, (IEnumerable<SelectListItem>)ViewBag.du, "-- Select --", new { required = "required", @id = "Duration", @class = "form-control", @placeholder = "Duration*" })
                                                                        @Html.ValidationMessageFor(model => model.MaDurationId, "", new { @class = "text-danger" })
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Manufcturer's Mileage Cutoff: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.MaMilegeCuttoffId, (IEnumerable<SelectListItem>)ViewBag.manu, "-- Select --", new { required = "required", @id = "Manufacure", @class = "form-control", @placeholder = "Duration*" })
                                                                        @Html.ValidationMessageFor(model => model.MaMilegeCuttoffId, "", new { @class = "text-danger" })
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Extended Duration: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.ExtendedDurationId, (IEnumerable<SelectListItem>)ViewBag.du, "-- Select--", new { required = "required", @id = "Duration", @class = "form-control", @placeholder = "Duration*" })
                                                                        @Html.ValidationMessageFor(model => model.ExtendedDurationId, "", new { @class = "text-danger" })
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Extended Milage Cuttoff Id: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.ExtendedMilageCuttoffId, (IEnumerable<SelectListItem>)ViewBag.mil, "-- Select --", new { required = "required", @id = "Milage", @class = "form-control", @placeholder = "Duration*" })
                                                                        @Html.ValidationMessageFor(model => model.ExtendedMilageCuttoffId, "", new { @class = "text-danger" })
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>From Date: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="FromDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>To Date: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="ToDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Min Premium Account: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="MinPremiumAmount" required class="form-control form-control-spl" id="bankcode" />
                                                                        @Html.ValidationMessageFor(model => model.MinPremiumAmount, "", new { @class = "text-danger" })

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Premium Amount: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="PremiumAmount" required class="form-control form-control-spl" id="bankcode" />
                                                                        @Html.ValidationMessageFor(model => model.PremiumAmount, "", new { @class = "text-danger" })

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Remarks: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <textarea asp-for="Remark" class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })

                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>








                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" id="submit" class="btn btn-success">Update</button>
                                <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

