﻿@model VehicleServiceManagement.Models.OtherServiceDetails
@{
    ViewData["Title"] = "EditOtherServiceDetails";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

    <form asp-action="EditOtherServiceDetails" enctype="multipart/form-data">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2 class="box-title">Edit Other Services</h2>
                            <div class="empl-regi">

                            </div>
                        </div>


                        <div class="box-body with-border">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="empl-regi">
                                        <div class="tab-content">
                                            <div id="bi" class="tab-pane fade in active">
                                                <div class="col-sm-6">

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Other Service: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="OtherService" required class="form-control form-control-spl" id="bankcode" />
                                                                        @Html.ValidationMessageFor(model => model.OtherService, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Remark: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="Remark" required class="form-control form-control-spl" />
                                                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" id="submit" class="btn btn-success">Update</button>
                                <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


