﻿@model VehicleServiceManagement.Models.EntryEligibility
@{
    ViewData["Title"] = "EntryEligibilityDetails";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";

}
<h4>EntryEligibilityDetails</h4>

<div>
    <br />
    <br />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgeLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgeLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryMilage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryMilage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubGroupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubGroupId)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.SubGroup)
            </dt>*@
        <dd>
            @Html.DisplayFor(model => model.SubGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>
<div>

    <input type="button" class="btn btn-primary btn-success" value="Back" onclick="history.back()">
</div>

