﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Other Settings Information Dashboard</h2>
    </div>
</div>

