﻿@model VehicleServiceManagement.Models.ManufactureCutOffInformation

@{
    ViewData["Title"] = "ManufactureCutOffInformationDetails";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

<form asp-action="ManufactureCutOffInformationDetails" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title"> ManufactureCutOffInformation Details</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Mileage CutOff: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.ManufacturerCutoff</label>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Make: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.MakeId</label>
                                                                   

</ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Duration: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.Duration</label>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>ProductGroup: </label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.ProductGroupId</label>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remarks: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.Remark</label>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-primary btn-success" value="Back" onclick="history.back()">
                </div>
             
            </div>
        </div>
    </div>
</form>







