﻿@model VehicleServiceManagement.Models.ManufactureCutoffInformationDisplay
    @{
    ViewData["Title"] = "ManufactureCutOffInformationIndex";
     Layout = "~/Views/Shared/_ToolLayout.cshtml";
    }

    <script>

        var gl_Id = 0;

        function ManufactureCutOffInformationDelete(Id) {
            gl_Id = Id;
            $("#DeleteConfirmation").modal("show");
        }
        function ConfirmDelete() {
            var id = $("#Id").val();

            $.ajax({
                type: "POST",
                url: "/Tools/DeleteManufactureCutOffInformation?Id=" + gl_Id,
                success: function (data) {
                    $("#DeleteConfirmation").modal("hide");
                    $("table #" + id).remove();
                    location.reload(true);
                }
            })

        }
    </script>




    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Manufacture CutOff Information</h2>
        </div>
        <div class="box-body">
            <div class="row mb-7">
                <div class="col-sm-12">
                    <div class="pur-in-btn">

                        <ul>
                            @if (Model.userP.InsertPermission)
                            {
                            <li><a asp-action="ManufactureCutOffInformationCreate" asp-controller="Tools">New <i class="fa fa-plus"></i></a></li>
                            }
                            @*<li><a href="">Edit<i class="fa fa-edit"></i></a></li>
                            <li><a href="">Delete<i class="fa fa-trash"></i></a></li>*@
                            <li><a asp-action="index" asp-controller="Tools">Cancel <i class="fa fa-ban"></i></a></li>
                            @if (Model.userP.PrintPermission)
                            {
                            <li><a href="">Print <i class="fa fa-print"></i></a></li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped m-0">
                            <thead>
                                <tr>
                                    @{
                                    int sno = 0;
                                    }
                                    <th>
                                        SL No.
                                    </th>
                                    <th>
                                        Manufacture CutOff
                                    </th>
                                    <th>
                                        Make
                                    </th>
                                    <th>
                                        Duration
                                    </th>
                                    <th>
                                        Product Group
                                    </th>
                                   @* <th>
                                        Remark
                                    </th>*@
                                 

                                    <th>Action</th>
                                    

                                </tr>
                            </thead>
                            <tbody id="SetDepartmentList">
                                <tr id="LoadingStatus" style="color:red"></tr>

                                @foreach (var item in Model.cutoffList)
                            {
                                <tr id="@item.Id">
                                    <td>
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td>
                                        @item.ManufacturerCutoff
                                    </td>
                                    <td>
                                        @item.Make
                                    </td>
                                  
                                    <td>
                                        @item.Duration
                                    </td>
                                    <td>
                                        @item.ProductGroup
                                    </td>
                                    @*<td>
                                        @item.Remark
                                    </td>*@
                                   



                                    <td>
                                        @if (Model.userP.UpdatePermission)
                                        {
                                        <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit"title="Edit" onclick="location.href='@Url.Action("EditManufactureCutOffInformation", "Tools", new { id = @item.Id })'"></a>
                                        }
                                        @if (Model.userP.DisplayPermission)
                                        {
                                        <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick="location.href='@Url.Action("ManufactureCutOffInformationDetails", "Tools", new { id = @item.Id })'"></a>
                                        }
                                        @if (Model.userP.DeletePermission)
                                        {
                                        <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash"title="Delete" onclick="ManufactureCutOffInformationDelete(@item.Id)"></a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="MyModal1">
        </div>


        <div class="modal fade" id="DeleteConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 id="ModalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure? You want to delete this record.</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


