﻿@model VehicleServiceManagement.Models.MileageCutoffInformation
@{
    ViewData["Title"] = "MileageCutoffInformationCreate";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

<form asp-action="MileageCutoffInformationCreate" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Create Mileage Cutoff </h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Mileage CutOff: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="MilageCutoff" required class="form-control form-control-spl" id="bankcode" />
                                                                    @Html.ValidationMessageFor(model => model.MilageCutoff, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Dealer: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.DealerId, (IEnumerable<SelectListItem>)ViewBag.inf, "-- Select Dealer--", new { required = "required", @id = "Dealer1", @class = "form-control form-control-spl", @placeholder = "Dealer*" })
                                                                    @Html.ValidationMessageFor(model => model.DealerId, "", new { @class = "text-danger" })

                                                                 </li>           
                                                                </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>SubGroup: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.SubGroupId, (IEnumerable<SelectListItem>)ViewBag.sub, "-- Select SubGroup--", new { required = "sub", @id = "Dealer", @class = "form-control form-control-spl", @placeholder = "Dealer*" })
                                                                    @Html.ValidationMessageFor(model => model.SubGroupId, "", new { @class = "text-danger" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Duration: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.DurationId, (IEnumerable<SelectListItem>)ViewBag.du, "-- Select Duration--", new { required = "required", @id = "Duration", @class = "form-control form-control-spl", @placeholder = "Duration*" })
                                                                    @Html.ValidationMessageFor(model => model.DurationId, "", new { @class = "text-danger" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Category: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.cat, "-- Select Category--", new { required = "required", @id = "Category", @class = "form-control form-control-spl", @placeholder = "Category*" })
                                                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remarks: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <textarea asp-for="Remark" class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                                                
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                               






                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>
                            <button type="button" class="btn btn-success">Save & New</button>
                            <input type="button" class="btn btn-primary btn-danger" value="Cancel" onclick="history.back()">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

