﻿@model VehicleServiceManagement.Models.OtherServicePremiumDetails
@{
    ViewData["Title"] = "OtherServicePremiumDetailss";
    Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

<form asp-action="OtherServicePremiumDetailss" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Mileage Cutoff Information Deatils</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Other Service : <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.OtherService</label>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>CC Range: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.CCRangeId</label>
</li>
</ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>WorkShop: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.WorkShopId</label>
</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>WorkShop Branch: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.WorkShopBranch</label>
                                                                    </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Category: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.CategoryId</label>
                                                                    </li>

</ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Product SubGroup: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.SubGroupId</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Manufacturer's Duration: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.SubGroupId</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Manufcturer's Mileage Cutoff: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.MaMilegeCuttoffId</label>
                                                                </li>
                                                                   
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Extended Duration: <lable style="color:red"></lable></label>
                                                                </li>
                                                                <li>
                                                                <label class="form-control form-control-spl">@Model.ExtendedDurationId</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Extended Milage Cuttoff Id: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.ExtendedMilageCuttoffId</label>
                                                                </li>
                                                                   
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>From Date: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.FromDate</label>
                                                                    </li>
</ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>To Date: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.ToDate</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Min-Premium Account: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.MinPremiumAmount</label>
                                                                    </li>
                                                                    
</ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Premium Amount: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.PremiumAmount</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remarks: <lable style="color:red"></lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.Remark</label>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-primary btn-success" value="Back" onclick="history.back()">
                </div>
               
            </div>
        </div>
    </div>
</form>



