﻿@model VehicleServiceManagement.Models.Premium
@{
    ViewData["Title"] = "PremiumCreate";
 Layout = "~/Views/Shared/_ToolLayout.cshtml";
}

<form asp-action="PremiumCreate" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Create Premium</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Dealer Name : <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.DealerId, (IEnumerable<SelectListItem>)ViewBag.bk, "-- Select Dealer --", new { required = "required", @id = "Dealer1", @class = "form-control form-control-spl", @placeholder = "Dealer*" })
                                                                    @Html.ValidationMessageFor(model => model.DealerId, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Claim Limit : <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.ClaimLimitId, (IEnumerable<SelectListItem>)ViewBag.service, "-- Select Clime Limit --", new { required = "required", @id = "Dealer1", @class = "form-control form-control-spl", @placeholder = "Dealer*" })
                                                                    @Html.ValidationMessageFor(model => model.ClaimLimitId, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>CC Range: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.CCRangeId, (IEnumerable<SelectListItem>)ViewBag.range, "-- Select CC Range --", new { required = "required", @id = "Dealer1", @class = "form-control form-control-spl", @placeholder = "Dealer*" })
                                                                    @Html.ValidationMessageFor(model => model.CCRangeId, "", new { @class = "text-danger" })

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Category: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.cat, "-- Select Category--", new { required = "required", @id = "Category", @class = "form-control form-control-spl", @placeholder = "Category*" })
                                                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Product SubGroup: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.SubGroupId, (IEnumerable<SelectListItem>)ViewBag.sub, "-- Select SubGroup--", new { required = "required", @id = "Product", @class = "form-control form-control-spl", @placeholder = "Duration*" })
                                                                    @Html.ValidationMessageFor(model => model.SubGroupId, "", new { @class = "text-danger" })

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Manufacturer's Duration: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.MaDurationId, (IEnumerable<SelectListItem>)ViewBag.du, "-- Select Manufacture Duration--", new { required = "required", @id = "Duration", @class = "form-control form-control-spl", @placeholder = "Duration*" })
                                                                    @Html.ValidationMessageFor(model => model.MaDurationId, "", new { @class = "text-danger" })

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Manufcturer's Mileage Cutoff: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.MaMileageCutoffId, (IEnumerable<SelectListItem>)ViewBag.manu, "-- Select Mileage--", new { required = "required", @id = "Manufacure", @class = "form-control form-control-spl", @placeholder = "Duration*" })
                                                                    @Html.ValidationMessageFor(model => model.MaMileageCutoffId, "", new { @class = "text-danger" })

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Extended Duration: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    @Html.DropDownListFor(m => m.ExtDurationId, (IEnumerable<SelectListItem>)ViewBag.du, "-- Select Extended Duration--", new { required = "required", @id = "Duration", @class = "form-control form-control-spl", @placeholder = "Duration*" })
                                                                    @Html.ValidationMessageFor(model => model.ExtDurationId, "", new { @class = "text-danger" })

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Extended Milage Cuttoff: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.ExtMilaegeCutoffId, (IEnumerable<SelectListItem>)ViewBag.mil, "-- Select Mileage Cutoff--", new { required = "required", @id = "Milage", @class = "form-control form-control-spl", @placeholder = "Duration*" })
                                                                        @Html.ValidationMessageFor(model => model.ExtMilaegeCutoffId, "", new { @class = "text-danger" })

                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>From Date: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="FromDate" value="@DateTime.Now.ToString("dd/ MM / yyy")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })

                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>To Date: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="ToDate" value="@DateTime.Now.ToString("dd / MM / yyy")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })

                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Minimum Premium Account: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="MinimumAmount" required class="form-control form-control-spl" id="bankcode" />
                                                                        @Html.ValidationMessageFor(model => model.MinimumAmount, "", new { @class = "text-danger" })


                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Actual Premium Amount: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="PremiumAmount" required class="form-control form-control-spl" id="bankcode" />
                                                                        @Html.ValidationMessageFor(model => model.PremiumAmount, "", new { @class = "text-danger" })

                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Remarks: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <textarea asp-for="Remark" class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })


                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>








                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>
                            <button type="button" class="btn btn-success">Save & New</button>
                            <input type="button" class="btn btn-primary btn-danger" value="Cancel" onclick="history.back()">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

