﻿@model IEnumerable<VehicleServiceManagement.Models.UserPermission>
@{

}

    <ul class="nav navbar-nav">
        @if (Model.Where(a => a.FormName == "VATCategory" && a.DisplayPermission == true).Count() > 0)
        {
            <li>
                <a href="/VAT/VatCategoryIndex">
                    <p style="margin:0px">
                        <svg id="Layer_35" enable-background="new 0 0 64 64" height="20" viewBox="0 0 64 64" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m56.696 28.233c-.15-.628-.356-1.244-.613-1.831l1.834-.801c.303.695.547 1.424.725 2.165z" /><path d="m59.061 19.909-5.848-7.016 3.26-5.705c.344-.604.527-1.291.527-1.985v-.203c0-2.206-1.794-4-4-4-1.33 0-2.036.808-2.504 1.342-.436.497-.61.658-.999.658-.39 0-.563-.161-1-.659-.468-.534-1.174-1.341-2.503-1.341-1.328 0-2.034.808-2.502 1.342-.434.497-.608.658-.996.658s-.561-.161-.995-.658c-.467-.534-1.173-1.342-2.501-1.342-2.206 0-4 1.794-4 4v.203c0 .694.183 1.381.527 1.984l3.26 5.705-2.689 3.226 1.537 1.281 2.833-3.4h11.062l5.992 7.189c2.244 2.693 3.478 6.104 3.478 9.605v.207c0 8.271-6.729 15-15 15-1.923 0-3.81-.368-5.608-1.095l-.749 1.854c2.038.824 4.176 1.241 6.357 1.241 9.374 0 17-7.626 17-17v-.207c0-3.968-1.399-7.833-3.939-10.884zm-22.061-14.706v-.203c0-1.103.897-2 2-2 .388 0 .561.161.995.658.467.534 1.173 1.342 2.501 1.342s2.034-.808 2.502-1.342c.435-.497.608-.658.996-.658.389 0 .562.161.999.658.468.534 1.174 1.342 2.504 1.342 1.329 0 2.035-.807 2.503-1.341.437-.498.61-.659 1-.659 1.103 0 2 .897 2 2v.203c0 .347-.091.69-.264.992l-3.316 5.805h-10.84l-3.317-5.805c-.172-.301-.263-.645-.263-.992z" /><path d="m48.166 43.819-.332-1.973c5.312-.893 9.166-5.454 9.166-10.846v-.207c0-.242-.008-.485-.024-.727l1.996-.133c.018.287.028.573.028.86v.207c0 6.371-4.557 11.763-10.834 12.819z" /><path d="m23.577 45.837-1.414-1.414-3.163 3.163-2.586-2.586 3.163-3.163-1.414-1.414-3.163 3.163-.938-.938-10.742 8.95c-1.474 1.228-2.32 3.034-2.32 4.954 0 3.555 2.893 6.448 6.448 6.448 1.92 0 3.726-.846 4.954-2.319l8.95-10.742-.938-.939zm-12.712 13.562c-.846 1.018-2.093 1.601-3.417 1.601-2.453 0-4.448-1.995-4.448-4.448 0-1.324.583-2.57 1.601-3.417l9.338-7.782 4.709 4.709z" /><path d="m32 49c-9.374 0-17-7.626-17-17s7.626-17 17-17 17 7.626 17 17-7.626 17-17 17zm0-29c-6.617 0-12 5.383-12 12s5.383 12 12 12 12-5.383 12-12-5.383-12-12-12z" fill="#f0bc5e" /><path d="m32 45c-7.168 0-13-5.832-13-13s5.832-13 13-13 13 5.832 13 13-5.832 13-13 13zm0-24c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11z" /><path d="m32 31c-1.103 0-2-.897-2-2v-2h2c1.103 0 2 .897 2 2h2c0-1.859-1.279-3.411-3-3.858v-2.142h-2v2h-3v4c0 2.206 1.794 4 4 4 1.103 0 2 .897 2 2v2h-2c-1.103 0-2-.897-2-2h-2c0 1.859 1.279 3.411 3 3.858v2.142h2v-2h3v-4c0-2.206-1.794-4-4-4z" /><path d="m39 31h2v2h-2z" /><path d="m23 31h2v2h-2z" /><circle cx="6" cy="58" r="1" /></svg>
                    </p>
                    <p>VAT Category</p>
                </a>
            </li>
        }
        @if (Model.Where(a => a.FormName == "VATFilling" && a.DisplayPermission == true).Count() > 0)
        {
            <li>
                <a href="#">
                    <p style="margin:0px">
                        <svg id="Layer_35" enable-background="new 0 0 64 64" height="20" viewBox="0 0 64 64" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m4.601 53.135c-1.018.846-1.601 2.093-1.601 3.417 0 2.453 1.995 4.448 4.448 4.448 1.324 0 2.57-.583 3.417-1.601l7.782-9.338-4.709-4.709zm1.399 5.865c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z" /><path d="m47 32c0-8.271-6.729-15-15-15s-15 6.729-15 15 6.729 15 15 15 15-6.729 15-15zm-15 13c-7.168 0-13-5.832-13-13s5.832-13 13-13 13 5.832 13 13-5.832 13-13 13z" /><path d="m32 21c-6.065 0-11 4.935-11 11s4.935 11 11 11 11-4.935 11-11-4.935-11-11-11zm-7 12h-2v-2h2zm7-2c2.206 0 4 1.794 4 4v4h-3v2h-2v-2.142c-1.721-.447-3-1.999-3-3.858h2c0 1.103.897 2 2 2h2v-2c0-1.103-.897-2-2-2-2.206 0-4-1.794-4-4v-4h3v-2h2v2.142c1.721.447 3 1.999 3 3.858h-2c0-1.103-.897-2-2-2h-2v2c0 1.103.897 2 2 2zm7 2v-2h2v2z" /><path d="m57.523 21.189-5.992-7.189h-11.062l-1.927 2.313c6.135 2.568 10.458 8.631 10.458 15.687 0 5.511-2.647 10.402-6.724 13.511 1.217.314 2.461.489 3.724.489 8.271 0 15-6.729 15-15v-.207c0-3.501-1.234-6.912-3.477-9.604zm.394 4.413c.303.695.547 1.424.725 2.165l-1.945.467c-.15-.628-.356-1.244-.613-1.831zm1.083 5.398c0 6.371-4.557 11.763-10.834 12.819l-.332-1.973c5.312-.893 9.166-5.454 9.166-10.846v-.207c0-.242-.008-.485-.024-.727l1.996-.133c.018.287.028.573.028.86z" /><path d="m40.58 12h10.84l3.317-5.805c.172-.301.263-.645.263-.992v-.203c0-1.103-.897-2-2-2-.39 0-.563.161-1 .659-.468.534-1.174 1.341-2.503 1.341-1.33 0-2.036-.808-2.504-1.342-.436-.497-.61-.658-.999-.658-.388 0-.562.161-.996.658-.468.534-1.174 1.342-2.502 1.342s-2.034-.808-2.501-1.342c-.434-.497-.607-.658-.995-.658-1.103 0-2 .897-2 2v.203c0 .347.091.69.264.992z" /><path d="m18.767 42.647-2.353 2.353 2.586 2.586 2.353-2.353c-.952-.767-1.819-1.634-2.586-2.586z" /></svg>
                    </p>
                    <p>VAT<br />Filling</p>
                </a>

            </li>
        }
        @if (Model.Where(a => a.FormName == "VATReport" && a.DisplayPermission == true).Count() > 0)
        {
    <li>
        <a href="">
            <p style="margin:0px">
                <svg id="Layer_35" enable-background="new 0 0 64 64" height="20" viewBox="0 0 64 64" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m56 5v.2c0 .53-.14 1.04-.4 1.49l-3.6 6.31h-12l-3.6-6.31c-.26-.45-.4-.96-.4-1.49v-.2c0-.83.34-1.58.88-2.12s1.29-.88 2.12-.88c1.75 0 1.75 2 3.5 2s1.75-2 3.49-2c1.76 0 1.76 2 3.51 2 .88 0 1.31-.5 1.75-1s.87-1 1.75-1c1.66 0 3 1.34 3 3z" fill="#dfb28b" /><path d="m62 30.79v.21c0 8.84-7.16 16-16 16-2.11 0-4.12-.42-5.96-1.16 4.76-2.77 7.96-7.93 7.96-13.84 0-7.14-4.67-13.19-11.13-15.24l3.13-3.76h12l6.29 7.55c2.4 2.88 3.71 6.5 3.71 10.24z" fill="#d3a06c" /><path d="m15 45 4 4 1 1-8.37 10.04c-1.03 1.24-2.56 1.96-4.18 1.96-1.51 0-2.87-.61-3.85-1.6-.99-.98-1.6-2.34-1.6-3.85 0-1.62.72-3.15 1.96-4.18l10.04-8.37z" fill="#cf9e76" /><path d="m22.86 45.14-3.86 3.86-4-4 3.86-3.86c1.09 1.56 2.44 2.91 4 4z" fill="#ccd1d9" /><path d="m40.04 45.84c-2.36 1.37-5.11 2.16-8.04 2.16-3.4 0-6.55-1.06-9.14-2.86-1.56-1.09-2.91-2.44-4-4-1.8-2.59-2.86-5.74-2.86-9.14 0-8.84 7.16-16 16-16 1.7 0 3.34.26 4.87.76 6.46 2.05 11.13 8.1 11.13 15.24 0 5.91-3.2 11.07-7.96 13.84z" fill="#e6e9ed" /><circle cx="32" cy="32" fill="#fcd770" r="12" /><path d="m56.696 28.233 1.945-.467c-.178-.741-.422-1.47-.725-2.165l-1.834.801c.258.587.464 1.203.614 1.831z" /><path d="m57 30.793v.207c0 5.392-3.854 9.953-9.166 10.847l.332 1.973c6.277-1.057 10.834-6.449 10.834-12.82v-.207c0-.287-.01-.573-.028-.859l-1.996.133c.016.241.024.484.024.726z" /><path d="m59.061 19.909-5.848-7.016 3.26-5.705c.344-.604.527-1.291.527-1.985v-.203c0-2.206-1.794-4-4-4-1.33 0-2.036.808-2.504 1.342-.436.497-.61.658-.999.658-.39 0-.563-.161-1-.659-.468-.534-1.174-1.341-2.503-1.341-1.328 0-2.034.808-2.502 1.342-.434.497-.608.658-.996.658s-.561-.161-.995-.658c-.467-.534-1.173-1.342-2.501-1.342-2.206 0-4 1.794-4 4v.203c0 .694.183 1.381.527 1.984l3.26 5.705-2.278 2.733c-1.438-.396-2.946-.625-4.509-.625-9.374 0-17 7.626-17 17 0 3.302.961 6.377 2.597 8.989l-2.597 2.597-.938-.938-10.742 8.95c-1.474 1.228-2.32 3.034-2.32 4.954 0 3.555 2.893 6.448 6.448 6.448 1.92 0 3.726-.846 4.954-2.319l8.95-10.742-.938-.939 2.597-2.597c2.612 1.636 5.687 2.597 8.989 2.597 2.941 0 5.71-.752 8.125-2.072 1.893.701 3.864 1.072 5.875 1.072 9.374 0 17-7.626 17-17v-.207c0-3.968-1.399-7.833-3.939-10.884zm-22.061-14.706v-.203c0-1.103.897-2 2-2 .388 0 .561.161.995.658.467.534 1.173 1.342 2.501 1.342s2.034-.808 2.502-1.342c.435-.497.608-.658.996-.658.389 0 .562.161.999.658.468.534 1.174 1.342 2.504 1.342 1.329 0 2.035-.807 2.503-1.341.437-.498.61-.659 1-.659 1.103 0 2 .897 2 2v.203c0 .347-.091.69-.264.992l-3.316 5.805h-10.84l-3.317-5.805c-.172-.301-.263-.645-.263-.992zm-26.135 54.196c-.846 1.018-2.093 1.601-3.417 1.601-2.453 0-4.448-1.995-4.448-4.448 0-1.324.583-2.57 1.601-3.417l9.338-7.782 4.709 4.709zm8.135-11.813-2.586-2.586 2.353-2.353c.767.952 1.634 1.818 2.586 2.586zm-2-15.586c0-8.271 6.729-15 15-15s15 6.729 15 15-6.729 15-15 15-15-6.729-15-15zm44-1c0 8.271-6.729 15-15 15-1.263 0-2.507-.175-3.724-.489 4.077-3.109 6.724-8 6.724-13.511 0-7.056-4.323-13.119-10.458-15.687l1.927-2.313h11.062l5.992 7.189c2.243 2.692 3.477 6.103 3.477 9.604z" /><path d="m32 19c-7.168 0-13 5.832-13 13s5.832 13 13 13 13-5.832 13-13-5.832-13-13-13zm0 24c-6.065 0-11-4.935-11-11s4.935-11 11-11 11 4.935 11 11-4.935 11-11 11z" /><path d="m32 27c1.103 0 2 .897 2 2h2c0-1.859-1.279-3.411-3-3.858v-2.142h-2v2h-3v4c0 2.206 1.794 4 4 4 1.103 0 2 .897 2 2v2h-2c-1.103 0-2-.897-2-2h-2c0 1.859 1.279 3.411 3 3.858v2.142h2v-2h3v-4c0-2.206-1.794-4-4-4-1.103 0-2-.897-2-2v-2z" /><path d="m39 31h2v2h-2z" /><path d="m23 31h2v2h-2z" /><circle cx="6" cy="58" r="1" /></svg>
            </p>
            <p>VAT<br />Report</p>
        </a>
        <ul class="dropdown-menu multi-level">

            <li><a href="">Sale By VAT Category</a></li>
            <li><a href="">Purchase By VAT Category</a></li>
        </ul>
    </li>
        }
    </ul>



