﻿@model AccounTechSoftware.Models.VatCategory
@{
    Layout = null;
}


<!DOCTYPE html>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h4 id="ModalTitle1"></h4>
        </div>
        <div class="modal-body">
            <form asp-controller="VAT" asp-action="EditVatCategory" method="post">
                <fieldset id="SubmitForm">
                    @Html.HiddenFor(m => m.VatId, new { @id = "Id" })

                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Code</label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.Code, new { @id = "Code", @class = "form-control", @placeholder = "Code*" })
                            </li>
                        </ul>

                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Category</label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.Category, new { @id = "Category", @class = "form-control", @placeholder = "Category*" })
                            </li>
                        </ul>

                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>RatePerscent</label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.RatePerscent, new { @id = "RatePerscent", @class = "form-control", @placeholder = "RatePerscent*" })
                            </li>
                        </ul>

                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Description</label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.Description, new { @id = "Description", @class = "form-control", @placeholder = "Description*" })
                            </li>
                        </ul>

                    </div>




                    <br /><br />
                    <div class="form-regi">
                        <button type="submit" class="btn btn-block btn-danger" id="submit1">Save</button>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
        $("#submit1").click(function () {

            ShowAlertPopup('Updated Successfully ', 'Success', ALERT_TYPE_GREEN);

        });
      $(document).on('keydown', ':tabbable', function (e) {

             if (e.key === "Enter") {
                 e.preventDefault();

                 var $canfocus = $(':tabbable:visible');
                 var index = $canfocus.index(document.activeElement) + 1;

                 if
                     (index >= $canfocus.length) index = 0;
                 $canfocus.eq(index).focus();
             }


   });
</script>

