﻿
@{
    ViewData["Title"] = "Index";
     Layout = "~/Views/Shared/_VATLayout.cshtml";
}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Value Added Tax (VAT) Information Dashboard</h2>
        </div>
    </div>

