html {
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #333;
  padding: 0rem 0;
  margin-bottom: 0;
}

.Page{
  width: 100%;
  margin: 0 auto;
  padding: 20px 5%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1200px;
}
.PageTitle{
  margin: 25px  0px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  width: 100%;
  display: block;
}
.FormSection{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
width: calc(100% - 400px);
}
.FormSection .InputGroup{

  width: 48%;
  margin-bottom: 15px;
  }
  .FormSection .InputGroup label{

   font-size: 16px;
   line-height: 16px;
   box-sizing: border-box;
   color: #666;
    }
    .FormSection .InputGroup select, .FormSection .InputGroup input{

      width: 100%;
      margin-bottom: 15px;
      border:1px solid #cecece;
      padding: 5px 10px;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      height: 42px;
      }
    .SmallInputGroup{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 48%;
    }
    .FormSection .SmallInputGroup .InputGroup{
        width: 49% !important;
      }

    .ButtonsGroup{
display: flex;
justify-content: space-between;
width:380px;
margin-top: 20px;
flex-flow: row wrap;
height: 42px;
    }
.ButtonsGroup .Button{
  width: 90px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: rgb(12, 35, 58);
  border-radius: 3px;
  border:none;
  padding: 10px 0;
  display: block;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.Balance {
  max-width: 995px;
  margin: 0 auto;
}


@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
/* components */

.BalanceHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  height: 160px;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding: 18px 0 0;
  position: relative;
}

.BalanceHeadBg{
  
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.BalanceHeadBg img{
  
  max-width: 100%;
}
.BalanceHead .Logo {
  width: 251px;
  height: 87px;
  margin: 0px 0 30px;
  display: block;
  position: relative;
  z-index: 99;
  margin-left: 20px;
}
.BalanceHead .Logo img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  height: 100%;
  object-position: center;
}
.BalanceTitle {
  text-align: left;
  margin: 0  0px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.BalanceTSubitle {
  margin: 10px  0px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  width: 100%;
  display: block;
}

.Refrences {
  background-color: rgb(230, 231, 232);
  text-align: center;
  padding: 1.6rem 30px;
  box-sizing: border-box;
}
.Refrences h3 {
  width: 100%;
  text-align: left !important;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.FlexNormal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.FlexNormal p {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  width: 100%;
  color: #000;
  padding: 2px 0;
  margin: 0 0;
}
.FlexNormal p span {
  max-width: calc(100% - 130px);
}
.FlexNormal p span.Label {
  max-width: 115px;
  min-width: 115px;
  display: block;
  color: #000;
  padding-right: 5px;
  position: relative;
  margin-right: 5px;
  font-size: 14px;
}
.FlexNormal p span.Label:after {
  content: ':';
  display: block;
  position: absolute;
  color: #666;
  top: 0;
  right: 2px;
  font-size: 12px;
}
.RefLeft {
  width: 68%;
}
.RefRight {
  width: 30%;
}

.BalanceFooter {
  position: relative;
  left: 0;
  width: 100%;
}
.BalanceFooter p {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 99;
  margin: 0;
  position: absolute;
  padding: 2% 0 0px;
  top: 0;
  width: 100%;
  left: 0;
  font-size: 14px;
  text-align: center;
}
.FooterBg {
  width: 100%;
  margin-bottom: 0;
}
.FooterBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  max-width: 100%;
  display: block;
}
table{
  width: 100%;
}

.BalanceContent {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
.MainBalanceTable {
  width: 100%;
}
.MainBalanceTable * {
  border-spacing: 0;
}
.TableBalanceHead {
  text-align: left;
  background: #32a5dc;
}
.Min-350{
  min-width: 320px;
  padding: 10px;
}

.Min-100{
  min-width: 100px;
  padding: 10px;
}
.Total *{
  text-align: center;
  font-weight: 600;
}

.MainBalanceTable {
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
}

.MainBalanceTable tr th {
  padding: 4px 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #0791d0;
}
.MainBalanceTable .TableBalanceHead tr th {
  padding: 10px 5px;


}
.MainBalanceTable tr td {
  padding: 0 0;
  line-height: 32px;
  /* border-right: 1px solid #cecece; */
  border-left: 1px solid #cecece;
  font-size: 14px;
  width: 15%;
  text-align: center;
}
.BorderTop{
  border-top: 1px solid #cecece;
}
.BorderBottom{
  border-bottom: 1px solid #cecece;
}


.MainBalanceTable tr th:nth-child(1) {
  width: 30%;
  max-width: 30%;
  text-align: center;
  padding-left: 15px;
}
.MainBalanceTable tr th:nth-child(2) {
  width: 15%;
  max-width: 30%;
  text-align: left;
  padding-left: 15px;
}




.BorderLeftNone td{
  border-left: 0px !important;
}

.MainBalanceTable tbody{
  border-top: 1px solid #cecece;
 }
.MainBalanceTable tr:nth-child(2n) {
 background-color: #ffffff;
}

.BorderRightNone td{
  border-right: 0px !important;
}
.TextRight{
  text-align: right !important;
  font-weight: 600;
}
.TextCenter{
  text-align: center !important;
}
.AmountInWords{
  padding:10px 20px ;
}
.Notes{
  padding:15px 0px;
  margin-left: 20px;
}

.SmallTable tr td:nth-child(1){
  width: 30%;
  max-width: 30%;
  /* text-align: left; */
  /* padding-left: 15px; */
  border-left: none;
 }
 .SmallTable tr td:nth-child(6){
 
  border-right: none;
 }



@media print {
  .BalanceHeadEmbedArea{
    height: 150px;
  }
  .BalanceFootEmbedArea{
    height: 120px;
  }
  table{
    page-break-after: auto;
    page-break-inside: auto;
  }
tr{
  page-break-after: auto;
  page-break-inside: auto;
}
tr td{
  page-break-after: auto;
  page-break-inside: auto;
}


.FxedBalanceBalanceHead{
  display:  table-header-group;


  width: 100%;
}
.BalanceHead {
  width: 100%;
  position: fixed;
  top: 2px !important;
  left: 2px;
  width: calc(100% - 0px);
}


.FxedBalanceFoot{
  display:  table-footer-group;

  width: 100%;
}
.BalanceFooter{
  position: fixed;
  bottom: 0 !important;
  left:0;
}
.BalanceHead{
  position: fixed;
  top: 0 !important;
  left:0;
}
.PrintButton{
  display: none;
}

@page {
  margin: 0;padding: 0;
  
}
}



table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
  cursor: pointer;
}
table.fold-table > tbody > tr.view td:first-child,
table.fold-table > tbody > tr.view th:first-child {
  position: relative;
  padding-left: 20px;
}
table.fold-table > tbody > tr.view td:first-child:before,
table.fold-table > tbody > tr.view th:first-child:before {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 9px;
  height: 16px;
  margin-top: -8px;
  font: 16px fontawesome;
  color: #000;
  content: "\f0d7";
  transition: all .3s ease;
}
table.fold-table > tbody > tr.view:nth-child(4n-1) {
  background: #eee;
}

table.fold-table > tbody > tr.Root:hover {
    background: #049FF2;
}

table.fold-table > tbody > tr.Root.open {
    background: rgb(4, 159, 242);
    color: black;
    /* border-bottom: 1px solid #000; */
}

table.fold-table > tbody > tr.SubRoot:hover {
    background: #14ABFC;
}

table.fold-table > tbody > tr.SubRoot.open {
    background: rgb(20, 171, 252);
    color: black;
    /* border-bottom: 1px solid #000; */
}

table.fold-table > tbody > tr.SubGroup:hover {
    background: #0E6AD3;
}

table.fold-table > tbody > tr.SubGroup.open {
    background: rgb(14, 106, 211);
    color: black;
    /* border-bottom: 1px solid #000; */
}

table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
  transform: rotate(-180deg);
  color: #ffffff;
}
table.fold-table > tbody > tr.fold {
  display: none;
}
table.fold-table > tbody > tr.fold.open {
  display: table-row;
}

.fold-content {
  /* padding: .5em; */
}
.fold-content h3 {
  margin-top: 0;
}
.fold-content > table {
  /* border: 1px solid #ccc; */
  border-left: none;
  border-right: none;
}
.fold-content > table > tbody tr:nth-child(even) {
  background: #ffffff;
}



@media screen and (min-width: 600px) {

  .BalanceHead, .BalanceFooter {
    display: none;
  }

}

.root1.open{
  background: #6cc4d2 !important;
  color: #ffffff !important;
}

.root2.open{
  background: #04648f !important;
  color: #ffffff !important;
}
.root3.open{
  background: #083f7d !important;
  color: #ffffff !important;
}
.root4.open{
  background: #74b0c7 !important;
  color: #ffffff !important;
}
.root5.open{
  background: #98bbb9 !important;
  color: #ffffff !important;
}