html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #333;
  padding: 0rem 0;
  margin-bottom: 0;
  
}
.PrintButton{
  width: 150px;;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: rgb(0, 132, 255);
  border-radius: 8px;
  border:none;
  padding: 10px 0;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.w-100 {
  width: 100%;
}
.ContractReport {
  max-width: 940px;
  margin: 0 auto;
  border: 1px solid #000;
  position: relative;
 
}
.ContractReport * {
  border-collapse: collapse;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
 
  }
}
/* components */
.Head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  height: 160px;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding: 18px 0 0;
  position: relative;
}
.HeadBg{
  
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.HeadBg img{
  
  max-width: 100%;
}
.Head .Logo {
  width: 251px;
  height: 87px;
  margin: 0px 0 30px;
  display: block;
  position: relative;
  z-index: 99;
}
.Head .Logo img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  height: 100%;
  object-position: center;
}
.ContractReportTitle {
  text-align: center;
  margin: 0 0;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
}
.ServiceDetails {
  border-top: 1px solid #000;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.ServiceDetails h3 {
  width: 100%;
  text-align: left !important;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  max-width: 175px;
  font-size: 16px;
}
.Type {
  width: 50%;
  display: flex;
}
.Type p {
  display: block;
  width: 100%;
  color: #000;
  text-align: left;
  line-height: 14px;
}
.RefNo {
  width: 50%;
  padding-left: 20px;
  display: flex;
}
.RefNo p {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  width: 100%;
  color: #000;
  padding: 2px 0 0;
  margin: 0 0;
}
.Refrences {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 1.6rem 20px;
  box-sizing: border-box;
  font-size: 14px;
}
.Refrences h3 {
  width: 100%;
  text-align: left !important;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 16px;
}
.FlexNormal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.FlexNormal p {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  width: 100%;
  color: #000;
  padding: 2px 0 0;
  margin: 0 0;
}
.FlexNormal p span {
  max-width: calc(100% - 190px);
  /* font-weight: 500; */
}
.FlexNormal p span.Label {
  max-width: 100px;
  min-width: 180px;
  display: block;
  color: #000;
  padding-right: 5px;
  position: relative;
  margin-right: 5px;
  font-size: 14px;
}
.FlexNormal p span.Label:after {
  content: ':';
  display: block;
  position: absolute;
  color: #000;
  top: 0;
  right: 2px;
  font-size: 12px;
}
.RefLeft {
  width: 50%;
  padding-right: 20px;
}
.RefRight {
  width: 50%;
  padding-left: 20px;
}
.ContractReportSubTitle {
  text-align: center;
  margin: 0 0;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #000;
  border-top: 0;
  padding: 10px 0;
}
.ContractReportContent {
  width: 100%;
  box-sizing: border-box;
}
.BindData {
  color: 000 !important;
  font-weight: 600;
}
.Details {
  width: 100%;
  padding: 10px 0px 10px 20px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.Details p {
  display: flex;
  /* flex-flow: row wrap; */
  text-align: left;
  width: 100%;
  color: #000;
  padding: 2px 0 0;
  margin: 0 0;
}
.Flex2 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.Flex2 p {
  width: 51%;
  font-size: 14px;
  padding-right: 40px;
  padding-bottom: 5px;
  color: #000;
  box-sizing: border-box;
}

.Flex2 p:nth-child(2n) {
  padding-right: 0;
  width: 45%;
}
.Or{
  position: relative;
}
.Or:after{
  display: block;
  position: absolute;
  right: 20px;
  width: 15px;
  content: 'Or';
  top: 5px;
}
.Details p span {
  padding-right: 10px;
  font-size: 15px;
  font-weight: 500;
}
.Details p span.Label {
  display: block;
  color: #000;
  padding-right: 5px;
  position: relative;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 400;
}
.Details p span.Label:after {
  content: ':';
  display: block;
  position: absolute;
  color: #000;
  top: 0;
  right: 2px;
  font-size: 12px;
}
.Notes {
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 10px 20px;
  box-sizing: border-box;
}
.Notes h3 {
  width: 100%;
  text-align: left !important;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 15px;
}
.Notes p {
  width: auto;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.DealerCustomer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
  box-sizing: border-box;
}
.DealerCustomer h3 {
  width: 100%;
  text-align: left !important;
  margin: 0;
  padding: 0 0 5px;
  white-space: nowrap;
  max-width: 175px;
  font-size: 16px;
}
.DealerCustomer p {
  display: block;
  width: 100%;
  color: #000;
  text-align: left;
  line-height: 16px;
  font-size: 13px;
}
.DealerCustomer .Dealer {
  width: 50%;
  border-right: 1px solid #000;
  padding: 10px 0;
  box-sizing: border-box;
  padding-right: 15px;
}
.DealerCustomer .Customer {
  width: 50%;
  padding: 10px 0;
  padding-left: 15px;
  box-sizing: border-box;
}
.Signature {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}
.Signature h3 {
  width: 100%;
  text-align: left !important;
  margin: 0;
  padding: 0 0 5px;
  white-space: nowrap;
  max-width: 175px;
  font-size: 16px;
}
.Signature .Dealer {
  width: 50%;
  border-right: 1px solid #000;
  padding: 10px 0;
  box-sizing: border-box;
  padding-right: 15px;
  padding-bottom: 25px;
}
.Signature .Customer {
  width: 50%;
  padding: 10px 0;
  padding-left: 15px;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.ContractReportFooter {
  position: relative;
  left: 0;
  width: 100%;
}
.ContractReportFooter p {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 99;
  margin: 0;
  position: absolute;
  padding: 2% 0 0px;
  top: 0;
  width: 100%;
  left: 0;
  font-size: 14px;
  text-align: center;
}
.FooterBg {
  width: 100%;
  margin-bottom: 0;
  
}
.FooterBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  max-width: 100%;
  display: block;
}


@media print {
  .ContractReportHeadEmbedArea {
    height: 121px;
  }
  .ContractReportEmbedArea{
    height: 30px;
  }
  table {
    page-break-after: auto;
    page-break-inside: auto;
  }
  tr {
    page-break-after: auto;
    page-break-inside: auto;
  }
  tr td {
    page-break-after: auto;
    page-break-inside: auto;
  }
  .FxedContractReportHead {
    display: table-header-group;
    width: 100%;
  }
  .Head {
    width: 100%;
    position: fixed;
    top: 2px !important;
    left: 2px;
    width: calc(100% - 4px);
  }

  .ContractReportFoot{
    display:  table-footer-group;
  
    width: 100%;
  }
  .ContractReportFooter{
    position: fixed;
    bottom: 0 !important;
    left:0;
  }
  .PrintButton{
    display: none;
  }
  @page {
    margin: 0;
    padding: 0;
  }
}