﻿@model VehicleServiceManagement.Models.CategoryDetail
@{
    ViewData["Title"] = "CategoryDetailCreate";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
 <form asp-action="CategoryDetailCreate" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Create Category</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">


                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Category Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="CategoryName" required class="form-control form-control-spl" id="bankcode" />
                                                                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remark: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <textarea asp-for="Remark" required class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                    
                                                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                                                                                                                                                                                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>
                            <button type="button" class="btn btn-success">Save & New</button>
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
