﻿@model AccounTechSoftware.Models.CompanyInformation
@{
    ViewData["Title"] = "CompanyInfoEdit";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<form asp-action="CompanyInfoEdit" enctype="multipart/form-data" id="save">

    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Company Information</h2>
                    </div>
                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">

                                                        <div class="form-regi">
                                                            <div class="row mb-5">
                                                                <div class="col-sm-12">
                                                                    <div class="well well-sm">Basic Information</div>
                                                                </div>
                                                            </div>
                                                            <ul>
                                                                <li>
                                                                    <label>English Name : <lable style="color:red">*</lable></label>
                                                                </li>
                                                                <li>

                                                                    <input asp-for="EnglishName" type="text" required class="form-control form-control-spl" />
                                                                    @Html.ValidationMessageFor(model => model.EnglishName, "", new { @class = "text-danger" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Arabic Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="ArabicName" type="text" required class="form-control form-control-spl" />
                                                                    @Html.ValidationMessageFor(model => model.ArabicName, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>   <div class="row mb-5">
                                                    <div class="col-sm-12">

                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Address:</label>

                                                                </li>

                                                                <li>
                                                                    <textarea asp-for="Address" class="form-control" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Country: <lable style="color:red">*</lable></label>
                                                                </li>
                                                                <li>
                                                                    @Html.DropDownListFor(m => m.Country, (IEnumerable<SelectListItem>)ViewBag.Country, new { required = "required", @class = "form-control form-control-spl " })
                                                                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Emirates: <lable style="color:red">*</lable></label>
                                                                </li>
                                                                <li>
                                                                    @Html.DropDownListFor(m => m.Emirates, (IEnumerable<SelectListItem>)ViewBag.City, new { required = "required", @class = "form-control form-control-spl " })
                                                                    @Html.ValidationMessageFor(model => model.Emirates, "", new { @class = "text-danger" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Post Box:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="PostCode" type="number" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Telephone :</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="PhoneNo" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Fax:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="Fax" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Mobile:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="Mobile" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Email:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="Email" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Website:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="Website" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="well well-sm">License Information</div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>License No: <lable style="color:red">*</lable></label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="LicenseNo" type="text" required class="form-control form-control-spl" />
                                                                    @Html.ValidationMessageFor(model => model.LicenseNo, "", new { @class = "text-danger" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>License Authority:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="Authority" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>License Issue Date:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="LicenseIssueDate" type="date" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>License Expiry Date:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="LicenseExpiryDate" type="date" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Note:</label>
                                                                </li>
                                                                <li>
                                                                    <textarea asp-for="Note" class="form-control" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="well well-sm">Logo</div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Company Logo:</label>
                                                                </li>
                                                                <li>
                                                                    <img id="blah" alt="@Model.logo"
                                                                         src='@Url.Content(Model.logo)' width="75" height="75" />
                                                                    <div class="custom-file">
                                                                        <input asp-for="photo" class="form-control custom-file-input" onchange="readURL(this);">
                                                                        <input type="hidden" name="logo" value="@Model.logo" />
                                                                        <label class="custom-file-label">Choose File...</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="well well-sm">VAT Information</div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Tax Type: <lable style="color:red">*</lable></label>
                                                                </li>
                                                                <li>
                                                                    @Html.DropDownListFor(m => m.TaxType, (SelectList)ViewBag.taxtype, new { required = "required", @class = "form-control form-control-spl" })
                                                                    @Html.ValidationMessageFor(model => model.TaxType, "", new { @class = "text-danger" })

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>T R N No:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="TRNNo" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>VAT Reg. Date:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="RegDate" type="date" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="row mb-5">
                                                            <div class="col-sm-12">
                                                                <div class="well well-sm">Financial Information</div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-5">
                                                            <div class="col-sm-12">
                                                                <div class="form-regi">
                                                                    <ul>
                                                                        <li>
                                                                            <label>Company Type: <lable style="color:red">*</lable></label>
                                                                        </li>
                                                                        <li>
                                                                            @Html.DropDownListFor(m => m.CompanyType, (SelectList)ViewBag.companytype, new { required = "required", @class = "form-control form-control-spl" })
                                                                            @Html.ValidationMessageFor(model => model.CompanyType, "", new { @class = "text-danger" })

                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Currency: <lable style="color:red">*</lable></label>
                                                                </li>
                                                                <li>
                                                                    @Html.DropDownListFor(m => m.Currency, (IEnumerable<SelectListItem>)ViewBag.currency, new { required = "required", @class = "form-control form-control-spl " })
                                                                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Paid Up Capital:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="Capital" type="number" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Financail Year First Month:</label>
                                                                </li>
                                                                <li>
                                                                    @Html.DropDownListFor(m => m.FromMonth, (SelectList)ViewBag.month, new { @class = "form-control form-control-spl" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Financial Year Last Month:</label>
                                                                </li>
                                                                <li>
                                                                    @Html.DropDownListFor(m => m.ToMonth, (SelectList)ViewBag.month, new { @class = "form-control form-control-spl" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="well well-sm">Primary Bank Information</div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Bank Name</label>
                                                                </li>
                                                                <li>
                                                                    @Html.DropDownListFor(m => m.IdBranch, (SelectList)ViewBag.bank, new { @class = "form-control form-control-spl" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Account No.</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="AccNo" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>IBAN </label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="IBAN" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Branch Name:</label>
                                                                </li>
                                                                <li>
                                                                    <input asp-for="branchname" type="text" class="form-control form-control-spl" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary btn-success">Save & Done</button>
                                <button type="button" class="btn btn-primary btn-primary">Print</button>
                                <input type='button' class="btn btn-primary btn-danger" value='Cancel' onclick='window.location = "@Url.Action("Index", "Master")";' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@if (ViewBag.successmessage != null)
{

    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header ">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Success </h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            @ViewBag.successmessage
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script>

        $(document).ready(function () {

            $('#myModal').modal('show');

        });

    </script>

}

<script>

    $(function () {
        $('#EnglishName').select();
    });

    $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if
            (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
        if (index == 29) {
            e.stopPropagatio = false;
        }

    });

    $("#IdBranch").on("change", function () {
        var code = $("#IdBranch").val();
        var branch = code.split(',')[1];
        $('#branchname').val(branch);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {

        $("form").bind("keypress", function (e) {
            if (e.keyCode == 13) return false;
        });

    });


</script>

