﻿@model VehicleServiceManagement.Models.DealerInformation
@{
    ViewData["Title"] = "DealerInformationCreate";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

    <form asp-action="DealerInformationCreate" enctype="multipart/form-data">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2 class="box-title">Create Dealer</h2>
                            <div class="empl-regi">

                            </div>
                        </div>


                        <div class="box-body with-border">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="empl-regi">
                                        <div class="tab-content">
                                            <div id="bi" class="tab-pane fade in active">
                                                <div class="col-sm-6">

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Dealer Name: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="Name" required class="form-control form-control-spl" id="bankcode" />
                                                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Dealer Type: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        @Html.DropDownListFor(m => m.DealerType, (SelectList)ViewBag.type, "-- Select Dealer Type --", new { @class = "form-control form-control-spl" })
                                                                        @Html.ValidationMessageFor(model => model.DealerType, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Email: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="Email" required class="form-control form-control-spl" />
                                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>T R N: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="TRNumber" required class="form-control form-control-spl" />
                                                                        @Html.ValidationMessageFor(model => model.TRNumber, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Address: </label>
                                                                    </li>

                                                                    <li>
                                                                        <textarea asp-for="Address" class="form-control form-control-spl" style="height:auto !important; max-width:100%; width:100%;" rows="3"></textarea>
                                                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Contact No: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="ContactNo" required class="form-control form-control-spl" />
                                                                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Contact Person: </label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="ContactPerson" class="form-control form-control-spl" />
                                                                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Remarks: </label>
                                                                    </li>

                                                                    <li>
                                                                        <textarea asp-for="Remark" required class="form-control form-control-spl"></textarea>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-sm-6">

                                                    <div class="row mb-5">

                                                        <div class="col-lg-10">
                                                            <div class="form-group">
                                                                <label class="col-md-6 control-label no-padding">Choose License: <label style="color:red">*</label></label>
                                                                <div class="col-md-6">
                                                                    <input asp-for="VatDocument" class="form-control form-control-spl  custom-file-input" id="imageBrowes">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <div id="imgPreview" class="thumbnail" style="display:none">
                                                                    <img class="img-responsive" id="targetImg" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row mb-5">

                                                        <div class="col-lg-10">
                                                            <div class="form-group">
                                                                <label class="col-md-6 control-label no-padding">Choose V A T Certificate: <label style="color:red">*</label></label>
                                                                <div class="col-md-6">
                                                                    <input asp-for="TaxDocument" class="form-control form-control-spl  custom-file-input" id="imageBrowes">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <div id="imgPreview" class="thumbnail" style="display:none">
                                                                    <img class="img-responsive" id="targetImg" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="pull-right">


                                <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>
                                <button type="button" class="btn btn-success">Save & New</button>
                                <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
