﻿@model VehicleServiceManagement.Models.MakeDetail
@{
    ViewData["Title"] = "MakeDetailss";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<form asp-action="MakeDetailss" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Make Details</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">


                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Make: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.Make</label>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Product Group Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.ProductGroupId</label>

                                                                   @* <label>Total Activities:</label>@ViewBag.pg*@
                                                                   @* @Html.TextBox("ProductGroupId", (object)ViewBag.pg)*@
                                                                    @*@Html.Label((string)ViewBag.pg)*@
                                                                    @* @Html.LabelFor(model => model.ProductGroup, (string)@ViewBag.pg)*@
                                                                    @*<label class="form-control form-control-spl">@Html.Raw(ViewBag.pg)</label>*@
                                                                    @*@Html.DisplayFor(model => model.ProductGroupId)*@
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Category: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>

                                                                    <label class="form-control form-control-spl">@Model.CategoryId</label>
                                                                    @*@Html.TextBox((string)ViewBag.CategoryName)*@

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Remark: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <label class="form-control form-control-spl">@Model.Remarks</label>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-primary btn-success" value="Back" onclick="history.back()">
                </div>

            </div>
        </div>
    </div>

</form>
