﻿.font {
    font-style: normal;
    font-family: Calibrilight;
}

.mainContentArea {
    min-width: 100%;
    /*margin-top:1%;*/
    min-height: 100vh;
    /*margin: 1px;*/
    background-color: lightcyan;
    font-size: smaller;
    text-align: left;
    /*min-width: 150px;*/
    /*margin-left: 4%;*/
    border-style: solid;
    border-color: #b3ffff;
}

.leftsidebar {
    /*margin: 1px;*/
    min-height: 100%;
    margin-top: 2%;
    background-color: whitesmoke;
    font-size: medium;
    text-align: center;
    min-width: 118%;
    /*margin-left: 20%;*/
}




.background {
    background-color: whitesmoke;
}


.vertical-menu {
    margin-top: 18%;
    /*margin-left: 14%;*/
    width: 75%;
    background-color: aqua;
    text-align: left;
}

    .vertical-menu a {
        /*background-color: #14293d;*/
        color: white;
        display: block;
        padding: 1%;
        text-decoration: none;
        /*width:200px;*/
        height: 3%;
    }

        .vertical-menu a:hover {
            /*background-color:lightgray;*/
            text-decoration: none;
            /*text-shadow: 0 0 2px #999;*/
        }



.icon-bar {
    width: 100%;
    background-color: whitesmoke;
}

    .icon-bar a {
        display: block;
        text-align: left;
        padding: 5%;
        transition: all 0.3s ease;
        color: white;
    }

        .icon-bar a:hover {
            background-color: antiquewhite;
        }

.navbar {
    background-color: whitesmoke;
    font-family: Arial;
    margin-left: 2%;
    height: 15%;
    margin-right: 10%;
    font-size: large;
    /*margin: 1%;*/
    width: 110%;
}


.color {
    color: lightgray;
}

.textcenter {
    height: 100%;
    color: wheat;
}

.button {
    background-color: #007399;
    border-radius: 6%;
    color: white;
    padding: 5% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 4% 2%;
    cursor: pointer;
}

.head {
    color: #191970;
}

.button1 {
    background-color: #007399;
    color: white;
    text-align: center;
    text-decoration: none;
    /*font-size: 82%;
    margin: 3% 2%;*/
    float: initial;
    border: solid #E0FFFF;
    width: 7em;
    height: 5em;
    font-size: small;
    border-radius: 2%;
}

.style {
    /*border-style: solid;
    border-color: #007399;*/
    margin-left: 2%;
    font-size: small;
    /*background-color:lightcyan;*/
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
    table-layout: auto;
}
/*table1, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
    table-layout:fixed;
    width:100%;
    font-size:small;
}*/


.button3 {
    background-color: #269393;
    color: white;
    text-align: center;
    text-decoration: none;
    /*font-size: 20px;*/
    margin: 1% 1%;
    float: left;
    border: solid #E0FFFF;
    border-radius: 8%;
    width: 12em;
    height: 3em;
}

.button4 {
    background-color: #007399;
    color: white;
    text-align: center;
    text-decoration: none;
    /*font-size:;*/
    margin: 4% 4%;
    float: left;
    border: solid #E0FFFF;
    width: 7em;
    height: 6em;
    font-size: small;
    border-radius: 2%;
}

/*.dropdown-menu {
    background-color: #007399;
    color: white;
}*/

.button5 {
    background-color: #007399;
    color: white;
    text-align: center;
    text-decoration: none;
    /*font-size:15px;*/
    margin: 1% 1%;
    float: left;
    border: solid #E0FFFF;
    width: 8em;
    height: 5em;
    font-size: small;
    border-radius: 2%;
}
/*.padding-0 {
    padding-right: 0;
    padding-left: 0;
}*/
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

    a:hover {
        background-color: #ddd;
        color: black;
    }

.previous {
    background-color: lightseagreen;
    color: black;
}

.table1 {
    width: 100%;
    height: 50%;
    border-collapse: collapse;
    table-layout: fixed;
}

.bttn {
    /* button gulo ke style korar jonne ai class */
    margin-bottom: 5px;
    /*margin-left: 5px;*/
    width: 50px;
    height: 45px;
    font-size: 22px;
}

.btnn {
    width: 70px;
    height: 55px;
    font-size: 16px;
}
p.normal {
    border: 2px solid red;
}

