﻿@{
    ViewData["Title"] = "AboutUsIndex";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<style>
    p.normal {
        border: 2px solid black;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="container-info">

            <img src="~/Assets/Images/LogoPng.png" alt="logo" height="220" width="400" />
           

        </div>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br /><br />

              <p>



                  <h4>eVisualSoft  :Vehicle Service Management</h4><br />
                  <h4>Version       : 1.1.1</h4><br />
                  <h3>Demo Version  : Remaining Days 30</h3><br />
                  <h4>Copy Right &copy; eVisualSoft 2015-2020<br /></h4><br />

                  <h4><a href="http://evisualsoft.com" target="_blank">www.eVisualSoft.com</a></h4>


              </p>

    </div>
</div>




