﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Help And Support Information Dashboard</h2>
    </div>
</div>
