﻿
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            axisY: {
                title: "Billions of Barrels",
                titleFontColor: "#4F81BC",
                lineColor: "#4F81BC",
                labelFontColor: "#4F81BC",
                tickColor: "#4F81BC"
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                itemclick: toggleDataSeries
            },
            data: [{
                type: "column",
                name: "Income",
                legendText: "Income",
                showInLegend: true,
                dataPoints: [
                    { label: "2010", y: 266.21 },
                    { label: "2011", y: 302.25 },
                    { label: "2012", y: 157.20 },
                    { label: "2013", y: 148.77 },
                    { label: "2014", y: 101.50 },
                    { label: "2015", y: 97.8 }
                ]
            },
            {
                type: "column",
                name: "Expense (million/day)",
                legendText: "Expence",
                axisYType: "secondary",
                showInLegend: true,
                dataPoints: [
                    { label: "2010", y: 10.46 },
                    { label: "2011", y: 2.27 },
                    { label: "2012", y: 3.99 },
                    { label: "2013", y: 4.45 },
                    { label: "2014", y: 2.92 },
                    { label: "2015", y: 3.1 }
                ]
            }]
        });
        chart.render();

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

    }
</script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green-gradient">
                    <div class="inner">
                        <h3>@ViewBag.Contract</h3>
                        <p>Contracts</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-bag"></i>
                    </div>
                    <a href="/Contract/ContractInformationIndex" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red-gradient">
                    <div class="inner">
                        <h3>0</h3>
                        <p>Pending Invoice</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow-gradient">
                    <div class="inner">
                        <h3>@ViewBag.Premium</h3>
                        <p>Premium</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-plus"></i>
                    </div>
                    <a href="/Tools/PremiumIndex" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@ViewBag.Other</h3>

                        <p>Other Service Premium</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <a href="/Tools/OtherServicePremiumDetailsIndex" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h1 class="box-title">Recent Activity</h1>
                            </div>
                            <div class="box-body">
                                <h2 style="font-size:18px">
                                    <strong>Product Request</strong>
                                </h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- small box -->
                                        <div class="small-box bg-red-gradient">
                                            <div class="inner">


                                              



                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h1 class="box-title">Income & Expense</h1>
                            </div>
                            <div class="box-body">
                                <div id="chartContainer" style="height: 250px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/js/Scripts/jquery.canvasjs.min.js"></script>



