﻿@model VehicleServiceManagement.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>eVisualSoft Login</title>
    <link rel="icon" href="~/Assets/images/favicon.png" sizes="16x16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <link type="text/css" href="~/Content/main.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/skin-blue.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/AdminLTE.css" rel="stylesheet" />
    <script src="~/js/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <form asp-action="CreateLogin" asp-controller="Home" enctype="multipart/form-data">
        <div class="lgn-warp">
            <div class="lgn-box-body">
                <div class="container-info">
                    <img src="~/Assets/Images/logosoft.jpg" alt="logo" />
                    @*<img src="~/Assets/Images/NameLogo.png" alt="Namelogo" />*@
                    @*<h1>eVisualSoft</h1>
        <p>Touch with Tech</p>*@
                    <h2><br /><b><i>Vehicle Management System</i></b></h2>
                    <h2><br />Powered by <a href="http://www.evisualsoft.com/" target="_blank">evisualsoft.com</a></h2>
                    <h2><br /><i>Version 1.1.0</i></h2>
                </div>
                <div class="container-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group has-feedback">
                                <h1>Login</h1>
                            </div>
                            <div class="form-group has-feedback">
                                <input asp-for="UserName" type="text" id="usename" required placeholder="User Name" class="form-control" />
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input asp-for="Password" type="password" required placeholder="Password" class="form-control" />
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>

                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-xs-8">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Remember Me</label>
                                    </div>
                                </div>

                            </div>
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label style="color:red">@ViewBag.ErrorMessage</label>
                                    </div>
                                </div>

                            }
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn-signin btn-block btn-flat">Sign In</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>


