﻿ 
@{
    Layout = null;
    VehicleServiceManagement.Models.ClsContractPrint objval = ViewBag.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contract Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link type="text/css" href="~/css/certificate.css" rel="stylesheet" />
    
</head>
<body>
    <!-- partial:index.partial.html -->

    <div class="ContractReport" id="printview">
        <div class="Head">
            <div class="HeadBg"> <img src="~/images/header.png" alt=""></div>
            <div class="Logo">
                <img src="~/images/logo.png">
            </div>
        </div>
        <table class="w-100">
            <thead class="FxedContractReportHead">
                <tr>
                    <td class="ContractReportHeadEmbedArea" colspan="3"></td>
                </tr>
            </thead>
            <tbody style="background-color:white">
                <tr>
                    <td colspan="3">
                        <div class="ServiceDetails">
                            <div class="Type">
                                <h3>Service Type : </h3>
                                <p class="BindData">RE-Exotic-Used Car - RE- Exotic - Gold - UC (Star)</p>
                            </div>
                            <div class="RefNo">
                                <h3>Service Reference # : </h3>
                                <p class="BindData">@objval.ServiceReference</p>
                            </div>
                        </div>
                        <div class="Refrences">
                            <div class="FlexNormal">
                                <div class="RefLeft">
                                    <h3>Owner's Details</h3>
                                    <p><span class="Label"> Owner's Name</span> <span class="BindData"> @objval.OwnerName </span> </p>
                                    <p><span class="Label"> Mobile No</span> <span class="BindData"> @objval.MobileNumber</span> </p>
                                    <p><span class="Label"> Email</span><span class="BindData"> @objval.Email</span> </p>
                                    <p><span class="Label"> City</span> <span class="BindData"> @objval.City</span> </p>
                                    <p>
                                        <span class="Label"> Address</span> <span class="BindData">
                                           @objval.Address
                                        </span>
                                    </p>
                                </div>
                                <div class="RefRight">
                                    <h3>Vehicle Details</h3>
                                    <p><span class="Label"> Make </span><span class="BindData">@objval.Make</span></p>
                                    <p><span class="Label"> Model</span><span class="BindData">@objval.Model</span></p>
                                    <p><span class="Label"> Year </span> <span class="BindData">@objval.Year</span></p>
                                    <p><span class="Label"> Chassis / V.I.N No.</span><span class="BindData">@objval.Cahsis</span></p>
                                    <p><span class="Label"> Vehicle Registration No</span><span class="BindData">@objval.VehicleNumber</span></p>
                                    <p><span class="Label"> Engine CC</span><span class="BindData"> @objval.EngineCC</span></p>
                                    <p><span class="Label"> Present Odometer Reading</span><span class="BindData"> </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="ContractReportContent">
                            <div class="cnt ContractReportSubTitle">
                                Contract Validity Details
                            </div>
                            <div class="Details">
                                <div class="Flex2">
                                    <p>
                                        <span class="Label"> Contract Isuue Date</span> <span class="BindData"> @objval.ContractIssueDate </span>
                                    </p>
                                    <p>
                                        <span class="Label"> Contract Purchase Date </span> <span class="BindData">
                                            @objval.ContractPurchaseDate
                                        </span>
                                    </p>
                                </div>
                                <div class="Flex2">
                                    <p class="Or">
                                        <span class="Label"> This contract is valid from </span> 
                                        <span class="BindData">
                                             @objval.ValidFrom
                                        </span>
                                    </p>
                                    <p>
                                        <span class="Label">from Kms. </span> <span class="BindData"> @objval.ValidFromKM </span> whichever
                                        occurs first.
                                    </p>
                                </div>
                                <div class="Flex2">
                                    <p class="Or">
                                        <span class="Label"> This contract expire on </span> 
                                        <span class="BindData">
                                            @objval.ValidTo
                                        </span>
                                    </p>
                                    <p>
                                        <span class="Label"> from Kms. </span> <span class="BindData"> @objval.LimitKm </span> whichever
                                        occurs first.
                                    </p>
                                </div>
                                <div class="Flex2">
                                    <p><span class="Label"> This Insurance Policy will expire when whichever limit is reached first,time or Kms.</span></p>
                                    <p> <span class="BindData"> @objval.LimitMonth </span> Months <span class="Label"> &nbsp; Or &nbsp; Kms</span> <span class="BindData">  @objval.LimitKm </span> </p>
                                </div>
                                <div class="Flex2">
                                    <p>
                                        <span class="Label"> Vehicle Eligibility and Maximum payout (Per Claim)</span> <span class="BindData"> @objval.ClaimAmount</span>
                                    </p>
                                </div>
                            </div>
                            <div class="Notes">
                                <h3>NOTE: </h3>
                                <p>
                                    The vehicle must be regularly serviced at the correct time (s) and kilometer intervals as recommended
                                    by the relevant manufacturer. Failure to service
                                    the vehicle according to such recommendations will render this contract voidable. Any claim before
                                    crossing ONE month and 1000 kms from the policy
                                    purchasing date will be invalid until the warranty holder repair the defect as well as the policy
                                    company confirmed with another pre warranty
                                    inspection report from the authorized service center stating that the condition of the vehicle is
                                    sound and worthy. Pre-inspection report before
                                    purchasing the warranty is a mandatory procedure and should be applied to be eligible for raising a
                                    claim even after above mentioned duration.
                                    Pre-Inspection report to be provided from DYNATRADE (for the selection of Jap/Kor cars)Pre-Inspection
                                    report to be provided from MPW Authorized
                                    repair centers (For American/European cars)
                                </p>
                            </div>
                            <div class="DealerCustomer">
                                <div class="Dealer">
                                    <h3>DEALER </h3>
                                    <p>
                                        RE-Autohaus Middle East hereby certify the vehicle is
                                        mechanically & electrically sound & no pre-existing faults
                                        exits at the time of sale. It is an undertaking that the sale
                                        of contract of assistance has been done as per the
                                        specified terms & condition of Motors Prime to assure
                                        the customer to cover repairs as per the coverage.
                                    </p>
                                </div>
                                <div class="Customer">
                                    <h3>CUSTOMER</h3>
                                    <p>
                                        I have read, understood and agree to be bound by the
                                        terms and conditions of this policy
                                    </p>
                                </div>
                            </div>
                            <div class="Signature">
                                <div class="Dealer">
                                    <h3>DEALER'S SIGNATURE </h3>
                                    <h3>DATE OF POLICY ISSUE</h3>
                                </div>
                                <div class="Customer">
                                    <h3>
                                        OWNER'S SIGNATURE
                                    </h3>
                                    <h3>DATE OF POLICY ISSUE</h3>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <!-- partial -->
            <tfoot class="ContractReportFoot">
                <tr>
                    <td colspan="3" class="ContractReportEmbedArea"></td>
                </tr>
            </tfoot>
        </table>

        <div class="ContractReportFooter">
            <p>Note : Important to scan and keep a copy of the signed document.</p>
            <div class="FooterBg"><img src="~/images/footer.png"></div>
        </div>
    </div>
       
    <button onclick="myFunction()" class="PrintButton">Print</button>
    
</body>
</html>

<script>

    function myFunction() {
        window.print();
        window.location.href = '/Contract/ContractInformationIndex';
    }
</script>
