﻿@model IEnumerable<VehicleServiceManagement.Models.UserPermission>
@{

}

    <ul class="nav navbar-nav">
        @if (Model.Where(a => a.FormName == "Contract" && a.DisplayPermission == true).Count() > 0)
        {
            <li>
                <a href="/Contract/ContractInformationIndex">
                    <p style="margin:0px">
                        <svg height="20" viewBox="-5 0 459 460" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m336.5 71.199219c0-5.597657-3.199219-11.199219-8-13.597657l-96-55.203124c-4.800781-3.199219-11.199219-3.199219-16 0l-96 55.203124c-4.800781 3.199219-8 8-8 13.597657v126.402343l112 64 112-64zm0 0" fill="#b4b4b5" /><path d="m224.5 261.601562 72-40.800781v-43.199219c0-7.203124-4.800781-12.800781-11.199219-15.203124l-36.800781-12.796876 11.199219-11.203124c3.199219-3.199219 4.800781-7.199219 4.800781-11.199219v-57.597657c0-8.800781-7.199219-16-16-16h-48c-8.800781 0-16 7.199219-16 16v57.597657c0 4 1.601562 8 4.800781 11.199219l11.199219 11.203124-36.800781 12c-6.398438 2.398438-11.199219 8-11.199219 15.199219v43.199219zm0 0" fill="#efccbf" /><path d="m184.5 109.601562c0-10.402343 8-18.402343 18.398438-18.402343 3.203124 0 6.402343.800781 9.601562 2.402343l12 8 12.800781-7.203124c8.800781-4.796876 20-2.398438 24.800781 6.402343 1.597657 3.199219 2.398438 6.398438 2.398438 9.597657v-40c0-8.796876-7.199219-16-16-16h-48c-8.800781 0-16 7.203124-16 16zm0 0" fill="#704d4d" /><path d="m285.300781 161.601562-36.800781-12-24 24 16.800781 16.796876c4.800781 4.800781 5.597657 11.203124 4 16.800781l-20.800781 54.402343 72-40.800781v-43.199219c0-7.203124-4.800781-13.601562-11.199219-16zm0 0" fill="#3a6289" /><path d="m204.5 207.199219c-2.398438-5.597657-.800781-12.800781 4-16.800781l16-16.796876-24-24-36.800781 12c-6.398438 2.398438-11.199219 8-11.199219 15.199219v43.199219l72 40.800781zm0 0" fill="#3a6289" /><path d="m224.5 173.601562-16.800781 16.796876c-4.800781 4.800781-5.597657 11.203124-4 16.800781l20.800781 54.402343 20-54.402343c2.398438-5.597657.800781-12.800781-4-16.800781zm0 0" fill="#edd9be" /><path d="m224.5 397.601562v-136l-112-64-104 59.199219c-4.800781 3.199219-8 8-8 13.597657v127.203124l104 59.199219c4.800781 3.199219 11.199219 3.199219 16 0zm0 0" fill="#d6d7d8" /><path d="m170.898438 300.800781c-2.398438-32-30.398438-56-63.199219-53.601562-28.800781 2.402343-52 24.800781-53.597657 53.601562l-5.601562 80.800781h128zm0 0" fill="#704d4d" /><path d="m172.5 373.601562-32.800781-9.601562c-7.199219-1.601562-12-8-12-15.199219v-12l6.402343-12.800781c.796876-2.398438 1.597657-4.800781 1.597657-7.199219v-15.199219c0-13.601562-10.398438-24-24-24-13.597657 0-24 10.398438-24 24v15.199219c0 2.398438.800781 4.800781 1.601562 7.199219l6.398438 12.800781v12c0 7.199219-4.800781 13.597657-12 15.199219l-31.199219 9.601562c-7.199219 1.597657-12 8-12 15.199219v32l64 36.800781c4.800781 3.199219 11.199219 3.199219 16 0l64-36.800781v-32c0-7.199219-4.800781-13.601562-12-15.199219zm0 0" fill="#efccbf" /><path d="m90.898438 360c-.796876.800781-1.597657 1.601562-2.398438 2.398438-.800781.800781-2.398438 1.601562-4 1.601562l-32 9.601562c-7.199219 1.597657-12 8-12 15.199219v32l64 36.800781c2.398438 1.597657 4.800781 2.398438 8 2.398438v-78.398438zm0 0" fill="#d3756e" /><path d="m88.5 448 16 8.800781c4.800781 3.199219 11.199219 3.199219 16 0l64-36.800781v-32c0-7.199219-4.800781-13.601562-12-15.199219l-32.800781-9.601562c-2.398438-.800781-4.800781-2.398438-6.398438-4l-20.800781 22.402343-24 24zm0 0" fill="#e57e73" /><path d="m448.5 271.199219c0-5.597657-3.199219-11.199219-8-13.597657l-104-60-112 64v136l104 59.199219c4.800781 3.199219 11.199219 3.199219 16 0l104-59.199219zm0 0" fill="#e9e9e9" /><path d="m408.5 377.601562c0-7.203124-4.800781-12.800781-11.199219-15.203124l-36.800781-12.796876 13.601562-20c1.597657-2.402343 2.398438-5.601562 2.398438-8.800781v-27.199219l-40-8-40 8v27.199219c0 3.199219.800781 6.398438 2.398438 8.800781l13.601562 20-36.800781 12c-6.398438 2.398438-11.199219 8-11.199219 15.199219v43.199219l64 36.800781c4.800781 3.199219 11.199219 3.199219 16 0l64-36.800781zm0 0" fill="#efccbf" /><path d="m360.5 349.601562c-9.601562 13.597657-28.800781 16-41.601562 6.398438-2.398438-1.601562-4-4-6.398438-6.398438l-36.800781 12c-6.398438 2.398438-11.199219 8-11.199219 15.199219v43.199219l64 36.800781c4.800781 3.199219 11.199219 3.199219 16 0l64-36.800781v-43.199219c0-7.199219-4.800781-12.800781-11.199219-15.199219zm0 0" fill="#5da364" /><path d="m312.5 253.601562c-8.800781 0-16 7.199219-16 16v24l40-8 40 8v-40zm0 0" fill="#704d4d" /><g fill="#538457"><path d="m328.5 381.601562h16v16h-16zm0 0" /><path d="m328.5 413.601562h16v16h-16zm0 0" /><path d="m360.5 381.601562h24v16h-24zm0 0" /></g><path d="m264.5 181.601562h16v16h-16zm0 0" fill="#4282b7" /><path d="m136.5 389.601562h24v16h-24zm0 0" fill="#f78b7c" /></svg>
                    </p>
                    <p>Contract</p>
                </a>
            </li>
        }
        @if (Model.Where(a => a.FormName == "Quotation" && a.DisplayPermission == true).Count() > 0)
        {
            <li>
                <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p style="margin:0px">
                        <svg height="20" viewBox="0 -88 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m127.75 64.125c-35.082031 0-63.625 28.542969-63.625 63.625s28.542969 63.625 63.625 63.625 63.625-28.542969 63.625-63.625-28.542969-63.625-63.625-63.625zm0 112.21875c-26.796875 0-48.59375-21.800781-48.59375-48.59375 0-26.796875 21.796875-48.59375 48.59375-48.59375 26.792969 0 48.59375 21.796875 48.59375 48.59375 0 26.792969-21.800781 48.59375-48.59375 48.59375zm0 0" /><path d="m127.75 96.1875c-17.402344 0-31.5625 14.160156-31.5625 31.5625s14.160156 31.5625 31.5625 31.5625 31.5625-14.160156 31.5625-31.5625-14.160156-31.5625-31.5625-31.5625zm0 48.09375c-9.117188 0-16.53125-7.414062-16.53125-16.53125s7.414062-16.53125 16.53125-16.53125 16.53125 7.414062 16.53125 16.53125-7.414062 16.53125-16.53125 16.53125zm0 0" /><path d="m99.324219 203.257812c-31.242188-11.769531-52.230469-42.113281-52.230469-75.507812 0-44.476562 36.179688-80.65625 80.65625-80.65625 12.730469 0 24.910156 2.875 36.195312 8.554688 3.707032 1.867187 8.226563.371093 10.089844-3.335938 1.867188-3.707031.375-8.222656-3.332031-10.089844-13.402344-6.742187-27.855469-10.160156-42.953125-10.160156-52.761719 0-95.6875 42.925781-95.6875 95.6875 0 39.617188 24.902344 75.613281 61.964844 89.570312 3.832031 1.445313 8.238281-.550781 9.679687-4.382812 1.464844-3.882812-.5-8.21875-4.382812-9.679688zm0 0" /><path d="m208.40625 127.75c0 24.824219-11.183594 47.902344-30.683594 63.3125-3.257812 2.574219-3.808594 7.300781-1.234375 10.554688 2.539063 3.210937 7.339844 3.777343 10.554688 1.238281 23.128906-18.28125 36.394531-45.65625 36.394531-75.105469 0-23.648438-8.699219-46.351562-24.488281-63.929688-2.777344-3.089843-7.527344-3.339843-10.613281-.566406-3.089844 2.773438-3.339844 7.523438-.566407 10.613282 13.308594 14.8125 20.636719 33.949218 20.636719 53.882812zm0 0" /><path d="m504.484375 240.46875h-316.671875c40.242188-21.527344 67.6875-63.976562 67.6875-112.71875 0-70.441406-57.308594-127.75-127.75-127.75s-127.75 57.308594-127.75 127.75v80.15625c0 70.441406 57.308594 127.75 127.75 127.75h189.371094c4.148437 0 7.511718-3.363281 7.511718-7.515625s-3.363281-7.515625-7.511718-7.515625h-189.371094c-62.15625 0-112.71875-50.566406-112.71875-112.71875v-20.078125c21.53125 40.238281 63.980469 67.671875 112.71875 67.671875h64.625v32.5625c0 4.152344 3.367188 7.515625 7.515625 7.515625s7.515625-3.363281 7.515625-7.515625v-32.5625h49.09375v32.5625c0 4.152344 3.367188 7.515625 7.515625 7.515625s7.515625-3.363281 7.515625-7.515625v-32.5625h49.09375v32.5625c0 4.152344 3.367188 7.515625 7.515625 7.515625s7.515625-3.363281 7.515625-7.515625v-32.5625h49.09375v32.5625c0 4.152344 3.367188 7.515625 7.515625 7.515625 4.152344 0 7.515625-3.363281 7.515625-7.515625v-32.5625h20.933594l26.054687 32.5625-26.054687 32.5625h-68.527344c-4.148438 0-7.515625 3.363281-7.515625 7.515625s3.367187 7.515625 7.515625 7.515625h152.296875c4.152344 0 7.515625-3.363281 7.515625-7.515625v-80.15625c0-4.152344-3.363281-7.515625-7.515625-7.515625zm-489.453125-112.71875c0-62.152344 50.5625-112.71875 112.71875-112.71875 62.152344 0 112.71875 50.566406 112.71875 112.71875s-50.566406 112.71875-112.71875 112.71875c-62.15625 0-112.71875-50.566406-112.71875-112.71875zm447.226562 165.007812c2.195313-2.746093 2.195313-6.644531 0-9.390624l-22.292968-27.867188h57.003906v65.125h-57.003906zm0 0" /></svg>
                    </p>
                    <p>Quotation</p>
                </a>
                <ul class="dropdown-menu multi-level">
                    <li><a href="#">New Vehicle</a></li>
                    <li><a href="#">Pre Owned Vehicle</a></li>

                </ul>
            </li>
        }
        @if (Model.Where(a => a.FormName == "Report" && a.DisplayPermission == true).Count() > 0)
        {
    <li>
        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p style="margin:0px;">
                <svg viewBox="0 0 512 512" width="20px" height="20px" style="fill:white;" xmlns="http://www.w3.org/2000/svg">
                    <path d="m76 240c12.101562 0 23.054688-4.855469 31.148438-12.652344l44.402343 22.199219c-.222656 1.808594-.550781 3.585937-.550781 5.453125 0 24.8125 20.1875 45 45 45s45-20.1875 45-45c0-6.925781-1.703125-13.410156-4.511719-19.277344l60.234375-60.234375c5.867188 2.808594 12.351563 4.511719 19.277344 4.511719 24.8125 0 45-20.1875 45-45 0-4.671875-.917969-9.089844-2.246094-13.328125l52.335938-39.242187c7.140625 4.769531 15.699218 7.570312 24.910156 7.570312 24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45c0 4.671875.917969 9.089844 2.246094 13.328125l-52.335938 39.242187c-7.140625-4.769531-15.699218-7.570312-24.910156-7.570312-24.8125 0-45 20.1875-45 45 0 6.925781 1.703125 13.410156 4.511719 19.277344l-60.234375 60.234375c-5.867188-2.808594-12.351563-4.511719-19.277344-4.511719-12.101562 0-23.054688 4.855469-31.148438 12.652344l-44.402343-22.199219c.222656-1.808594.550781-3.585937.550781-5.453125 0-24.8125-20.1875-45-45-45s-45 20.1875-45 45 20.1875 45 45 45zm0 0" />
                    <path d="m497 482h-16v-317c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v317h-30v-227c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v227h-30v-107c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v107h-30v-167c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v167h-16c-8.289062 0-15 6.710938-15 15s6.710938 15 15 15h482c8.289062 0 15-6.710938 15-15s-6.710938-15-15-15zm0 0" />
                </svg>
            </p>
            <p> Report</p>
        </a>
        <ul class="dropdown-menu multi-level">
            <li><a href="#">Invoice</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </li>
        }
    </ul>


