﻿@model  VehicleServiceManagement.Models.ContractManagementDisplay
@{
    ViewData["Title"] = "ContractInformationIndex";
    Layout = "~/Views/Shared/_ContractLayout.cshtml";
}

<script>
            var gl_Id = 0;

    function ContractInfoDelete(Id) {
        gl_Id = Id;
        $("#DeleteConfirmation").modal("show");
    }

    function ConfirmDelete() {
        var id = $("#Id").val();

        $.ajax({
            type: "POST",
            url: "/Contract/DeleteContractInformation?Id=" + gl_Id,
            success: function (data) {
                $("#DeleteConfirmation").modal("hide");
                $("table #" + id).remove();
                location.reload(true);
            }
        })
    }

    function Print(Id) {
        var url = "/Contract/ContractPrint?id=" + Id;

        $.ajax({
            type: "GET",
            url: url,

            success: function (data) {
                $('#ModelPrint').html(data);
                $('#ModelPrint').modal("show");

            }
        })
    }

    function printDiv() {

        var divToPrint = document.getElementById("ModelPrint");
        newWin = window.open("");
        newWin.document.write(divToPrint.innerHTML);
        newWin.print();
        newWin.close();
    }

</script>



 <div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Contract Information Index</h2>
    </div>
    <div class="box-body">
        <div class="row mb-7">
            <div class="col-sm-12">
                <div class="pur-in-btn">
                    <ul>
                        @if (Model.userP.InsertPermission)
                        {
                        <li><a asp-action="ContractInformationCreate" asp-controller="Contract">New <i class="fa fa-plus"></i></a></li>
                        }
                        @*<li><a href="">Edit <i class="fa fa-edit"></i></a></li>
                            <li><a href="">Delete <i class="fa fa-trash"></i></a></li>*@
                        <li><a asp-action="index" asp-controller="Contract">Cancel <i class="fa fa-ban"></i></a></li>
                        @if (Model.userP.PrintPermission)
                        {
                        <li><a href="">Print <i class="fa fa-print"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
     

        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        int sno = 0;
                    }
                    <th>SL No.</th>
                    <th>Contract No.</th>
                    <th>Client Ref No.</th>
                    <th>Customer</th>
                    <th>Model</th>
                    <th>Chassis No</th>
                    <th>Registration No</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody id="SetDepartmentList">
                <tr id="LoadingStatus" style="color:red"></tr>
                @foreach (var item in Model.contractList)
                {
            <tr id="@item.Id">

                <td>
                    @{ sno++; }
                    @sno
                </td>
                <td>@item.ContractNumber</td>
                <td>@item.ClientReferenceNo</td>
                <td>@item.CustomerName</td>
                <td>@item.ModelName</td>
                <td>@item.ChassisNo</td>
                <td>@item.RegistrationNo</td>
                

                <td>
                    @if (Model.userP.UpdatePermission)
                    {
                    <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" oncl onclick="location.href='@Url.Action("ContractInformationEdit", "Contract", new { id = @item.Id })'"></a>
                    }
                    @if (Model.userP.DisplayPermission)
                    {
                    <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick="location.href='@Url.Action("ContractInformationDetails", "Contract", new { id = @item.Id })'"></a>
                    }
                    @if (Model.userP.DeletePermission)
                    {
                    <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick="ContractInfoDelete(@item.Id)"></a>
                    }
                    @if (Model.userP.PrintPermission)
                    {
                    <a href='#' class="btn btn-info btn-xs btn-marign-8x fa fa-print" title="Print" onclick="location.href='@Url.Action("ContractPrint", "Contract", new { id = @item.Id })'"></a>
                    }
                </td>
            </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="ModelPrint">
</div>


<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure? You want to delete this record.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>


