﻿@model VehicleServiceManagement.Models.ContractManagement
@{
    ViewData["Title"] = "ContractInformationCreate";
    Layout = "~/Views/Shared/_ContractLayout.cshtml";
}
<script src="~/js/Contract.js"></script>
<form asp-action="ContractInformationCreate" enctype="multipart/form-data">

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2 class="box-title">Create New Contract Information</h2>
                </div>

                <div class="box-body with-border">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="empl-regi">
                                <div class="tab-content">
                                    <div id="bi" class="tab-pane fade in active">

                                        <div class="row mb-5">
                                            <div class="col-sm-12">
                                                <div class="well well-sm">Contract Information</div>
                                            </div>
                                        </div>


                                        <div class="row mb-5">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Contract No:<label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.ContractNumber" type="text" value="@ViewBag.cntnumber" readonly required class="form-control form-control-spl" />

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Email: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.Email" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row mb-2">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding"><label>Issue Date:  <label style="color:red">*</label></label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.IssueDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control datepicker form-control-spl" id="Date" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.IssueDate, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Client Ref No: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.ClientReferenceNo" type="text" required class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ClientReferenceNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-5">



                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Dealer: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.DealerId, (IEnumerable<SelectListItem>)ViewBag.dealer, "-- Select Dealer--", new { onchange = @"selectdealerbranch();", @class = "form-control form-control-spl " })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.DealerId, "", new { @class = "text-danger" })
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Branch: </label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.BranchId, Enumerable.Empty<SelectListItem>(), "-- Select Branch--", new { @class = "form-control form-control-spl ", @placeholder = "Select Branch*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.BranchId, "", new { @class = "text-danger" })

                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-5 mb-5">
                                            <div class="col-sm-12">
                                                <div class="well well-sm">Upload Documents:</div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Choose File: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.File" class="form-control form-control-spl  custom-file-input" id="imageBrowes">
                                                        @Html.ValidationMessageFor(model => model.contractInformation.File, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div id="imgPreview" class="thumbnail" style="display:none">
                                                        <img class="img-responsive" id="targetImg" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-5">
                                            <div class="col-sm-12">
                                                <div class="well well-sm">Customer Information:</div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Customer Name: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.CustomerName" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.CustomerName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Email: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.Email" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row mb-5">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Mobile No: </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.Mobile" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.Mobile, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">City: </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.City" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.City, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label no-padding">Address: <label style="color:red">*</label></label>
                                                    <div class="col-md-9">
                                                        <textarea asp-for="contractInformation.Address" class="form-control form-control-spl"></textarea>
                                                        @Html.ValidationMessageFor(model => model.contractInformation.Address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row mb-5">
                                            <div class="col-sm-12">
                                                <div class="well well-sm">Contract Information</div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Product Group: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.ProductGroupId, (IEnumerable<SelectListItem>)ViewBag.productgroup, "-- Select Product Group--", new { @onchange = @"SelectProductGroup();", @class = "form-control form-control-spl ", @placeholder = "Select ProductGroup*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ProductGroupId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Product SubGroup: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.ProductSubGroupId, (IEnumerable<SelectListItem>)ViewBag.subgroup, "-- Select Product SubGroup--", new { @class = "form-control form-control-spl ", @placeholder = "Select ProductSubGroup*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ProductSubGroupId, "", new { @class = "text-danger" })
                                                    </div>


                                                </div>
                                            </div>

                                        </div>


                                        <div class="row mb-5">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Sold Date: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.SoldDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.SoldDate, "", new { @class = "text-danger" })
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Make: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.MakeId, Enumerable.Empty<SelectListItem>(), "-- Select Make--", new { @onchange = @"SelectMake();", @class = "form-control form-control-spl ", @placeholder = "Select Make*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.MakeId, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">


                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Model: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.ModelId, Enumerable.Empty<SelectListItem>(), "-- Select Model--", new { @class = "form-control form-control-spl ", @placeholder = "Select Model*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ModelId, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Category: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.CategoryName" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.CategoryName, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Manufacturer's Assistance Duration: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.ManufacturerAssistanceDuration, Enumerable.Empty<SelectListItem>(), "-- Select Man-Duration --", new { @class = "form-control form-control-spl ", @placeholder = "Select Make*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ManufacturerAssistanceDuration, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Manfaturer's Assistance Mileage Cutoff: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.ManufacturerAssistanceMileageCutoff, Enumerable.Empty<SelectListItem>(), "-- Select Man-Cuttoff--", new { @class = "form-control form-control-spl ", @placeholder = "Select Make*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ManufacturerAssistanceMileageCutoff, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Model Year: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">

                                                        @Html.DropDownListFor(m => m.contractInformation.ModelYear, (IEnumerable<SelectListItem>)ViewBag.mdlyear, new { @class = "form-control form-control-spl " })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ModelYear, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Extended Assistance Duration: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.ExtendedAssistanceDuration, Enumerable.Empty<SelectListItem>(), "-- Select Extended AssistanceDuration--", new { @class = "form-control form-control-spl ", @placeholder = "Select Extended AssistanceDuration*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ExtendedAssistanceDuration, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-2">


                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Extended Assistance Mileage Cuttoff: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.ExtendedAssistanceMileageCutoff, Enumerable.Empty<SelectListItem>(), "-- Select Ext-CutOff --", new { @class = "form-control form-control-spl ", @placeholder = "Select Ext-CutOff*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ExtendedAssistanceMileageCutoff, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Remarks: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.Remarks" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.Remarks, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-2">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Extended Assistance Start Date: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.ExtendedAssistanceStartDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ExtendedAssistanceStartDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Extended Assistance Expiry Date: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.ExtendedAssistanceExpiryDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ExtendedAssistanceExpiryDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Manufacturer Assistance Expiry Date: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.ManufacturerAssistanceExpiryDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ManufacturerAssistanceExpiryDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">VI/Chassis No: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.ChassisNo" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ChassisNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-2">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Limit Per Claim: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.LimitPerClaimId, (IEnumerable<SelectListItem>)ViewBag.limit, "-- Select Limit Claim--", new { @class = "form-control form-control-spl ", @placeholder = "Select  Limit Per Claim*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.LimitPerClaimId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Product Price: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.ProductPrice" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.ProductPrice, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-2">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Current Mileage: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.CurrentMileageId" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.CurrentMileageId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">CC Range: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.CCRangeId, (IEnumerable<SelectListItem>)ViewBag.ccrange, "-- Select CC Range--", new { @class = "form-control form-control-spl ", @placeholder = "Select  CCRange*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.CCRangeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Cubic Capacity: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.CubicCapacity" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.CubicCapacity, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Registration No: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.RegistrationNo" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.RegistrationNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">


                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Registration Date: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.RegistrationDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.RegistrationDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Plate Type: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.PlateType" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.PlateType, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Sold By: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.SoldBy" type="text" class="form-control form-control-spl" />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.SoldBy, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Status: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.contractInformation.Status, (IEnumerable<SelectListItem>)ViewBag.ss, new { @class = "form-control form-control-spl ", @placeholder = "Select  Status*" })
                                                        @Html.ValidationMessageFor(model => model.contractInformation.Status, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Minimum Premium Amount<label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.SoldBy" type="text" class="form-control form-control-spl" readonly />
                                                        @Html.ValidationMessageFor(model => model.contractInformation.SoldBy, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Premium Amount<label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <input asp-for="contractInformation.SoldBy" type="text" class="form-control form-control-spl"/>
                                                        @Html.ValidationMessageFor(model => model.contractInformation.SoldBy, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-5">
                                            <div class="col-sm-12">
                                                <div class="well well-sm">Other Services Information</div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">OtherService: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(m => m.otherService.OtherServiceId, (IEnumerable<SelectListItem>)ViewBag.other, "-- Select Other Services --", new { @onchange = @"ChangeOtherService();", @class = "form-control form-control-spl ", @placeholder = "Select  Other Services*" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">WorkShop:</label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_WorkshopId" onchange="ChangeWorkshop();" class="form-control form-control-spl">
                                                            <option>--Select Workshop--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Branch:</label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_WorkshopBranchId" onchange="ChangeBranch();" class="form-control form-control-spl">
                                                            <option>--Select Branch--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Category: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_CategoryId" onchange="ChangeCategory();" class="form-control form-control-spl">
                                                            <option>--Select Category--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Product Sub Group: <label style="color:red">*</label></label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_ProductSubGroupId" onchange="ChangeProductSubGroup();" class="form-control form-control-spl">
                                                            <option>--Select Product Subgroup--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">CC Range: <label style="color:red">*</label> </label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_CCRangeId" onchange="ChangeCCRange();" class="form-control form-control-spl">
                                                            <option>--Select CC Range--</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Mnu Duration:</label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_ManuDuration" onchange="ChangeManDuration();" class="form-control form-control-spl">
                                                            <option>--Select Man-Duration--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Manu Mileage Cutoff: </label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_ManuCuttoff" onchange="ChangeManuCuttoff();" class="form-control form-control-spl">
                                                            <option>--Select ManuCuttoff--</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-5">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Duration: </label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_Duration" onchange="ChangeDuration();" class="form-control form-control-spl">
                                                            <option>--Select Duration--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Mileage Cutoff: </label>
                                                    <div class="col-md-6">
                                                        <select id="otherService_MilageCuttoff" onchange="ChangeMilageCuttoff();" class="form-control form-control-spl">
                                                            <option>--Select MilageCuttoff--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Minimum Premium Amount: </label>
                                                    <div class="col-md-6">
                                                        <input asp-for="otherService.MinPremium" type="text" class="form-control form-control-spl" readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Quantity:</label>
                                                    <div class="col-md-6">
                                                        <input asp-for="otherService.Quantity" type="text" class="form-control form-control-spl" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-5">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label no-padding">Premium Amount:</label>
                                                    <div class="col-md-6">
                                                        <input asp-for="otherService.Premium" type="text" class="form-control form-control-spl" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input class="btn btn-success" id="btnAddOtherService" type="button" onclick="addnew();" value="Add">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="tablerow" style="display:block">
                                            <hr>
                                            <div class="table-responsive col-lg-12">
                                                <table id="tbdetail" class="table  table-bordered jambo_table table-striped"></table>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">

                            <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>
                            <button type="button" id="button1" class="btn btn-success">Save & New</button>
                            <input type='button' class="btn btn-primary btn-danger" value='Cancel' onclick='window.location = "@Url.Action("ContractInformationIndex", "Contract")";' />
                            <button type="button" id="button1" class="btn btn-info">Save & Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModelPrint">
    </div>

</form>


<input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" />

<script>

    function addnew() {

        var OtherServices = {}
        OtherServices.UID = $('#UID').val();

        OtherServices.OtherServiceId = $("#otherService_OtherServiceId").val();
        OtherServices.OtherServiceName = $("#otherService_OtherServiceId").text();

        OtherServices.WorkshopId = $("#otherService_WorkshopId").val();
        OtherServices.Workshop = $("#otherService_WorkshopId").text();

        OtherServices.WorkshopBranchId = $("#otherService_WorkshopBranchId").val();
        OtherServices.WorkshopBranch = $("#otherService_WorkshopBranchId").text();

        OtherServices.CategoryId = $("#otherService_CategoryId").val();
        OtherServices.CategoryName = $("#otherService_CategoryId").text();

        OtherServices.ProductSubGroupId = $("#otherService_ProductSubGroupId").val();
        OtherServices.SubGroup = $("#otherService_ProductSubGroupId").val();

        OtherServices.CCRangeId = $("#otherService_CCRangeId").val();
        OtherServices.Range = $("#otherService_CCRangeId").val();

        OtherServices.ManuDuration = $("#otherService_ManuDuration").val();
        OtherServices.ManuCuttoff = $("#otherService_ManuCuttoff").val();
        OtherServices.Duration = $("#otherService_Duration").val();

        OtherServices.MilageCuttoff = $("#otherService_MilageCuttoff").val();
        OtherServices.MinPremium = $("#otherService_MinPremium").val();
        OtherServices.Premium = $("#otherService_Premium").val();
        OtherServices.Quantity = $("#otherService_Quantity").val();


        $.ajax({
            type: "POST",
            url: "/Contract/setOtherService",
            data: OtherServices,

            success: function (response) {
                $('#tbdetail').html(response.data);
                $("#OtherServiceId").val("");
                $("#WorkshopId").val("");
                $("#WorkshopBranchId").val("");
                $("#CategoryId").val("");
                $("#ProductSubGroupId").val("");
                $("#CCRangeId").val("");
                $("#ManuDuration").val("");
                $("#ManuCuttoff").val("");
                $("#MilageCuttoff").val("");
                $("#MinPremium").val("");
                $("#Premium").val("");
                $("#Quantity").val("");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }

    function SavePrint() {
        var ContractInformation = {}
        ContractInformation.ContractNumber = $('#contractInformation_ContractNumber').val();
        ContractInformation.Email = $('#contractInformation_Email').val();
        ContractInformation.IssueDate = $('#contractInformation_IssueDate').val();
        ContractInformation.ClientReferenceNo = $('#contractInformation_ClientReferenceNo').val();
        ContractInformation.DealerId = $('#contractInformation_DealerId').val();
        ContractInformation.BranchId = $('#contractInformation_BranchId').val();
        ContractInformation.File = $('#contractInformation_File').val();
        ContractInformation.CustomerName = $('#contractInformation_CustomerName').val();
        ContractInformation.Email = $('#contractInformation_Email').val();
        ContractInformation.Mobile = $('#contractInformation_Mobile').val();
        ContractInformation.City = $('#contractInformation_City').val();
        ContractInformation.Address = $('#contractInformation_Address').val();
        ContractInformation.ProductGroupId = $('#contractInformation_ProductGroupId').val();
        ContractInformation.ProductSubGroupId = $('#contractInformation_ProductSubGroupId').val();
        ContractInformation.SoldDate = $('#contractInformation_SoldDate').val();
        ContractInformation.MakeId = $('#contractInformation_MakeId').val();
        ContractInformation.ModelId = $('#contractInformation_ModelId').val();
        ContractInformation.CategoryName = $('#contractInformation_CategoryName').val();
        ContractInformation.ManufacturerAssistanceDuration = $('#contractInformation_ManufacturerAssistanceDuration').val();
        ContractInformation.ManufacturerAssistanceMileageCutoff = $('#contractInformation_ManufacturerAssistanceMileageCutoff').val();
        ContractInformation.ModelYear = $('#contractInformation_ModelYear').val();
        ContractInformation.ExtendedAssistanceDuration = $('#contractInformation_ExtendedAssistanceDuration').val();
        ContractInformation.ExtendedAssistanceMileageCutoff = $('#contractInformation_ExtendedAssistanceMileageCutoff').val();
        ContractInformation.Remarks = $('#contractInformation_Remarks').val();
        ContractInformation.ExtendedAssistanceStartDate = $('#contractInformation_ExtendedAssistanceStartDate').val();
        ContractInformation.ExtendedAssistanceExpiryDate = $('#contractInformation_ExtendedAssistanceExpiryDate').val();
        ContractInformation.ManufacturerAssistanceExpiryDate = $('#contractInformation_ManufacturerAssistanceExpiryDate').val();
        ContractInformation.ChassisNo = $('#contractInformation_ChassisNo').val();
        ContractInformation.LimitPerClaimId = $('#contractInformation_LimitPerClaimId').val();
        ContractInformation.ProductPrice = $('#contractInformation_ProductPrice').val();
        ContractInformation.CurrentMileageId = $('#contractInformation_CurrentMileageId').val();
        ContractInformation.CCRangeId = $('#contractInformation_CCRangeId').val();
        ContractInformation.CubicCapacity = $('#contractInformation_CubicCapacity').val();
        ContractInformation.RegistrationNo = $('#contractInformation_RegistrationNo').val();
        ContractInformation.RegistrationDate = $('#contractInformation_RegistrationDate').val();
        ContractInformation.PlateType = $('#contractInformation_PlateType').val();
        ContractInformation.SoldBy = $('#contractInformation_SoldBy').val();
        ContractInformation.Status = $('#contractInformation_Status').val();
        $.ajax({
            type: "POST",
            url: "/Contract/ContractSavePrint",
            data: ContractInformation,

            success: function (response) {

                $('#contractInformation_ContractNumber').val('');
                $('#contractInformation_Email').val('');
                $('#contractInformation_IssueDate').val('');
                $('#contractInformation_ClientReferenceNo').val('');
                $('#contractInformation_DealerId').val('');
                $('#contractInformation_BranchId').val('');
                $('#contractInformation_File').val('');
                $('#contractInformation_CustomerName').val('');
                $('#contractInformation_Email').val('');
                $('#contractInformation_Mobile').val('');
                $('#contractInformation_City').val('');
                $('#contractInformation_Address').val('');
                $('#contractInformation_ProductGroupId').val('');
                $('#contractInformation_ProductSubGroupId').val('');
                $('#contractInformation_SoldDate').val('');
                $('#contractInformation_MakeId').val('');
                $('#contractInformation_ModelId').val('');
                $('#contractInformation_CategoryName').val('');
                $('#contractInformation_ManufacturerAssistanceDuration').val('');
                $('#contractInformation_ManufacturerAssistanceMileageCutoff').val('');
                $('#contractInformation_ModelYear').val('');
                $('#contractInformation_ExtendedAssistanceDuration').val('');
                $('#contractInformation_ExtendedAssistanceMileageCutoff').val('');
                $('#contractInformation_Remarks').val('');
                $('#contractInformation_ExtendedAssistanceStartDate').val('');
                $('#contractInformation_ExtendedAssistanceExpiryDate').val('');
                $('#contractInformation_ManufacturerAssistanceExpiryDate').val('');
                $('#contractInformation_ChassisNo').val('');
                $('#contractInformation_LimitPerClaimId').val('');
                $('#contractInformation_ProductPrice').val('');
                $('#contractInformation_CurrentMileageId').val('');
                $('#contractInformation_CCRangeId').val('');
                $('#contractInformation_CubicCapacity').val('');
                $('#contractInformation_RegistrationNo').val('');
                $('#contractInformation_RegistrationDate').val('');
                $('#contractInformation_PlateType').val('');
                $('#contractInformation_SoldBy').val('');
                $('#contractInformation_Status').val('');

                $('#ModelPrint').html(response);
                $('#ModelPrint').modal("show");
            }
        })
    } 

</script>