﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ContractLayout.cshtml";
}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Contract Information Dashboard</h2>
        </div>
    </div>

