﻿
@model VehicleServiceManagement.Models.Accounts.Clsledger
@{
    Layout = null;
}

<!DOCTYPE html>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h4 id="ModalTitle1">Update Record</h4>
        </div>
        <div class="modal-body">
            <form asp-controller="Financial" asp-action="AccountsListEdit" method="post">
                <fieldset id="SubmitForm">
                    @Html.HiddenFor(m => m.Id, new { @id = "Id" })
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Code</label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.Code, new { @id = "Code", @class = "form-control", @placeholder = "Code*" })
                            </li>
                        </ul>
                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Name</label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @placeholder = "Name*" })
                            </li>
                        </ul>

                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>SubGroup</label>
                            </li>
                            <li>
                                @Html.DropDownListFor(m => m.SubGroupId, (IEnumerable<SelectListItem>)ViewBag.SubGroup, "--Select Account--", new { @id = "UnderAccount", @class = "form-control", @placeholder = "UnderAccount*" })
                            </li>
                        </ul>

                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Dr</label>
                            </li>
                            <li>
                                @Html.DropDownListFor(m => m.Dr, (SelectList)ViewBag.dtype, "-Select-", new { @class = "form-control" })

                            </li>
                        </ul>

                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Currency</label>
                            </li>
                            <li>
                                @Html.DropDownListFor(m => m.Currency, (IEnumerable<SelectListItem>)ViewBag.Currency, "--Select Currency--", new { @id = "Currency", @class = "form-control", @placeholder = "Currency*" })
                            </li>
                        </ul>

                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>AsOfDate</label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.AsOfDate, new { @id = "AsOfDate", @class = "form-control", @placeholder = "AsOfDate*" })
                            </li>
                        </ul>

                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Remark</label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.Remark, new { @id = "Remark", @class = "form-control", @placeholder = "Remarks*" })
                            </li>
                        </ul>

                    </div>




                    <br /><br />
                    <div class="form-regi">
                        <button type="submit" class="btn btn-block btn-danger" id="submit1">Save</button>
                    </div>


                </fieldset>

            </form>
        </div>
    </div>
</div>
<script>
    $("#submit1").click(function () {

        ShowAlertPopup('Updated Successfully ', 'Success', ALERT_TYPE_GREEN);

    });
  
</script>
