﻿@model VehicleServiceManagement.Models.JournalVoucherReport




<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.VoucherNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TotalDebit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCredit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.journalList) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.VoucherNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TotalDebit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCredit)
            </td>
           
        </tr>
}
    </tbody>
</table>
