﻿@model IEnumerable< VehicleServiceManagement.Models.Accounts.Clsledger>

<<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h4 id="ModalTitle1">Details</h4>
        </div>


        <div class="modal-body">

            <table class="table table-striped">
                <thead>
                    <tr>
                        @{
                            int sno = 0;
                        }
                        <th>SL No.</th>
                        <th>Ledger Name</th>
                        <th>Opening Balance</th>
                        <th>As of Date</th>                      

                    </tr>
                </thead>
                <tbody id="SetDepartmentList">
                    <tr id="LoadingStatus" style="color:red"></tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{ sno++; }
                                @sno
                            </td>
                            <td>@item.Name</td>
                            <td>@item.OpeningBalance</td>
                            <td>@item.AsOfDate.ToString("ddMMMyy")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>