﻿@model VehicleServiceManagement.Models.Accounts.Clsledger

@{
    ViewData["Title"] = "CustomerGroup";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<script>
    var DeleteId=0; 
    function AddNewAccounts() {
        $("#MyModal").modal();
    }

    function EditAccountsRecord(Id) {

        var url = "/Financial/AccountsListEdit?Id=" + Id;

        $.ajax({
            type: "GET",
            url: url,

            success: function (data) {
                $('#MyModal1').html(data);
                $('#MyModal1').modal("show");
            }
        })
    }
    
    function DeleteAccountsRecord(Id) {
        DeleteId = Id;
        $("#DeleteConfirmation").modal("show");
    }

    function ConfirmDelete() {
       
        $.ajax({
            type: "POST",
            url: "/Financial/AccountsListDelete?Id=" + DeleteId,
            success: function (data) {
                $("#DeleteConfirmation").modal("hide");
                $("table #" + DeleteId).remove();

            }
        })

    }
    $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
    /**/</script>


<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Accounts Ledger Information</h2>
    </div>
    <div class="box-body">
        <div class="row mb-7">
            <div class="col-sm-12">
                <div class="pur-in-btn">
                    <ul>
                        <li><a href="#" onclick="AddNewAccounts()">New <i class="fa fa-plus"></i></a></li>
                        @*<li><a href="">Edit <i class="fa fa-edit"></i></a></li>
                        <li><a href="">Delete <i class="fa fa-trash"></i></a></li>*@
                        <li><a href="Index">Cancel <i class="fa fa-ban"></i></a></li>
                        <li><a href="">Print <i class="fa fa-print"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>


        @*<a href="#" class="btn btn-info" onclick="AddNewAccounts()">Add New Accounts</a> <br /><br />*@

        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        int sno = 0;
                    }
                    <th>SL No.</th>
                    <th>Code</th>
                    <th>Accounts Name</th>
                    <th>Under Accounts Group</th>
                    <th>Under Chart of Account</th>
                    <th>Currency</th>
                    @*<th>As Of Date</th>
                    <th>Remarks</th>*@
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody id="SetAccountsList">
                <tr id="LoadingStatus" style="color:red"></tr>
                @foreach (var item in Model.objledgerlist)
                {
            <tr id="@item.Id">
                <td>
                    @{ sno++; }
                    @sno
                </td>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.SubGroup</td>
                <td>@item.GroupName</td>
                <td>@item.CurrencyName</td>
               @* <td>@item.AsOfDate.ToString("dd-MM-yyyy")</td>
                <td>@item.Remark</td>*@

                <td>
                    @if (item.IsDefault == false)
                    {
                        <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="EditAccountsRecord(@item.Id)"></a>

                        <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick="DeleteAccountsRecord(@item.Id)"></a>
                    }
                    <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick=""></a>
                </td>
            </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*Create POPUP for new form*@
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">Add New Accounts Ledger</h4>


            </div>
            <div class="modal-body">
                <form asp-controller="Financial" asp-action="AccountsListCreate" method="post">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.Id, new { @id = "Id" })
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Accounts Ledger Code</label>
                                </li>
                                <li>
                                    @Html.TextBoxFor(m => m.Code, new { @id = "Code", @class = "form-control", @placeholder = "Code" })
                                </li>
                            </ul>
                        </div>
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Accounts Ledger Name <lable style="color:red">*</lable></label>
                                </li>
                                <li>
                                    @Html.TextBoxFor(m => m.Name, new { required = "required", @id = "Name", @class = "form-control", @placeholder = "Name*" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </li>
                            </ul>

                        </div>
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Accounts Group <lable style="color:red">*</lable></label>
                                </li>
                                <li>
                                    @Html.DropDownListFor(m => m.SubGroupId, (IEnumerable<SelectListItem>)ViewBag.SubGroup, "--Select Accounts Group--", new { required = "required", @id = "UnderAccount", @class = "form-control", @placeholder = "UnderAccount*" })
                                    @Html.ValidationMessageFor(model => model.SubGroupId, "", new { @class = "text-danger" })
                                </li>
                            </ul>

                        </div>
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Opening Balace</label>
                                </li>
                                <li>
                                    @Html.TextBoxFor(m => m.OpeningBalance, new { @id = "Code", @class = "form-control", @placeholder = "Opening Balace" })
                                </li>
                            </ul>
                        </div>
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Credit / Debit</label>
                                </li>
                                <li>

                                    @Html.DropDownListFor(m => m.Dr, (SelectList)ViewBag.dtype, "--Select--", new { @class = "form-control" })

                                </li>
                            </ul>

                        </div>
                       <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Currency</label>
                                </li>
                                <li>
                                    @Html.DropDownListFor(m => m.Currency, (IEnumerable<SelectListItem>)ViewBag.Currency, new {@id = "Currency", @class = "form-control", @placeholder = "Currency" })
                                </li>
                            </ul>

                        </div>
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>As Of Date</label>
                                </li>
                                <li>
                                    <input asp-for="AsOfDate" value="@DateTime.Now.ToString("yyy-MM-dd")" class="form-control datepicker " />

                                </li>
                            </ul>

                        </div>
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Remark</label>
                                </li>
                                <li>
                                    @Html.TextBoxFor(m => m.Remark, new { @id = "Remark", @class = "form-control", @placeholder = "Remarks" })
                                </li>
                            </ul>

                        </div>




                        <br /><br />
                        <div class="form-regi">
                            <div class="form-regi">
                                <div class="col-sm-12">

                                    <div class="col-sm-6">
                                        <br /><br />
                                        <button type="submit" class="btn btn-block btn-success" id="submit">Save</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <br /><br />
                                        <button type="button" class="btn btn-block btn-danger" onclick="TextBoxclear()" id="clear">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




@*Create POPUP for edit form*@
<div class="modal fade" id="MyModal1">
</div>


<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure? You want to delete this record.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<script>
    $("#submit").click(function () {

        ShowAlertPopup('Created Successfully ', 'Success', ALERT_TYPE_GREEN);

    });
</script>
