﻿@model VehicleServiceManagement.Models.Accounts.BalanceSheet
@{
    ViewData["Title"] = "BalanceSheetReport";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <title>Balance for PDF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/balance.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>
<div class="Page">

    <div class="FormSection">
        <label>@Model.CompanyName</label>
    </div>

    <div class="ButtonsGroup">
        <button onclick="myFunction('Printable')" class="Button">Print</button>
        <a class="Button">PDF</a>
        <a class="Button">EXEL</a>
        <a class="Button">EMAIL</a>
    </div>
</div>
<!-- partial:index.partial.html -->
<div class="Balance" id="Printable">
    <div class="BalanceHead">
        <div class="BalanceHeadBg"> <img src="~/images/header.png" alt=""></div>
        <div class="Logo">
            <img src="~/images/logo.png">
        </div>
    </div>
    <table>
        <thead class="FxedBalanceHead">
            <tr>
                <td class="BalanceHeadEmbedArea" colspan="3"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">

                    <div class="Refrences">

                        <div class="FlexNormal">
                            <div class="RefLeft">

                                <p><span class="Label"> Address</span> <span> @Model.Address </span> </p>

                                <p><span class="Label"> Email</span> <span> @Model.Email</span> </p>

                            </div>
                            <div class="RefRight">
                                <p><span class="Label"> Fax</span> <span>@Model.Fax </span> </p>
                                <p><span class="Label"> Phone</span><span> @Model.Phone</span> </p>

                            </div>
                        </div>
                    </div>

                    <div class="BalanceContent">
                        <div class="BalanceTSubitle TextCenter">BalanceSheet</div>
                        <table class="MainBalanceTable fold-table">
                            <thead class="TableBalanceHead">
                                <tr>
                                    <th>Accounts</th>
                                    <th>Amount</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:left">Asset</td>
                                    <td></td>
                                </tr>

                                @foreach (var item in Model.AssetList)
                                {
                                    <tr >
                                        <td style="text-align:left">&nbsp;&nbsp;&nbsp; @item.Name</td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item1 in item.SubGroupList)
                                    {
                                        <tr>
                                            <td style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item1.Name</td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item2 in item1.LedgerList)
                                        {
                                            <tr>
                                                <td>@item2.Name</td>
                                                <td style="text-align:center">@item2.Amount</td>
                                            </tr>
                                        }
                                    }

                                    <tr>
                                        <td style="text-align:left">Total @item.Name</td>
                                        <td style="text-align:center">@item.Total</td>
                                    </tr>
                                   
                                }
                                <tr>
                                    <td style="text-align:left">Total Asset</td>
                                    <td>@Model.TotalAsset</td>
                                </tr>                              

                                <tr>
                                    <td style="text-align:left">Liabilities</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="text-align:left">&nbsp;&nbsp;&nbsp;Capital Account</td>
                                    <td></td>
                                </tr>

                                @foreach (var item in Model.CapitalAcount)
                                {
                                    <tr>
                                        <td style="text-align:center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.Name</td>
                                        <td>@item.Amount</td>
                                    </tr>
                                }
                                <tr>
                                    <td style="text-align:left">Total Capital</td>
                                    <td>@Model.TotalCapital</td>
                                </tr>
                                
                                @foreach (var item in Model.EquityList)
                                {
                                    <tr>
                                        <td style="text-align:left">&nbsp;&nbsp;&nbsp; @item.Name</td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item1 in item.SubGroupList)
                                    {
                                        <tr>
                                            <td style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item1.Name</td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item2 in item1.LedgerList)
                                        {
                                            <tr>
                                                <td>@item2.Name</td>
                                                <td>@item2.Amount</td>
                                            </tr>
                                        }
                                    }

                                    <tr>
                                        <td>Total @item.Name</td>
                                        <td style="text-align:center">@item.Total</td>
                                    </tr>
                                    <tr></tr>
                                }

                                @foreach (var item in Model.LiablityList)
                                {
                                    <tr>
                                        <td style="text-align:left">&nbsp;&nbsp;&nbsp; @item.Name</td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item1 in item.SubGroupList)
                                    {
                                        <tr>
                                            <td style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item1.Name</td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item2 in item1.LedgerList)
                                        {
                                            <tr>
                                                <td>@item2.Name</td>
                                                <td>@item2.Amount</td>
                                            </tr>
                                        }
                                    }

                                    <tr>
                                        <td style="text-align:left">Total @item.Name</td>
                                        <td>@item.Total</td>
                                    </tr>                                    
                                }
                                <tr>
                                    <td style="text-align:left">Total Liability</td>
                                    <td>@Model.TotalLiablity</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

        </tbody>
        <!-- partial -->

        <tfoot class="FxedBalanceFoot">
            <tr>
                <td colspan="3" class="BalanceFootEmbedArea"></td>
            </tr>
        </tfoot>

    </table>
    <div class="BalanceFooter">
        <p>Office 2403 Churchil Tower, Business Bay, Dubai, UAE <br> +971 4338 2988 | info@averyxgroup.com</p>
        <div class="FooterBg"><img src="~/images/footer.png"></div>
    </div>
</div>

<script>

        function myFunction(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;

        }

        function showHideEle(selectSrc, targetEleId, triggerValue) {
            if (selectSrc.value == triggerValue) {
                document.getElementById(targetEleId).style.display = "flex";
            } else {
                document.getElementById(targetEleId).style.display = "none";
            }
        }

      

</script>
