﻿@model  VehicleServiceManagement.Models.Accounts.ClsChartofAccount
@{
    ViewData["Title"] = "ChartofAccIndex";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
    <script>

        function Subgroupdetails(Id) {

            var url = "/Financial/subgroupDetails?Id=" + Id;

            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {

                    $('#MyModal1').html(data);
                    $('#MyModal1').modal("show");

                }
            })
        }

        $(document).on('keydown', ':tabbable', function (e) {

            if (e.key === "Enter") {
                e.preventDefault();

                var $canfocus = $(':tabbable:visible');
                var index = $canfocus.index(document.activeElement) + 1;

                if (index >= $canfocus.length) index = 0;
                $canfocus.eq(index).focus();
            }
        });


    </script>

    <div class="tab-pane" id="permission">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title">Chart of Accounts Informations</h2>
            </div>
            <form asp-controller="Financial" asp-action="ChartofAccIndex" method="post">
                <div class="row mb-4">

                    @foreach (var item in Model.RootList)
                    {

                          <div class="col-sm-2">

                              <table class="table table-bordered " id="DataInsert">
                                  <thead>
                                      <tr>
                                          <th bgcolor="midnightblue"><font color="White">@item.Name</font></th>                                  
                                      </tr>
                                  </thead>
                              <tbody>

                                @foreach (var item1 in item.GroupList)
                                {
                                    <tr>
                                        <th bgcolor="lightskyblue">@item1.Name</th>
                                    </tr>
                                    @foreach (var item2 in item1.SubGroupList)
                                    {
                                        <tr>
                                             <td><a href="#" onclick="Subgroupdetails(@item2.Id)">@Html.DisplayFor(modelItem => item2.Name)</a></td>
                                        </tr>
                                    }
                                }

                                </tbody>

                               </table>

                           </div>

                   }             

                </div>
                  
             </form>
            </div>
        </div>
    <div class="modal fade" id="MyModal1">
    </div>