﻿@model IEnumerable<VehicleServiceManagement.Models.ContractService>
@{
    ViewData["Title"] = "ContactIndex";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}


 <div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">ContractService Information</h2>
    </div>
    <div class="box-body">
        <div class="row mb-7">
            <div class="col-sm-12">
                <div class="pur-in-btn">
                    <ul>
                         <li><a asp-action="ContractCreate" asp-controller="Financial">New <i class="fa fa-plus"></i></a></li>
                        @*<li><a href="">Edit <i class="fa fa-edit"></i></a></li>
        <li><a href="">Delete <i class="fa fa-trash"></i></a></li>*@
                        <li><a asp-action="index" asp-controller="Financial">Cancel <i class="fa fa-ban"></i></a></li>
                        <li><a href="">Print <i class="fa fa-print"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
        @*<a href="#" class="btn btn-info" onclick="AddNewCity()">Add New City</a> <br /><br />*@

        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        int sno = 0;
                    }
                    <th>SL No.</th>
                    <th>Contract Number</th>
                    <th>Service Amount</th>
                    <th>Date</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody id="SetDepartmentList">
                <tr id="LoadingStatus" style="color:red"></tr>
                @foreach (var item in Model)
                {
                    <tr id="@item.ServiceInvoice">

                        <td>
                            @{ sno++; }
                            @sno
                        </td>
                        <td>@item.ContractNumber</td>
                        <td>@item.serviceamount</td>
                        <td>@item.Date</td>

                        <td>
                            <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="location.href='@Url.Action("EditContractService", "Financial",new {id=@item.ServiceInvoice })'"></a>
                            <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick=""></a>
                            <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick=""></a>
                            <a href='#' class="btn btn-info btn-xs btn-marign-8x fa fa-print" title="Delete" onclick=""></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="MyModal1">
</div>




