﻿@model VehicleServiceManagement.Models.ContractService
@{
    ViewData["Title"] = "ContractCreate";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<form asp-action="ContractCreate" method="post" enctype="multipart/form-data">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Create Contaract Service</h2>
                        <div class="empl-regi">

                        </div>
                    </div>


                    <div class="box-body with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="empl-regi">
                                    <div class="tab-content">
                                        <div id="bi" class="tab-pane fade in active">
                                            <div class="col-sm-6">

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Contract Number <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="ContractNumber" required class="form-control form-control-spl" id="contract" />
                                                                    @Html.ValidationMessageFor(model => model.ContractNumber, "", new { @class = "text-danger" })
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Vehicle number: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="RegistrationNo" required class="form-control form-control-spl" id="vehicle" />
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Chassis No: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="ChassisNo" required class="form-control form-control-spl" id="chasisnumber" />


                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Dealer Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="Name" required class="form-control form-control-spl" id="Dealername" />
                                                                    <input form="LedgerId" type="hidden" />
                                                                   

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Branch Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="BranchName" required class="form-control form-control-spl" id="branchname" />
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Customer Name: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="CustomerName" required class="form-control form-control-spl" id="Customername" />


                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Address: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input for="Address" required class="form-control form-control-spl" id="Customeraddress" />


                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Date: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="Date" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />


                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-sm-12">
                                                        <div class="form-regi">
                                                            <ul>
                                                                <li>
                                                                    <label>Service Amount: <lable style="color:red">*</lable></label>
                                                                </li>

                                                                <li>
                                                                    <input asp-for="serviceamount" required class="form-control form-control-spl" id="dealername" />


                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>






                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="pull-right">

                            <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>                           
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">
                            <button type="button" id="button2" class="btn btn-info">Save & Print</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $("#contract").on("change", function () {
        
        var code = $("#contract").val();
        var url = "/Financial/GetContractInformationDetails?Id=" + code;

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $('#chasisnumber').val(data.chassisNo);
                $('#vehicle').val(data.registrationNo);
                $('#Dealername').val(data.name);
                $('#Customername').val(data.customerName);
                $('#branchname').val(data.branchName);
                $('#Customeraddress').val(data.address);                
            }
        })
    });

    $("#vehicle").on("change", function () {

        var code = $("#vehicle").val();
        var url = "/Financial/GetContractInformationDetails?Id=" + code;

        $.ajax({
            type: "GET",
            url: url,

            success: function (data) {
                $('#contract').val(data.contractNumber);
                $('#chasisnumber').val(data.chassisNo);

                $('#Dealername').val(data.name);
                $('#Customername').val(data.customerName);
                $('#branchname').val(data.branchName);
                $('#Customeraddress').val(data.address);
                $('#LedgerId').val(data.LedgerId); 

            }
        })
    });

    $("#chasisnumber").on("change", function () {

        var code = $("#chasisnumber").val();

        var url = "/Financial/GetContractInformationDetails?Id=" + code;

        $.ajax({
            type: "GET",
            url: url,

            success: function (data) {
                $('#contract').val(data.contractNumber);

                $('#vehicle').val(data.registrationNo);
                $('#Dealername').val(data.name);
                $('#Customername').val(data.customerName);
                $('#branchname').val(data.branchName);
                $('#Customeraddress').val(data.address);
                $('#LedgerId').val(data.LedgerId); 
            }
        })
    });

     
     
</script>






