﻿@model VehicleServiceManagement.Models.ContractService
@{
    ViewData["Title"] = "EditContractService";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
    <form asp-action="EditContractService" enctype="multipart/form-data">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2 class="box-title">Edit ContaractService</h2>
                            <div class="empl-regi">

                            </div>
                        </div>


                        <div class="box-body with-border">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="empl-regi">
                                        <div class="tab-content">
                                            <div id="bi" class="tab-pane fade in active">
                                                <div class="col-sm-6">

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>ContractNumber <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="ContractNumber" required class="form-control form-control-spl" id="contract" />
                                                                        @Html.ValidationMessageFor(model => model.ContractNumber, "", new { @class = "text-danger" })
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>vehiclenumber: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <label class="form-control form-control-spl">@Model.vehiclenumber</label>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>ChassisNo: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <label class="form-control form-control-spl">@Model.chasisnumber</label>


                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>DealerName: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <label class="form-control form-control-spl">@Model.dealername</label>

                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Branchname: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <label class="form-control form-control-spl">@Model.branchname</label>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>customername: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <label class="form-control form-control-spl">@Model.customername</label>


                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Address: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <label class="form-control form-control-spl">@Model.customeraddress</label>


                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>Date: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="Date" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control form-control-spl datepicker " />


                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-5">
                                                        <div class="col-sm-12">
                                                            <div class="form-regi">
                                                                <ul>
                                                                    <li>
                                                                        <label>serviceamount: <lable style="color:red">*</lable></label>
                                                                    </li>

                                                                    <li>
                                                                        <input asp-for="serviceamount" required class="form-control form-control-spl" id="dealername" />


                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>






                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="pull-right">

                                <button type="submit" id="submit" class="btn btn-primary">Save & Done</button>

                                <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>