﻿@model VehicleServiceManagement.Models.Accounts.ClsSubGroup

@{
    Layout = null;
}


<!DOCTYPE html>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h4 id="ModalTitle">Edit Group</h4>


        </div>
        <div class="modal-body">
            <form asp-controller="Financial" asp-action="EditSubGroup" method="post">
                <fieldset id="SubmitForm">
                    @Html.HiddenFor(m => m.Id, new { @id = "Id" })
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Accounts Group Name <lable style="color:red">*</lable></label>
                            </li>
                            <li>
                                @Html.TextBoxFor(m => m.Name, new { required = "required", @id = "Name", @class = "form-control", @placeholder = "Name*" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </li>
                        </ul>
                    </div>
                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Code</label>
                            </li>
                            <li>
                                @Html.TextBox("Code", null, new { @class = "form-control" })
                            </li>
                        </ul>
                    </div>

                    <div class="form-regi">
                        <ul>
                            <li>
                                <label>Under Chart of Accounts <lable style="color:red">*</lable></label>
                            </li>
                            <li>
                                @Html.DropDownListFor(m => m.GroupId, (IEnumerable<SelectListItem>)ViewBag.group, "-- Select --", new { required = "required", @id = "GroupId", @class = "form-control", @placeholder = "GroupId*" })
                                @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                            </li>
                        </ul>

                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Description</label>
                                </li>
                                <li>
                                    @Html.TextBox("Description", null, new { @class = "form-control" })
                                </li>
                            </ul>
                        </div>

                        <div class="form-regi">
                            <ul>
                                <li>
                                    @Html.DisplayNameFor(model => model.IsDefault)

                                </li>
                                <li>
                                    <input asp-for="IsDefault" />
                                </li>
                            </ul>
                        </div>

                    </div>
                    <br /><br />
                    <div class="form-regi">
                        <div class="form-regi">
                            <div class="col-sm-12">

                                <div class="col-sm-6">
                                    <br /><br />
                                    <button type="submit" class="btn btn-block btn-success" id="submit">Save</button>
                                </div>
                                <div class="col-sm-6">
                                    <br /><br />
                                    <button type="button" class="btn btn-block btn-danger" onclick="TextBoxclear()" id="clear">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    $("#submit1").click(function () {

        ShowAlertPopup('Updated Successfully ', 'Success', ALERT_TYPE_GREEN);

    });
</script>
