﻿
@model VehicleServiceManagement.Models.Accounts.ExpenseVoucher

@{

    ViewData["Title"] = "CompanyInformation";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";

}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title"> Expense Voucher Create</h2>
    </div>
    <div class="box-body with-border">
        <form asp-controller="Financial" asp-action="ExpenseVoucherCreate" method="post" id="formId">


            @Html.HiddenFor(m => m.ExpenseMaster.Id, new { @id = "Id" })


            <div class="col-sm-8">

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Location : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ExpenseMaster.Location, (IEnumerable<SelectListItem>)ViewBag.Location, "--Select--", new { @id = "Location", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Employee : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ExpenseMaster.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.Employee, "--Select--", new { @id = "EmployeeId", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>



                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>PaymentMethod : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ExpenseMaster.PaymentMethod, new List<SelectListItem>
                                       {
                                              new SelectListItem { Text = "Cash", Value = "1"},
                                              new SelectListItem { Text = "Bank", Value = "2"},

                                       }, new { @onchange = @"paymethodonchange();", @id = "PaymentMethod", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5 bankinfo" hidden>
                    <div class="col-sm-6">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Cheque No : </label>
                                </li>

                                <li>
                                    <input asp-for="ExpenseMaster.ChequeNo" id="ChequeNo" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Due Date :</label>
                                </li>

                                <li>
                                    <input asp-for="ExpenseMaster.ChequeDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control datepicker form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5 bankinfo" hidden>
                    <div class="col-sm-6">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Bank:</label>
                                </li>

                                <li>
                                    <input asp-for="ExpenseMaster.BankName" class="form-control form-control-spl" />                                   
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Online TRN : </label>
                                </li>

                                <li>
                                    <input asp-for="ExpenseMaster.OnlineTransactionNumber" class="form-control form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Date : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    <input asp-for="ExpenseMaster.Date" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control datepicker form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Reference : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    <input asp-for="ExpenseMaster.Reference" id="Reference" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Discount A/C : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ExpenseMaster.Discount, (IEnumerable<SelectListItem>)ViewBag.Discount, "--Select--", new { @id = "Discount", @class = "form-control form-control-spl txbx" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>PayAmount:<lable style="color:red">*</lable></label>
                                </li>
                                <li>
                                    <input type="text" id="D_PaidAmount" class="form-control form-control-spl" readonly />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(m => m.ExpenseMaster.TotalAmount, new { @id = "TotalAmount" })
                @Html.HiddenFor(m => m.ExpenseMaster.PaidAmount, new { @id = "PaidAmount" })
            </div>
          
            <div class="row mb-7">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="tblIndex">

                            <thead>
                                <tr>
                                    <th style="width:200px">Account <lable style="color:red">*</lable></th>
                                    <th style="width:125px">Narration</th>
                                    <th style="width:75px">Date</th>
                                    <th style="width:150px">Exp Amount</th>
                                    <th style="width:100px">Discount</th>
                                    <th style="width:125px">Vat Amount</th>
                                    <th style="width:150px">Total Amount</th>
                                    <th style="width:125px">Paid Amount</th>
                                    <th style="width:100px">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DropDownList("Account", (IEnumerable<SelectListItem>)ViewBag.ledger, "--select--", new { @class = "form-control form-control-spl" })</td>
                                    <td><input type="text" id="Narration" style="width:100%" class="form-control form-control-spl" /></td>
                                    <td><input type="date" id="Date" value="@DateTime.Now.ToString("yyy-MM-dd")" style="width:100%" class="form-control form-control-spl" /></td>
                                    <td><input type="number" id="ExpAmount" style="width:100%" class="form-control form-control-spl" /></td>
                                    <td><input type="number" id="Discount" style="width:100%" class="form-control form-control-spl" /></td>
                                    <td><input type="number" id="VATAmount" style="width:100%" class="form-control form-control-spl" /></td>
                                    <td><input type="number" id="TotalAmount" style="width:100%" class="form-control form-control-spl" /></td>
                                    <td><input type="number" id="PaidAmount" style="width:100%" class="form-control form-control-spl" /></td>
                                    <td><input type="number" id="Balance" style="width:100%" class="form-control form-control-spl" /></td>
                                </tr>
                            </tbody>


                            <tfoot class="ft">

                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>

            <div class="row mb-5">

                <div class="col-sm-8">
                    <div class="form-regi">
                        <ul>
                            <li style="width:10%">
                                <label>Remarks : </label>
                            </li>

                            <li>
                                <textarea asp-for="ExpenseMaster.Remarks" id="Remarks" class="form-control form-control-spl" style="margin: 0px -156.141px 0px 0px; height: 43px; width: 649px;"></textarea>
                            </li>
                        </ul>
                    </div>
                </div>           

                <div class="col-sm-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>Total Amount</td>
                                    <td> <input type="text" id="D_TotalAmount" class="form-control form-control-spl" readonly /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Save & Done</button>
                        <button type="submit" class="btn btn-default">Cancel</button>
                        
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<input type="hidden" id="Amount" />
<input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" />



<script>

    function paymethodonchange() {
        var paymethode = Number($('#PaymentMethod').val());
        if (paymethode == 1) {
            $('.bankinfo').hide();
        }
        else {
            $('.bankinfo').show();;
        }
    }

    $(document).ready(function () {
        var url = "/Financial/GetExpenseVoucherNo";
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $('#ExpenseVoucherNo').val(data);
            }
        })
    });
   

    $("#Balance").on('focusout', function () {
        addnew();
        $("#Account").focus();
    });

    $("#Amount").on('focusout', function () {

        var amt = parseFloat($('#Amount').val());
        if (isNaN(amt)) {
            amt = 0;
        }

        var vatamt = parseFloat($('#VATAmount').val());
        if (isNaN(vatamt)) {
            vatamt = 0;
        }

        var totalamt = amt + (amt * (vatamt / 100));
        $('#DrAmount').val(totalamt);

    });

    $("#VATAmount").on('focusout', function () {
        var amt = parseFloat($('#Amount').val());
        if (isNaN(amt)) {
            amt = 0;
        }

        var vatamt = parseFloat($('#VATAmount').val());
        if (isNaN(vatamt)) {
            vatamt = 0;
        }

        var totalamt = amt + (amt * (vatamt / 100));
        $('#DrAmount').val(totalamt);
    });
    
    function addnew() {

        var prdtdetails = {}
        prdtdetails.ExpenseVoucherNo = $('#ExpenseVoucherNo').val();
        prdtdetails.UID = $('#UID').val();
        prdtdetails.Account = $("#Account :selected").val();
        prdtdetails.AccountName = $("#Account :selected").text();
        prdtdetails.Location = $("#Location1 :selected").val();
        prdtdetails.LocationName = $("#Location1 :selected").text();
        prdtdetails.Payee = $("#Payee").val();
        prdtdetails.RefDate = $("#RefDate").val();
        prdtdetails.Amount = $("#Amount").val();
        prdtdetails.VATAmount = $("#VATAmount").val();
        prdtdetails.DrAmount = $("#DrAmount").val();
        prdtdetails.Narration = $("#Narration").val();
        prdtdetails.Balance = $("#Balance").val();

        $.ajax({
            type: "POST",
            url: "/Financial/ExpenseVoucherSetProduct",
            data: prdtdetails,

            success: function (response) {
                $('#tblIndex tfoot').html(response.data);
                $("#Account").val("");
                $("#Narration").val("");
                $("#Location1").val("");
                $("#Payee").val("");
                $("#Balance").val("");
                $("#RefDate").val("");
                $("#Amount").val("");
                $("#DrAmount").val("");
                $("#VATAmount").val("");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }


    function removetable(x) {
        var id = x; var uid = $('#UID').val(); var cr = 0, dr = 0;
        cr = parseFloat($('#TotalCr1').val());
        dr = parseFloat($('#TotalDr1').val());
        var credit = parseFloat(document.getElementById(x).getElementsByTagName("td")[6].innerText);
        var debit = parseFloat(document.getElementById(x).getElementsByTagName("td")[7].innerText);


        cr -= credit;
        dr -= debit;

        $("#TotalCr").val(cr);
        $("#TotalCr1").val(cr);
        $("#TotalDr").val(dr);
        $("#TotalDr1").val(dr);
        $.ajax({
            type: "POST",
            url: "/Financial/ExpenseVoucherDelProduct",
            data: { id, uid, },

            success: function (response) {
                $("#tblIndex #" + id).remove();


            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })


    }

    $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
     $(function () {
            $('#ExpenseVoucherNo').focus();
        });

</script>
