﻿
@{
    ViewData["Title"] = "Index";
      Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Financial Information Dashboard</h2>
        </div>
    </div>

