﻿@model VehicleServiceManagement.Models.JournalVoucherReport

@{
    ViewBag.Title = "PurchaseInquiryCreate";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Journal Voucher Report</h2>
    </div>
    <form id="Form" method="post">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All<input type="checkbox" name="checkbox" value="All" onclick="GetAll()">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Date" class="control-label col-lg-4">From </label>
                    <input type="date" id="FromDate" for="Date" class="form-control-sm col-sm-8" />
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Date" class="control-label col-lg-4">To </label>
                    <input type="date" id="ToDate" for="Date" class="form-control-sm col-sm-8" />

                </div>
            </div><br />
            <br />
            
        </div>
    </form>
</div>
<div id="getall">

</div>
<script>
    function GetAll() {
       
            var url = "/Financial/AllJournalVoucherReport"

            $.ajax({
                type: "GET",
                url: url,

                success: function (data) {
                    $('#getall').html(data);


                }
            })

        }
       

       
    

    $("#ToDate").on("change", function () {
        var todate = $("#ToDate").val();
        var fromdate = $("#FromDate").val();

        var url = "/Financial/JournalVoucherReportDate";


        $.ajax({
            type: "GET",
            url: url,
            data: { todate, fromdate },

            success: function (data) {
                $('#getall').html(data);

            }
        })


    });
 

</script>
