﻿@model VehicleServiceManagement.Models.Accounts.JournalVoucherMasterDisplay

@{
    ViewData["Title"] = "JournalVoucherIndex";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Journal Voucher Information</h2>
    </div>
    <div class="box-body">
        <div class="row mb-7">
            <div class="col-sm-12">
                <div class="pur-in-btn">
                    <ul>
                        @if (Model.userP.InsertPermission)
                        {
                        <li><a asp-action="JournalVoucherCreate" asp-controller="Financial">New <i class="fa fa-plus"></i></a></li>
                        }
                        @*<li><a href="/Financial/JournalVoucherEdit">Edit <i class="fa fa-edit"></i></a></li>
                        <li><a href="/Financial/JournalVoucherDelete">Delete <i class="fa fa-trash"></i></a></li>*@
                        <li><a asp-action="index" asp-controller="Financial">Cancel <i class="fa fa-ban"></i></a></li>
                        @if (Model.userP.PrintPermission)
                        {
                        <li><a href="">Print <i class="fa fa-print"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        

        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        int sno = 0;
                    }
                    <th>SL No.</th>
                    <th>Journel Voucher No.</th>
                    <th>Date</th>
                    <th>Reference</th>
                    <th>Dr Amount</th>
                    <th>Cr Amount</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody id="SetDepartmentList">
                <tr id="LoadingStatus" style="color:red"></tr>
                @foreach (var item in Model.journalVoucherList)
                {
                    <tr id="@item.Id">

                        <td>
                            @{ sno++; }
                            @sno
                        </td>
                        <td>@item.Id</td>
                        <td>@item.Date</td>
                        <td>@item.Reference</td>
                        <td>@item.TotalDebit</td>
                        <td>@item.TotalCredit</td>
                        <td>
                            @if (Model.userP.UpdatePermission)
                            {
                            <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="location.href='@Url.Action("JournalVoucherEdit", "Financial", new { id = @item.Id })'"></a>
                            }
                            @if (Model.userP.DisplayPermission)
                            {
                            <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick="location.href='@Url.Action("JournalVoucherDetails", "Financial", new { id = @item.Id })'"></a>
                            }
                            @if (Model.userP.DeletePermission)
                            {
                            <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick=""></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>