﻿@model VehicleServiceManagement.Models.Accounts.JournalVoucher

@{
    ViewData["Title"] = "JournalVoucherCreate";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
@*<script src="~/js/RandomNumber.js"></script>*@
@*<script src="~/js/BlurTextBox.js"></script>*@
<input type="hidden" id="LocationName" onblur="HideBorder()" />
<input type="hidden" id="CurrencyName" onblur="HideBorder()" />
<br /><br />

<h4>&nbsp;&nbsp;&nbsp;JournalVoucher Edit</h4>
<form asp-controller="Financial" asp-action="JournalVoucherEdit" method="post" class="form-inline" id="formId">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/Financial/JournalVoucherIndex" class="previous">&laquo; Previous</a>

    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Id" class="control-label col-sm-4"></label>
                <input asp-for="JournalVoucherMaster.Id" id="a" class="form-control-sm col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Id" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.LocationId" class="control-label col-sm-4"></label>
                @*<input asp-for="JournalVoucherMaster.Location" id="VoucherNo" class="form-control col-sm-8 " />*@
                @Html.DropDownListFor(m => m.JournalVoucherMaster.LocationId, (IEnumerable<SelectListItem>)ViewBag.location, "--Select--", new { @id = "Location", @class = "form-control form-control-sm col-sm-8" })
                <span asp-validation-for="JournalVoucherMaster.LocationId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Status" class="control-label "></label>
                <input asp-for="JournalVoucherMaster.Status" class="form-control-sm col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Status" class="text-danger"></span>
            </div>

        </div>
        <br />
        <br />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Date" class="control-label col-sm-4"></label>
                <input asp-for="JournalVoucherMaster.Date" data-required-message="Required Field" required id="Date" class="form-control-sm  col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Reference" class="control-label col-sm-4"></label>
                <input asp-for="JournalVoucherMaster.Reference" id="Date" class="form-control-sm  col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Reference" class="text-danger"></span>
            </div>
        </div>
    </div>



    <div class="container" style="margin-top:3%">
        <table id="tblIndex" class="table table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Narration</th>
                    <th>Location</th>                  
                    <th>DrAmount</th>
                    <th>CrAmount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>


            <tfoot>
                <tr>
                    <td>@Html.DropDownList("LedgerId", (IEnumerable<SelectListItem>)ViewBag.ledger, "--select--", new { @class = "form-control form-control-sm col-sm-12" }) </td>
                    <td><input type="text" id="Narration" style="width:100%" class="form-control col-sm-12" /></td>
                    <td>@Html.DropDownList("b", (IEnumerable<SelectListItem>)ViewBag.location, "--select--", new { @class = "form-control form-control-sm col-sm-12" }) </td>
                    <td><input type="number" id="DrAmount" style="width:100%" value="0" class="form-control col-sm-12" /></td>
                    <td><input type="number" id="CrAmount" style="width:100%" value="0" class="form-control col-sm-12" /></td>
                    <td><input type="number" id="BalanceAmount" style="width:100%" value="0" class="form-control col-sm-12" /></td>
                </tr>
            </tfoot>

        </table>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Remarks" class="control-label col-sm-4"></label>

                <input asp-for="JournalVoucherMaster.Remarks" class="form-control col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Remarks" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <br />
            <table style="border:groove">
                <tr>
                    <td>TotalDebit</td>
                    <td> @Html.TextBox("TotalDebit", "0", new { @class = "form-control" })</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>TotalCredit</td>
                    <td> @Html.TextBox("TotalCredit", "0", new { @class = "form-control" })</td>
                </tr>

            </table>
            <br />

            <input type="submit" value="Create" class="btn btn-info" />
        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.JournalVoucherMaster.TotalDebit, new { @id = "DebitTotal" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.JournalVoucherMaster.TotalCredit, new { @id = "CreditTotal" })
    </div>
</form>
<input type="hidden" id="CurrencyId" />
<script>

    $(document).ready(function () {
        var totalDebit1 = $("#DebitTotal").val();
        var totalCredit1 = $("#CreditTotal").val();
        $("#TotalDebit").val(totalDebit1);
        $("#TotalCredit").val(totalCredit1);
        $("#DebitTotal").val(totalDebit1);
        $("#CreditTotal").val(totalCredit1);
        getdetails();

    });
   
    var DebitTotal = 0, CreditTotal = 0;
   
    $("#CrAmount").on("focusout", function () {
        var debit = parseFloat($('#DrAmount').val());
        var credit = parseFloat($('#CrAmount').val());
        var totaldebit = parseFloat($('#TotalDebit').val());
        var totalcredit = parseFloat($('#TotalCredit').val());
        var Account = ($('#LedgerId').val());
        if (Account == 0) {
            alert("Please Add ");
            $("#LedgerId").focus();

        }
        else {
            var balance = debit - credit;
            DebitTotal = totaldebit + debit;
            CreditTotal = totalcredit + credit;
            $('#BalanceAmount').val(balance);
            $("#TotalDebit").val(DebitTotal);
            $("#TotalCredit").val(CreditTotal);
            $("#DebitTotal").val(DebitTotal);
            $("#CreditTotal").val(CreditTotal);

        }
        addnew();
    });
    function getdetails() {

        var uid = $('#UID').val();
        var no = $("#a").val();
        
        $.ajax({
            type: "POST",
            url: "/Financial/EditJournalVoucherproduct",
            data: { no, uid, },

            success: function (response) {
                $('#tblIndex tbody').html(response.data);
                $("#LedgerId").focus();
                $("#b").val("");
                $("#LedgerId").val("");              
                $("#Narration").val("");              
                $("#DrAmount").val("0");
                $("#CrAmount").val("0");
                $("#BalanceAmount").val("0");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }

    function addnew() {

        var prdtdetails = {}
        prdtdetails.UID = $('#UID').val();
        prdtdetails.VoucherNo = $("#a").val();
        prdtdetails.LedgerId = $("#LedgerId").val();
        prdtdetails.AccountName = $("#Account option:selected").text();
        prdtdetails.Narration = $("#Narration").val();
        prdtdetails.LocationId = $("#b").val();
        prdtdetails.LocationName = $("#b option:selected").text();      
        prdtdetails.DrAmount = $("#DrAmount").val();
        prdtdetails.CrAmount = $("#CrAmount").val();
        prdtdetails.Balance = $("#BalanceAmount").val();

        $.ajax({
            type: "POST",
            url: "/Financial/SetJournalVoucher",
            data: prdtdetails,

            success: function (response) {
                $('#tblIndex tbody').html(response.data);
                $("#Account").focus();
                $("#b").val("");
                $("#LedgerId").val("");               
                $("#Narration").val("");              
                $("#DrAmount").val("0");
                $("#CrAmount").val("0");
                $("#BalanceAmount").val("0");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }
    function removetable(x) {

        var DrAmount = document.getElementById(x).getElementsByTagName('td')[3].innerText;
        var CrAmount = document.getElementById(x).getElementsByTagName('td')[4].innerText;
        var Balance = document.getElementById(x).getElementsByTagName('td')[5].innerText;
        var totaldebit = parseFloat($('#TotalDebit').val());
        var totalcredit = parseFloat($('#TotalCredit').val());
        var uid = $('#UID').val();
        var id = x;

        $.ajax({
            type: "POST",
            url: "/Financial/DelJournalVoucher",
            data: { id, uid, },

            success: function (response) {
                $("#tblIndex #" + id).remove();
                var rowCount = $('#tblIndex tr').length - 2;
                if (rowCount == 0) {
                    $("#TotalDebit").val(0);
                    $("#TotalCredit").val(0);
                }
                else {
                    DebitTotal = totaldebit - DrAmount;
                    CreditTotal = totalcredit - CrAmount;
                    $("#TotalDebit").val(DebitTotal);
                    $("#TotalCredit").val(CreditTotal);
                }

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }
       $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
</script>
<input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" />

