﻿@model VehicleServiceManagement.Models.Accounts.JournalVoucher

@{
    ViewData["Title"] = "JournalVoucherCreate";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
@*<script src="~/js/RandomNumber.js"></script>*@
@*<script src="~/js/BlurTextBox.js"></script>*@
<input type="hidden" id="LocationName" onblur="HideBorder()" />
<input type="hidden" id="CurrencyName" onblur="HideBorder()" />
<br /><br />

<h4>&nbsp;&nbsp;&nbsp;JournalVoucher Details</h4>
<form asp-controller="Financial" asp-action="JournalVoucherDetails" method="post" class="form-inline" id="formId">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/Financial/JournalVoucherIndex" class="previous">&laquo; Previous</a>

    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Id" class="control-label col-sm-4"></label>
                <input asp-for="JournalVoucherMaster.Id" id="a" class="form-control-sm col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Id" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.LocationId" class="control-label col-sm-4"></label>
                @*<input asp-for="JournalVoucherMaster.Location" id="VoucherNo" class="form-control col-sm-8 " />*@
                @Html.DropDownListFor(m => m.JournalVoucherMaster.LocationId, (IEnumerable<SelectListItem>)ViewBag.location, "--Select--", new { @id = "LocationId", @class = "form-control form-control-sm col-sm-8" })
                <span asp-validation-for="JournalVoucherMaster.LocationId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Status" class="control-label "></label>
                <input asp-for="JournalVoucherMaster.Status" class="form-control-sm col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Status" class="text-danger"></span>
            </div>

        </div>
        <br />
        <br />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Date" class="control-label col-sm-4"></label>
                <input asp-for="JournalVoucherMaster.Date" data-required-message="Required Field" required id="Date" class="form-control-sm  col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Reference" class="control-label col-sm-4"></label>
                <input asp-for="JournalVoucherMaster.Reference" id="Date" class="form-control-sm  col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Reference" class="text-danger"></span>
            </div>
        </div>
    </div>



    <div class="container" style="margin-top:3%">
        <table id="tblIndex" class="table table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Narration</th>
                    <th>Location</th>                   
                    <th>DrAmount</th>
                    <th>CrAmount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody></tbody>


            <tfoot>
                <tr>
                    <td>@Html.DropDownList("LedgerId", (IEnumerable<SelectListItem>)ViewBag.ledger, "--select--", new { @class = "form-control form-control-sm col-sm-12" }) </td>
                    <td><input type="text" id="Narration" style="width:100%" class="form-control col-sm-12" /></td>
                    <td>@Html.DropDownList("b", (IEnumerable<SelectListItem>)ViewBag.location, "--select--", new { @class = "form-control form-control-sm col-sm-12" }) </td>
                    <td><input type="number" id="DrAmount" style="width:100%" value="0" class="form-control col-sm-12" /></td>
                    <td>
                        <input type="number" id="CrAmount" style="width:100%" value="0" class="form-control col-sm-12" />
                    </td>
                    <td><input type="number" id="BalanceAmount" style="width:100%" value="0" class="form-control col-sm-12" /></td>
                </tr>
            </tfoot>

        </table>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="form-group">
                <label asp-for="JournalVoucherMaster.Remarks" class="control-label col-sm-4"></label>

                <input asp-for="JournalVoucherMaster.Remarks" class="form-control col-sm-8 " />
                <span asp-validation-for="JournalVoucherMaster.Remarks" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <br />
            <table style="border:groove">
                <tr>
                    <td>TotalDebit</td>
                    <td> @Html.TextBox("TotalDebit", "0", new { @class = "form-control" })</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>TotalCredit</td>
                    <td> @Html.TextBox("TotalCredit", "0", new { @class = "form-control" })</td>
                </tr>

            </table>
            <br />

            <input type="submit" value="Create" class="btn btn-info" />
        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.JournalVoucherMaster.TotalDebit, new { @id = "DebitTotal" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.JournalVoucherMaster.TotalCredit, new { @id = "CreditTotal" })
    </div>
</form>
<input type="hidden" id="CurrencyId" />
<script>

    $(document).ready(function () {
        var totalDebit = parseFloat($("#DebitTotal").val());
        var totalCredit = parseFloat($("#CreditTotal").val());
        $("#TotalDebit").val(totalDebit);
        $("#TotalCredit").val(totalCredit);
        $("#DebitTotal").val(totalDebit);
        $("#CreditTotal").val(totalCredit);
        getdetails();

    });


  
    function getdetails() {

        var uid = $('#UID').val();
        var no = $("#a").val();


        $.ajax({
            type: "POST",
            url: "/Financial/EditJournalVoucherproduct",
            data: { no, uid, },

            success: function (response) {
                $('#tblIndex tbody').html(response.data);
                $("#LedgerId").focus();
                $("#b").val("");
                $("#Account").val("");            
                $("#Narration").val("");              
                $("#DrAmount").val("0");
                $("#CrAmount").val("0");
                $("#BalanceAmount").val("0");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }




</script>
<input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" />

