﻿@model VehicleServiceManagement.Models.Accounts.JournalVoucher

@{
    ViewData["Title"] = "JournalVoucherCreate";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Journal Voucher Create</h2>
    </div>
    <div class="box-body with-border">
        <form asp-controller="Financial" asp-action="JournalVoucherCreate" method="post">

            @Html.HiddenFor(m => m.JournalVoucherMaster.Id, new { @id = "Id" })


            <div class="col-sm-8">
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Location : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.JournalVoucherMaster.LocationId, (IEnumerable<SelectListItem>)ViewBag.Location, "--Select--", new { @id = "LocationId", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Employee : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.JournalVoucherMaster.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.Employee, "--Select--", new { @id = "EmployeeId", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Date : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    <input asp-for="JournalVoucherMaster.Date" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control datepicker form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Reference : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    <input asp-for="JournalVoucherMaster.Reference" id="Reference" class="form-control form-control-spl" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
           
            <div class="row mb-7">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="tblIndex">
                            <thead>
                                <tr>
                                    <th style="width:200px">Account <lable style="color:red">*</lable></th>
                                    <th style="width:200px">Narration</th>
                                    <th style="width:200px">Dr Amount</th>
                                    <th style="width:200px">Cr Amount</th>
                                    <th style="width:200px">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DropDownList("LedgerId", (IEnumerable<SelectListItem>)ViewBag.ledger, "--select--", new { @class = "form-control form-control-spl" })
                                    </td>
                                    <td><input type="text" id="Narration" /></td>
                                    <td><input type="number" id="DrAmount" value="0" class="form-control form-control-spl" /></td>
                                    <td><input type="number" id="CrAmount" value="0" class="form-control form-control-spl" /></td>
                                    <td><input type="number" readonly id="BalanceAmount" value="0" class="form-control form-control-spl" /></td>

                                </tr>
                            </tbody>

                            <tfoot class="ft">

                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="JournalVoucherMaster.Remarks" class="control-label"></label>
                        <input asp-for="JournalVoucherMaster.Remarks" class="form-control form-control-spl" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.JournalVoucherMaster.TotalDebit, new { @id = "DebitTotal" })
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(m => m.JournalVoucherMaster.TotalCredit, new { @id = "CreditTotal" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>TotalDebit</td>
                                    <td> @Html.TextBox("TotalDebit", "0", new { @class = "form-control form-control-spl" })</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td>TotalCredit</td>
                                    <td> @Html.TextBox("TotalCredit", "0", new { @class = "form-control form-control-spl" })</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" id="submit1">Save & Done</button>
                        <button type="submit" class="btn btn-default">Cancel</button>                       
                    </div>
                </div>
            </div>

        </form>
        <input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" />
    </div>
</div>

<input type="hidden" id="LocationName" onblur="HideBorder()" />
<input type="hidden" id="CurrencyName" onblur="HideBorder()" />
<br /><br />

<script>

 
    var DebitTotal = 0, CreditTotal = 0;

    $("#CrAmount").on("focusout", function () {
        var credit = parseFloat($('#CrAmount').val());
        var debit = parseFloat($('#DrAmount').val());
        var zeroval = 0;
        if (credit > 0) {
            $("#DrAmount").val(zeroval);
            debit = 0;
        }

        var Account = ($('#LedgerId').val());
        if (Account == 0) {
            alert("Please Add ");
            $("#LedgerId").focus();
        }
        else {
            var balance = 0;
            DebitTotal += debit;
            CreditTotal += credit;
            $('#BalanceAmount').val(balance);
            $("#TotalDebit").val(DebitTotal);
            $("#TotalCredit").val(CreditTotal);
            $("#DebitTotal").val(DebitTotal);
            $("#CreditTotal").val(CreditTotal);
            addnew();
        }
    });
    
    $("#CrAmount").on("focusout", function () {
        var credit = parseFloat($('#CrAmount').val());      
        var zeroval = 0;
        if (credit > 0) {
            $("#DrAmount").val(zeroval);
        }       
    });


    function addnew() {

        var prdtdetails = {}
        prdtdetails.UID = $('#UID').val();      
        prdtdetails.LedgerId = $("#LedgerId").val();
        prdtdetails.LedgerName = $("#LedgerId option:selected").text();
        prdtdetails.Narration = $("#Narration").val();   
        prdtdetails.DrAmount = $("#DrAmount").val();
        prdtdetails.CrAmount = $("#CrAmount").val();
        prdtdetails.Balance = $("#BalanceAmount").val();

        $.ajax({
            type: "POST",
            url: "/Financial/SetJournalVoucher",
            data: prdtdetails,

            success: function (response) {
                $('#tblIndex tfoot').html(response.data);
                $("#LedgerId").focus();              
                $("#LedgerId").val("");               
                $("#Narration").val("");             
                $("#DrAmount").val("0");
                $("#CrAmount").val("0");
                $("#BalanceAmount").val("0");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }

    function removetable(x) {

        var CrAmount = document.getElementById(x).getElementsByTagName('td')[2].innerText;
        var DrAmount = document.getElementById(x).getElementsByTagName('td')[3].innerText;
        var Balance = document.getElementById(x).getElementsByTagName('td')[4].innerText;

        var uid = $('#UID').val();
        var id = x;

        $.ajax({
            type: "POST",
            url: "/Financial/DelJournalVoucher",
            data: { id, uid, },

            success: function (response) {
                $("#tblIndex #" + id).remove();
                var rowCount = $('#tblIndex tr').length - 2;
                if (rowCount == 0) {
                    $("#TotalDebit").val(0);
                    $("#TotalCredit").val(0);
                    $("#DebitTotal").val(0);
                    $("#CreditTotal").val(0);
                }
                else {
                    DebitTotal = DebitTotal - DrAmount;
                    CreditTotal = CreditTotal - CrAmount;
                    $("#TotalDebit").val(DebitTotal);
                    $("#TotalCredit").val(CreditTotal);
                    $("#DebitTotal").val(DebitTotal);
                    $("#CreditTotal").val(CreditTotal);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }

    $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
    $(function () {
        $('#a').focus();
    });

</script>
<input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" />

