﻿@model VehicleServiceManagement.Models.Accounts.PaymentVoucher

@{
    ViewData["Title"] = "PaymentVoucherCreate";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Payment Voucher Create</h2>
    </div>
    <div class="box-body with-border">
        <form asp-controller="Financial" asp-action="PaymentVoucherCreate" method="post">

            @Html.HiddenFor(m => m.PaymentVoucherMaster.Id, new { @id = "Id" })

            <div class="col-sm-8">
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Vendor : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.PaymentVoucherMaster.FromAccount, (IEnumerable<SelectListItem>)ViewBag.ledger, "--Select--", new { @id = "FromAccount", onchange = @"LedgerDetails();", @class = "form-control form-control-spl" })
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Location : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.PaymentVoucherMaster.Location, (IEnumerable<SelectListItem>)ViewBag.location, "--Select--", new { @id = "Location", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Employee : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.PaymentVoucherMaster.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.Employee, "--Select--", new { @id = "EmployeeId", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">

                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>PaymentMethod :<lable style="color:red">*</lable></label>
                                </li>

                                <li>

                                    @Html.DropDownListFor(m => m.PaymentVoucherMaster.PaymentMethod, new List<SelectListItem>
                                        {
                                               new SelectListItem { Text = "Cash", Value = "1"},
                                               new SelectListItem { Text = "Bank", Value = "2"},

                                        }, new { @onchange = @"paymethodonchange();", @id = "PaymentMethod", @class = "form-control form-control-spl" })

                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row mb-5 bankinfo" hidden>                   
                    <div class="col-sm-6">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Cheque No : </label>
                                </li>

                                <li>
                                    <input asp-for="PaymentVoucherMaster.ChequeNumber" id="ChequeNumber" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Due Date :</label>
                                </li>

                                <li>
                                    <input asp-for="PaymentVoucherMaster.ChequeDueDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control datepicker form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5 bankinfo" hidden>
                    <div class="col-sm-6">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Bank:</label>
                                </li>

                                <li>
                                    <input asp-for="PaymentVoucherMaster.BankName" class="form-control datepicker form-control-spl " />

                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Online TRN : </label>
                                </li>

                                <li>
                                    <input asp-for="PaymentVoucherMaster.OnlineTransactionNumber" class="form-control form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-sm-4">

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Date : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    <input asp-for="PaymentVoucherMaster.Date" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control datepicker form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Reference : </label>
                                </li>

                                <li>
                                    <input asp-for="PaymentVoucherMaster.Reference" id="Reference" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Discount A/C : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.PaymentVoucherMaster.DiscountLedger, (IEnumerable<SelectListItem>)ViewBag.Discount, "--Select--", new { @id = "Discount", @class = "form-control form-control-spl txbx" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                   
                    
                </div>
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>PayAmount: <lable style="color:red">*</lable></label>
                                </li>
                                <li>
                                    <textarea asp-for="PaymentVoucherMaster.PaidAmount" id="PaidAmount" readonly class="form-control form-control-spl" style="margin: 0px 0.390625px 0px 0px; height: 50px; width: 231px;"></textarea>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-7">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="tblIndex">
                            <thead>
                                <tr>
                                    <th style="width:100px">PurInv.No</th>
                                    <th style="width:125px">Date</th>
                                    <th style="width:100px">VendrInvNo</th>
                                    <th style="width:100px">InvAmount</th>
                                    <th style="width:100px">Prev Paid</th>
                                    <th style="width:240px">Balance Amount</th>
                                    <th style="width:75px">Discount</th>
                                    <th style="width:100px">Paid Amount</th>
                                    <th style="width:20px">Pay</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                            <tfoot class="ft">

                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>Total Amount</td>
                                    <td><input type="text"  class="form-control form-control-spl" id="TotalAmount" readonly /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Save & Done</button>
                        <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
            <input type="hidden"  value="@Guid.NewGuid().ToString()" id="UID" name="UID" />

        </form>
       
    </div>
</div>

<input type="hidden" id="Amount" />
<script>

    function paymethodonchange() {
        var paymethode = Number($('#PaymentMethod').val());       
        if (paymethode == 1) {           
            $('.bankinfo').hide();
        }
        else {
            $('.bankinfo').show();;
        }
    }

    var totalamount = Number(0);

    function setpayamount(invoice, amount) {
        var checkboxid = invoice + "_Chk";
        var textamountid = invoice + "_PaidAmount";
        var Htextamountid = invoice + "_HPaidAmount";       
        var txtamount = Number( $('#' + textamountid).val());
    
        if ($('#' + checkboxid).prop("checked") == true) {           
            if (txtamount > 0) {
                totalamount = totalamount - Number(txtamount);                
            }           
            totalamount = totalamount + Number( amount);            
            $('#' + textamountid).val(amount);
            $('#' + Htextamountid).val(amount);
        }
        else if ($('#' + checkboxid).prop("checked") == false) {
            $('#' + textamountid).val("0.00");
            $('#' + Htextamountid).val("0.00");
            if (txtamount > 0) {
                totalamount = totalamount - Number(txtamount);
            }
        }       
        $('#PaidAmount').val(totalamount);
    }

    function Amountchange(invoice) {
        var textamountid = invoice + "_PaidAmount";
        var Htextamountid = invoice + "_HPaidAmount";   
        var oldamount = Number( $('#' + Htextamountid).val());
        var newamount = Number( $('#' + textamountid).val());
        totalamount = totalamount - oldamount + newamount;
        $('#PaidAmount').val(totalamount);
        $('#'+Htextamountid).val(newamount);

    }

    function DiscountCahange(invoice,amount) {
        var textdiscountid = invoice + "_Discount";
        var textamountid = invoice + "_PaidAmount";      
        var newdiscount = Number($('#' + textdiscountid).val()); 
        var amoundpaid = Number(amount) - newdiscount;
        $('#' + textamountid).val(amoundpaid);     
        Amountchange(invoice);

    }

    function LedgerDetails() {

        var ledgerId = $('#FromAccount').val();        
        $.ajax({
            type: "POST",
            url: "/Financial/GetPaymentDetails",
            data: { ledgerId },

            success: function (response) {
                $('#tblIndex tfoot').html(response[0]);
                $("#TotalAmount").val(response[1]);
                $("#PaidAmount").val("0.00");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }

    $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
      $(function () {
            $('#a').focus();
      });

    $(function() {
    $('#bank').click(function() {
        $('.txbx').attr('hidden',false);
    });           
    $('#cash').click(function() {
        $('.txbx').attr('hidden',true);
    });
});

</script>


