﻿@model VehicleServiceManagement.Models.Accounts.PaymentVoucher

@{
    ViewData["Title"] = "PaymentVoucherEdit";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}

@*<script src="~/js/RandomNumber.js"></script>*@
@*<script src="~/js/BlurTextBox.js"></script>*@
<input type="hidden" id="LocationName" onblur="HideBorder()" />
<input type="hidden" id="CurrencyName" onblur="HideBorder()" />
<br />
<h4>&nbsp;&nbsp;&nbsp;PaymentVoucher Edit</h4>

<form asp-controller="Financial" asp-action="PaymentVoucherEdit" method="post" class="form-inline" id="formId">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Financial/PaymentVoucherIndex" class="previous">&laquo; Previous</a>
    <br />

    <br />
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <br />
            <div class="form-group">
                <label asp-for="PaymentVoucherMaster.Location" class="control-label col-sm-4"></label>
                @Html.DropDownListFor(m => m.PaymentVoucherMaster.Location, (IEnumerable<SelectListItem>)ViewBag.location, "--Select--", new { @id = "Location", @class = "form-control form-control-sm col-sm-8" })
                <span asp-validation-for="PaymentVoucherMaster.Location" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PaymentVoucherMaster.FromAccount " class="control-label col-sm-4"></label>
                @Html.DropDownListFor(m => m.PaymentVoucherMaster.FromAccount, (IEnumerable<SelectListItem>)ViewBag.account, "--Select--", new { @id = "FromAccount", @class = "form-control form-control-sm col-sm-8" })
                <span asp-validation-for="PaymentVoucherMaster.FromAccount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PaymentVoucherMaster.Status" class="control-label col-sm-4"></label>
                <input asp-for="PaymentVoucherMaster.Status" id="FromAccount" class="form-control col-sm-8 " />
                <span asp-validation-for="PaymentVoucherMaster.Status" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PaymentVoucherMaster.Date" class="control-label col-sm-4"></label>
                <input asp-for="PaymentVoucherMaster.Date" data-required-message="Required Field" required id="Date" class="form-control col-sm-8 " />
                <span asp-validation-for="PaymentVoucherMaster.Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PaymentVoucherMaster.Reference" class="control-label col-sm-4"></label>
                <input asp-for="PaymentVoucherMaster.Reference" id="Reference" class="form-control col-sm-8 " />
                <span asp-validation-for="PaymentVoucherMaster.Reference" class="text-danger"></span>
            </div>
            <br />
         
        </div>

    </div>
    <div class="container" style="margin-top:3%">
        <table id="tblIndex" class="table table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Narration</th>
                    <th>Location</th>
                    <th>Currency</th>
                    <th>ExchangeRate</th>
                    <th>Vendor</th>
                    <th>DrAmount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody></tbody>


            <tfoot>
                <tr>
                    @*<td><input type="text" id="Account" style="width:100%" class="form-control col-sm-12" /></td>*@
                    <td>@Html.DropDownList("Account", (IEnumerable<SelectListItem>)ViewBag.ledger, "--select--", new { @class = "form-control form-control-sm col-sm-12" }) </td>
                    <td><input type="text" id="Narration" style="width:100%" class="form-control col-sm-12" /></td>
                    <td>@Html.DropDownList("b", (IEnumerable<SelectListItem>)ViewBag.location, "--select--", new { @class = "form-control form-control-sm col-sm-12" }) </td>
                    <td><input type="text" readonly id="Currency" style="width:100%" class="form-control col-sm-12" /></td>
                    <td><input type="text" readonly id="ExchangeRate" style="width:100%" class="form-control col-sm-12" /></td>
                    <td><input type="text" readonly id="Vendor" style="width:100%" class="form-control col-sm-12" /></td>

                    <td>
                        <input type="number" id="DrAmount" style="width:100%" value="0" class="form-control col-sm-12" />
                    </td>
                    <td><input type="number" id="BalanceAmount" style="width:100%" value="0" class="form-control col-sm-12" /></td>



                </tr>
            </tfoot>

        </table>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

        </div>

        <div class="col-md-4">
            <br />
            <table style="border:groove">
                <tr>
                    <td>PaidAmount</td>
                    <td><input type="text" class="form-control" id="PaidAmount" name="PaidAmount" readonly /></td>
                </tr>

            </table>

            <input type="submit" value="Create" class="btn btn-info" />

        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.PaymentVoucherMaster.PaidAmount, new { @id = "FTotal" })
    </div>


    <input type="hidden" value="6" id="Transaction" />
    <input type="hidden" value="" id="Amount" />
    <input type="hidden" value="" id="VendorId" />
    <input type="hidden" id="CurrencyId" />
</form>

<script>


    $(document).ready(function () {
        var totalDebit1 = $("#FTotal").val();
        $("#PaidAmount").val(totalDebit1);
        $("#FTotal").val(totalDebit1);
     
        getdetails();

    });
    function getdetails() {

        var uid = $('#UID').val();
        var no = $("#a").val();


        $.ajax({
            type: "POST",
            url: "/Financial/EditPaymentVoucherproduct",
            data: { no, uid, },

            success: function (response) {
                $('#tblIndex tbody').html(response.data);
                $("#Account").focus();
                $("#b").val("");
                $("#Account").val("");
                $("#Currency").val("");
                $("#Narration").val("");
                $("#ExchangeRate").val("");
                $("#DrAmount").val("0");
                $("#Vendor").val("");
                $("#BalanceAmount").val("0");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }

       var DebitTotal = 0, CreditTotal = 0;

    $("#b").on("input", function () {
        var code = $("#b").val();

        var url = "/Financial/GetCurrencyDetails?Id=" + code;

        $.ajax({
            type: "GET",
            url: url,

            success: function (data) {
                $('#ExchangeRate').val(data.exchangeRate);
                $('#Currency').val(data.currencyName);
                $('#CurrencyId').val(data.id);


            }
        })
    });

    $("#Account").on("input", function () {

        var code = $("#Account").val();
        var url = "/Financial/GetVendor?Id=" + code;

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $("#Vendor").val(data.vendorName);
                $("#VendorId").val(data.id);
                $("#BalanceAmount").val(data.subTotal);


            }
        })
    });

    $("#DrAmount").on("focusout", function () {

        var code = $("#VendorId").val();
        var url = "/Financial/GetAmount?Id=" + code;

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $("#Amount").val(data.subTotal);
                var debit = parseFloat($('#DrAmount').val());
                var totalDebit = parseFloat($("#PaidAmount").val());
                var amount = $('#Amount').val();
                var Account = ($('#Account').val());
                if (Account == 0) {
                    alert("Please Add ");
                    $("#Account").focus();

                }
                else {
                    var balance = amount - debit;
                    CreditTotal += balance;

                    DebitTotal = totalDebit + debit;
                 
                    $("#PaidAmount").val(DebitTotal);
                    $("#FTotal").val(DebitTotal);
                    $("#BalanceAmount").val(balance);

                }
                addnew();
            }
        })
    });

    function addnew() {

        var prdtdetails = {}
        prdtdetails.UID = $('#UID').val();
        prdtdetails.VoucherNo = $("#a").val();
        prdtdetails.Account = $("#Account").val();
        prdtdetails.AccountName = $("#Account option:selected").text();
        prdtdetails.Narration = $("#Narration").val();
        prdtdetails.Location = $("#b").val();
        prdtdetails.LocationName = $("#b option:selected").text();
        prdtdetails.Currency = $('#CurrencyId').val();
        prdtdetails.CurrencyName = $('#Currency').val();
        prdtdetails.ExchangeRate = $("#ExchangeRate").val();
        prdtdetails.DrAmount = $("#DrAmount").val();
        prdtdetails.VendorName = $('#Vendor').val();
        prdtdetails.Vendor = $('#VendorId').val();
        prdtdetails.Balance = $("#BalanceAmount").val();

        $.ajax({
            type: "POST",
            url: "/Financial/SetPaymentVoucher",
            data: prdtdetails,

            success: function (response) {
                $('#tblIndex tbody').html(response.data);
                $("#Account").focus();
                $("#b").val("");
                $("#Account").val("");
                $("#Currency").val("");
                $("#Narration").val("");
                $("#ExchangeRate").val("");
                $("#DrAmount").val("0");
                $("#Vendor").val("");
                $("#BalanceAmount").val("0");


            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
           }
      function removetable(x) {

        var DrAmount = document.getElementById(x).getElementsByTagName('td')[6].innerText;

        var Balance = document.getElementById(x).getElementsByTagName('td')[7].innerText;
          var totalDebit = parseFloat($("#PaidAmount").val());
        var uid = $('#UID').val();



        var id = x;

        $.ajax({
            type: "POST",
            url: "/Financial/DelPaymentVoucher",
            data: { id, uid, },

            success: function (response) {
                $("#tblIndex #" + id).remove();
                var rowCount = $('#tblIndex tr').length - 2;
                if (rowCount == 0) {
                    $("#PaidAmount").val(0);

                }
                else {
                    DebitTotal = totalDebit - DrAmount;
                    $("#PaidAmount").val(DebitTotal);
                    $("#FTotal").val(DebitTotal);

                }

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
        }
       $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
</script>
<input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" />

