﻿@model VehicleServiceManagement.Models.Accounts.PaymentVoucherMasterDisplay

@{
    ViewData["Title"] = "PaymentVoucherIndex";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";

}
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Payment Voucher Informations</h2>
    </div>
    <div class="box-body">
        <div class="row mb-7">
            <div class="col-sm-12">
                <div class="pur-in-btn">
                    <ul>
                        @if (Model.userP.InsertPermission)
                        {
                        <li><a asp-action="PaymentVoucherCreate" asp-controller="Financial">New <i class="fa fa-plus"></i></a></li>
                        }
                        @*<li><a href="/Financial/PaymentVoucherEdit">Edit <i class="fa fa-edit"></i></a></li>
                        <li><a href="/Financial/PaymentVoucherDelete">Delete <i class="fa fa-trash"></i></a></li>*@
                        <li><a asp-action="index" asp-controller="Financial">Cancel <i class="fa fa-ban"></i></a></li>
                        @if (Model.userP.PrintPermission)
                        {
                        <li><a href="">Print <i class="fa fa-print"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        
        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        int sno = 0;
                    }
                    <th>SL No.</th>
                    <th>Payment Voucher No.</th>
                    <th>Date</th>
                    <th>Vendor / Dr Account</th>
                    <th>Reference</th>
                    <th>Paid Amount</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody id="SetDepartmentList">
                <tr id="LoadingStatus" style="color:red"></tr>
                @foreach (var item in Model.paymentVoucherList)
                {
            <tr id="@item.Id">

                <td>
                    @{ sno++; }
                    @sno
                </td>
                <td>@item.Id</td>
                <td>@item.Date</td>
                <td>@item.PaymentMethod</td>
                <td>@item.Reference</td>             
                <td>@item.PaidAmount</td>
                <td>
                    @*<a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="location.href='@Url.Action("PaymentVoucherEdit", "Financial",new {id=@item.Id })'"></a>*@
                    @if (Model.userP.DisplayPermission)
                    {
                    <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick="location.href='@Url.Action("PaymentVoucherDetails", "Financial", new { id = @item.Id })'"></a>
                    }
                    @*<a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick=""></a>*@
                </td>
            </tr>
                }
            </tbody>
        </table>

    </div>
</div>