﻿@model VehicleServiceManagement.Models.Accounts.ProfitandLoss
@{
    ViewData["Title"] = "ProfitandLossReport";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <title>Balance for PDF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/balance.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>
<div class="Page">

    <div class="FormSection">
        <label>@Model.CompanyName</label>
    </div>

    <div class="ButtonsGroup">
        <button onclick="myFunction('Printable')" class="Button">Print</button>
        <a class="Button">PDF</a>
        <a class="Button">EXEL</a>
        <a class="Button">EMAIL</a>
    </div>
</div>
<!-- partial:index.partial.html -->
<div class="Balance" id="Printable">
    <div class="BalanceHead">
        <div class="BalanceHeadBg"> <img src="~/images/header.png" alt=""></div>
        <div class="Logo">
            <img src="~/images/logo.png">
        </div>
    </div>
    <table>
        <thead class="FxedBalanceHead">
            <tr>
                <td class="BalanceHeadEmbedArea" colspan="3"></td>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td colspan="3">

                    <div class="Refrences">

                        <div class="FlexNormal">
                            <div class="RefLeft">

                                <p><span class="Label"> Address</span> <span> @Model.Address </span> </p>

                                <p><span class="Label"> Email</span> <span> @Model.Email</span> </p>

                            </div>
                            <div class="RefRight">
                                <p><span class="Label"> Fax</span> <span>@Model.Fax </span> </p>
                                <p><span class="Label"> Phone</span><span> @Model.Phone</span> </p>

                            </div>
                        </div>
                    </div>

                    <div class="BalanceContent">
                        <div class="BalanceTSubitle TextCenter"> Profit and Loss	 </div>
                        <table class="MainBalanceTable fold-table">
                            <thead class="TableBalanceHead">
                                <tr>
                                    <th>Accounts</th>
                                    <th>Amount  </th>                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:left">Revenue</td>
                                    <td></td>
                                </tr>
                                @foreach (var item in Model.IncomeFromSales)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Amount</td>
                                    </tr>
                                }
                                <tr>
                                    <td style="text-align:left">Total Revenue</td>
                                    <td>@Model.TotalSales</td>
                                </tr>

                                <tr>
                                    <td style="text-align:left">Purchase</td>
                                    <td></td>
                                </tr>
                                @foreach (var item in Model.PurchaseExpense)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Amount</td>
                                    </tr>
                                }
                                <tr>
                                    <td style="text-align:left">Total Purchase</td>
                                    <td>@Model.TotalPurchase</td>
                                </tr>
                                @if (Model.DirectIncome != null && Model.DirectIncome.Count > 0)
                                {
                                    <tr>
                                        <td style="text-align:left">Direct Income</td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in Model.DirectIncome)
                                    {
                                        <tr class="view">
                                            <td>@item.Name</td>
                                            <td>@item.Amount</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td style="text-align:left">Total Direct Income</td>
                                        <td>@Model.TotalDirectIncome</td>
                                    </tr>
                                }
                                @if (Model.DirectExpense != null && Model.DirectExpense.Count > 0)
                                {
                                    <tr>
                                        <td style="text-align:left">Direct Expense</td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in Model.DirectExpense)
                                    {
                                        <tr class="view">
                                            <td>@item.Name</td>
                                            <td>@item.Amount</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td style="text-align:left">Total Direct Expense</td>
                                        <td>@Model.TotalDirectExpense</td>
                                    </tr>
                                }
                              
                                <tr>
                                    <td style="text-align:left">Gross Profit/Loss</td>
                                    <td>@Model.GrossProfit</td>
                                </tr>
                               
                                @if (Model.InDirectIncome != null && Model.InDirectIncome.Count > 0)
                                {
                                    <tr>
                                        <td style="text-align:left">InDirect Income</td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in Model.InDirectIncome)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Amount</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td style="text-align:left">Total InDirect Income</td>
                                        <td>@Model.TotalDirectIncome</td>
                                    </tr>
                                }
                                @if (Model.InDirectExpense != null && Model.InDirectExpense.Count > 0)
                                {
                                    <tr>
                                        <td style="text-align:left">InDirect Expense</td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in Model.InDirectExpense)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Amount</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td style="text-align:left">Total InDirect Expense</td>
                                        <td>@Model.TotalInDirectExpense</td>
                                    </tr>
                                }
                              
                                <tr>
                                    <td style="text-align:left">Net Profit/Loss</td>
                                    <td>@Model.NetProfit</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

        </tbody>
        <!-- partial -->

        <tfoot class="FxedBalanceFoot">
            <tr>
                <td colspan="3" class="BalanceFootEmbedArea"></td>
            </tr>
        </tfoot>

    </table>
    <div class="BalanceFooter">
        <p>Office 2403 Churchil Tower, Business Bay, Dubai, UAE <br> +971 4338 2988 | info@averyxgroup.com</p>
        <div class="FooterBg"><img src="~/images/footer.png"></div>
    </div>
</div>

<script>

    function myFunction(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

    function showHideEle(selectSrc, targetEleId, triggerValue) {
        if (selectSrc.value == triggerValue) {
            document.getElementById(targetEleId).style.display = "flex";
        } else {
            document.getElementById(targetEleId).style.display = "none";
        }
    }

    $(function () {
        $(".fold-table tr.view").on("click", function () {
            $(this).toggleClass("open").next(".fold").toggleClass("open");
        });
    });

</script>
