﻿@model BusinessSoftware.Models.PurchaseMasterDisplay

@{
    ViewBag.Title = "PurchaseInvoiceIndex";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Purchase Invoice</h2>
    </div>
    <div class="box-body">
        <div class="row mb-7">
            <div class="col-sm-12">
                <div class="pur-in-btn">
                    <ul>
                        @if (Model.userP.InsertPermission)
                        {
                        <li><a asp-action="PurchaseCreate" asp-controller="Financial">New <i class="fa fa-plus"></i></a></li>      
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped m-0">
                        <thead>
                            <tr>
                                <th>SL No.</th>
                                @{
                                    int sno = 0;
                                }                                
                                <th>
                                    Policy No
                                </th>
                                <th>
                                   Dealer Name
                                </th>

                                <th>
                                    Date
                                </th>

                                <th>
                                    Employee
                                </th>

                                <th>
                                    Dealer Inv No
                                </th>


                                <th>
                                    Sub Total
                                </th>
                                <th>
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.purchaseMasterList)
                            {
                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>                            

                                <td>
                                    @Html.DisplayFor(modelItem => item.PolicyNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DealerName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.DealerInvoiceNo)
                                </td>                             
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubTotal)
                                </td> 
                                <td>
                                    @if (Model.userP.UpdatePermission)
                                    {
                                    <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="" ></a>
                                    }
                                    @if (Model.userP.DisplayPermission)
                                    {
                                    <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick="" ></a>
                                    }
                                    @if (Model.userP.DeletePermission)
                                    {
                                    <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick=""></a>
                                    }
                                    @if (Model.userP.PrintPermission)
                                    {
                                    <a href='#' class="btn btn-info btn-xs btn-marign-8x fa fa-print" title="Print" onclick=""></a>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
