﻿
@model BusinessSoftware.Models.PurchaseInvoice

@{
    ViewBag.Title = "PurchaseCreate";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";

    string invoice = null;
    if (ViewBag.invoice != null)
    {
        invoice = ViewBag.invoice;
    }
}


<div class="box box-primary">
    <form asp-controller="Financial" asp-action="PurchaseCreate" method="post" enctype="multipart/form-data">
        <div class="box-header with-border col-sm-12">
            <div class="col-sm-8"><h2 class="box-title">Create Purchase Invoice</h2></div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Save & Done</button>
                <button type="button" class="btn btn-primary">Save & New</button>
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
        <div class="box-body with-border">
            <div class="col-sm-8">
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Dealer : <lable style="color:red">*</lable></label>
                                </li>
                                <li>
                                    @Html.DropDownListFor(m => m.PurchaseInvoiceMaster.DealerLedgerId, (IEnumerable<SelectListItem>)ViewBag.dealer, "--select--", new {  @class = "form-control form-control-spl" })
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Address : </label>
                                </li>

                                <li>
                                    <input asp-for="PurchaseInvoiceMaster.Address" id="Address" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Policy No : <lable style="color:red">*</lable></label>
                                </li>
                                <li>
                                    <input asp-for="PurchaseInvoiceMaster.PolicyNumber" data-required-message="Required Field" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Date : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    <input asp-for="PurchaseInvoiceMaster.Date" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-12">

                <div class="row mb-5">
                    <div class="col-sm-4">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Employee : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.PurchaseInvoiceMaster.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.employee, "--select--", new { @id = "EmployeeId", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Dealer Invoice : </label>
                                </li>
                                <li>
                                    <input asp-for="PurchaseInvoiceMaster.DealerInvoiceNo" class="form-control form-control-spl" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Reference : </label>
                                </li>
                                <li>
                                    <input asp-for="PurchaseInvoiceMaster.Reference" class="form-control form-control-spl" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mb-4">
                <div class="col-sm-12">
                    <div style="background-color:#f9f9f9; padding:3px;">
                        <div class="purchase-tabs">
                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="product">
                                    <div class="row mb-7">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped" id="tblIndex">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:50px;">Sl No</th>
                                                            <th style="width:200px">Purticulars <lable style="color:red">*</lable></th>
                                                            <th style="width:75px;">Quantity <lable style="color:red">*</lable></th>
                                                            <th style="width:75px">Price <lable style="color:red">*</lable></th>
                                                            <th style="width:100px">Total Price <lable style="color:red">*</lable></th>
                                                            <th style="width:100px;">Vatcategory </th>
                                                            <th style="width:75px;">Vat Amount</th>
                                                            <th style="width:100px;">Total Amount</th>
                                                            <th style="width:50px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>0</td>
                                                            <td><input type="text" class="form-control form-control-spl" id="Particulars"/></td>
                                                            <td><input type="number" class="form-control form-control-spl" id="Quantity" /></td>
                                                            <td><input type="number" class="form-control form-control-spl" id="Price" /></td>
                                                            <td><input type="number" class="form-control form-control-spl" id="TotalPrice" readonly /></td>
                                                            <td>
                                                                <select id="VatCategory" onchange="taxchange();" class="form-control form-control-spl">
                                                                    <option value="0">Zero Rated</option>
                                                                    <option value="5">Standard Rated</option>
                                                                </select>
                                                            </td>
                                                            <td><input type="number" class="form-control form-control-spl" id="VatAmount" value="0" readonly /></td>
                                                            <td><input type="number" class="form-control form-control-spl" readonly id="TAmount" /></td>
                                                            <td><button type="button" class="form-control form-control-spl btn btn-success " onclick="addnew();">Add</button></td>
                                                        </tr>
                                                    </tbody>

                                                    <tfoot class="ft">

                                                    </tfoot>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="col-sm-12">
                        <div class="pull-left">
                            <div class="form-regi">
                                <ul>
                                    <li>
                                        <label>Remark : </label>
                                    </li>

                                    <li>
                                        <textarea asp-for="PurchaseInvoiceMaster.Remarks" class="form-control form-control-spl" style="margin: 0px -523.781px 0px 0px; width: 651px; height: 64px;"></textarea>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>Total</td>
                                    <td><input asp-for="PurchaseInvoiceMaster.PurchaseTotal" data-required-message="Required Field" class="form-control form-control-spl" readonly/></td>
                                </tr>                               
                               
                                <tr>
                                    <td>VAT Amount </td>
                                    <td><input asp-for="PurchaseInvoiceMaster.VATAmount" data-required-message="Required Field" class="form-control form-control-spl" readonly /></td>

                                </tr>
                                <tr>
                                    <td>Sub Total</td>
                                    <td> <input asp-for="PurchaseInvoiceMaster.SubTotal" data-required-message="Required Field" class="form-control form-control-spl" readonly></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="box-footer">

            </div>

        </div>
        <input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" name="UID" />
    </form>

</div>

<script>
    
    var FTotal = 0, FSubTotal = 0, FDiscount = 0;

    function taxchange() {
        var taxpercent = $('#VatCategory').val();
        var totalprice = $('#TotalPrice').val();
        var taxamount = Number((totalprice * taxpercent) / 100);
        $("#VatAmount").val(taxamount);
        var ltotal = 0, lrate = 0, lquantity = 0, ltax = 0, ltotalamount = 0;
        lrate = $('#Price').val();
        lquantity = $('#Quantity').val();
        ltax = Number($('#VatAmount').val());
        ltotal = (lrate * lquantity);
        ltotalamount = ltotal + ltax;
        $('#TotalPrice').val(ltotal);
        $('#TAmount').val(ltotalamount);
    }
       
    $("#Quantity").on('focusout', function () {

        var ltotal = 0, lrate = 0, lquantity = 0,ltax=0,ltotalamount=0;
        lrate = $('#Price').val();
        lquantity = $('#Quantity').val();     
        ltax = Number($('#VatAmount').val());
        ltotal = (lrate * lquantity) ;
        ltotalamount = ltotal + ltax;
        $('#TotalPrice').val(ltotal);
        $('#TAmount').val(ltotalamount);
    });
    
    $("#Price").on("focusout", function () {       
        var ltotal = 0, lrate = 0, lquantity = 0, ltax = 0, ltotalamount=0;
        lrate = $('#Price').val();       
        lquantity = $('#Quantity').val();
        ltax = Number( $('#VatAmount').val());
        ltotal = (lrate * lquantity);        
        ltotalamount = ltotal + ltax;        
        $('#TotalPrice').val(ltotal);
        $('#TAmount').val(ltotalamount);
    });
    
    function addnew() {

        var prdtdetails = {}
        prdtdetails.UID = $('#UID').val();
        prdtdetails.Particular = $("#Particulars").val();
        prdtdetails.Quantity = $("#Quantity").val();
        prdtdetails.Price = $("#Price").val();
        prdtdetails.TotalPrice = $("#TotalPrice").val();
        prdtdetails.Vatcategory = $("#VatCategory option:selected").text();
        prdtdetails.Vat = $("#VatAmount").val();
        prdtdetails.Total = $("#TAmount").val();    

        $.ajax({
            type: "POST",
            url: "/Financial/SetProduct",
            data: prdtdetails,

            success: function (response) {
                $('#tblIndex tfoot').html(response[0]);
                $("#PurchaseInvoiceMaster_PurchaseTotal").val(response[1]);            
                $("#PurchaseInvoiceMaster_VATAmount").val(response[2]);     
                $("#PurchaseInvoiceMaster_SubTotal").val(response[3]);
                               
                $("#Particulars").val("");
                $("#Quantity").val("");
                $("#Price").val("");
                $("#VatCategory").val("0");
                $("#VatAmount").val("");               
                $("#TAmount").val("");  

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }
    
    function removetable(x) {

        var prdtdetails = {}
        prdtdetails.UID = $('#UID').val();
        prdtdetails.Particular = x;
        
        $.ajax({
            type: "POST",
            url: "/Financial/DelProduct",
            data: prdtdetails,

            success: function (response) {
                $('#tblIndex tfoot').html(response[0]);
                $("#PurchaseInvoiceMaster_PurchaseTotal").val(response[1]);
                $("#PurchaseInvoiceMaster_VATAmount").val(response[2]);
                $("#PurchaseInvoiceMaster_NetTotal").val(response[3]);            
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })

    }
  
     $(function () {
            $('#Date').focus();
        });
    $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });

</script>


