﻿@model VehicleServiceManagement.Models.Accounts.ReceiptVoucher

@{
    ViewData["Title"] = "CompanyInformation";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";

}
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Payment Voucher Create</h2>
    </div>
    <div class="box-body with-border">
        <form asp-controller="Financial" asp-action="PaymentVoucherCreate" method="post">

            @Html.HiddenFor(m => m.ReceiptMaster.Id, new { @id = "Id" })

            <div class="col-sm-8">
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Debit Account/Vendor : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ReceiptMaster.ReceivingAccount, (IEnumerable<SelectListItem>)ViewBag.ledger, "--Select--", new { @id = "FromAccount", onchange = @"LedgerDetails();", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Location : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ReceiptMaster.Location, (IEnumerable<SelectListItem>)ViewBag.location, "--Select--", new { @id = "Location", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Employee : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ReceiptMaster.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.Employee, "--Select--", new { @id = "EmployeeId", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-7">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>PaymentMethod : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ReceiptMaster.PaymentMethod, new List<SelectListItem>
                                       {
                                              new SelectListItem { Text = "Cash", Value = "1"},
                                              new SelectListItem { Text = "Bank", Value = "2"},

                                       }, new { @id = "PaymentMethod", @class = "form-control form-control-spl" })
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Cheque No : </label>
                                </li>

                                <li>
                                    <input asp-for="ReceiptMaster.ChequeNumber" id="ChequeNumber" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-7">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Bank:</label>
                                </li>

                                <li>
                                    <input asp-for="ReceiptMaster.BankName" class="form-control form-control-spl" />                                   
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Online TRN : </label>
                                </li>

                                <li>
                                    <input asp-for="ReceiptMaster.OnlineTransactionNumber" required class="form-control form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-sm-4">

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Date : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    <input asp-for="ReceiptMaster.Date" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control datepicker form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Reference : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    <input asp-for="ReceiptMaster.Reference" id="Reference" class="form-control form-control-spl" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Discount A/C : <lable style="color:red">*</lable></label>
                                </li>

                                <li>
                                    @Html.DropDownListFor(m => m.ReceiptMaster.DiscountLedger, (IEnumerable<SelectListItem>)ViewBag.Discount, "--Select--", new { @id = "Discount", @class = "form-control form-control-spl txbx" })
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Due Date :</label>
                                </li>

                                <li>
                                    <input asp-for="ReceiptMaster.ChequeDueDate" value="@DateTime.Now.ToString("yyy-MM-dd")" data-required-message="Required Field" required class="form-control datepicker form-control-spl " />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Reciept Amount:</label>
                                </li>
                                <li>
                                    <input asp-for="ReceiptMaster.RecievingAmount" id="RecievingAmount" class="form-control form-control-spl" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-7">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="tblIndex">
                            <thead>
                                <tr>
                                    <th style="width:100px">SaleInv.No</th>
                                    <th style="width:100px">Date</th>
                                    <th style="width:100px">InvAmount</th>
                                    <th style="width:100px">Prev Paid</th>
                                    <th style="width:150px">Balance Amount</th>
                                    <th style="width:100px">Discount</th>
                                    <th style="width:200px">Recieved Amount</th>
                                    <th style="width:10px">Recieve</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot class="ft">
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">

                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>Total Amount</td>
                                    <td><input type="text" class="form-control form-control-spl" id="TotalAmount" readonly /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" id="submit1">Save & Done</button>
                        <button type="submit" class="btn btn-default">Cancel</button>

                    </div>
                </div>
            </div>
            <input type="hidden" value="@Guid.NewGuid().ToString()" id="UID" />
        </form>
       
    </div>
</div>
<input type="hidden" id="Amount" />

<script>

    var totalamount = Number(0);
    function setpayamount(invoice, amount) {
        var checkboxid = invoice + "_Chk";
        var textamountid = invoice + "_RecievingAmount";
        var Htextamountid = invoice + "_HRecievingAmount";
        var txtamount = Number($('#' + textamountid).val());

        if ($('#' + checkboxid).prop("checked") == true) {
            if (txtamount > 0) {
                totalamount = totalamount - Number(txtamount);
            }
            totalamount = totalamount + Number(amount);
            $('#' + textamountid).val(amount);
            $('#' + Htextamountid).val(amount);
        }
        else if ($('#' + checkboxid).prop("checked") == false) {
            $('#' + textamountid).val("0.00");
            $('#' + Htextamountid).val("0.00");
            if (txtamount > 0) {
                totalamount = totalamount - Number(txtamount);
            }
        }
        $('#RecievingAmount').val(totalamount);
    }

    function Amountchange(invoice) {
        var textamountid = invoice + "_RecievingAmount";
        var Htextamountid = invoice + "_HRecievingAmount";
        var oldamount = Number($('#' + Htextamountid).val());
        var newamount = Number($('#' + textamountid).val());
        totalamount = totalamount - oldamount + newamount;
        $('#RecievingAmount').val(totalamount);
        $('#' + Htextamountid).val(newamount);

    }

    function DiscountCahange(invoice, amount) {
        var textdiscountid = invoice + "_Discount";
        var textamountid = invoice + "_RecievingAmount";
        var newdiscount = Number($('#' + textdiscountid).val());
        var amoundpaid = Number(amount) - newdiscount;
        $('#' + textamountid).val(amoundpaid);
        Amountchange(invoice);

    }

    function LedgerDetails() {

        var ledgerId = $('#FromAccount').val();
        $.ajax({
            type: "POST",
            url: "/Financial/GetRecieptDetails",
            data: { ledgerId },

            success: function (response) {
                $('#tblIndex tfoot').html(response[0]);
                $("#TotalAmount").val(response[1]);
                $("#RecievingAmount").val("0.00");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }

     $(function() {
    $('#bank').click(function() {
        $('.txbx').attr('hidden',false);
    });           
    $('#cash').click(function() {
        $('.txbx').attr('hidden',true);
    });
});
</script>
