﻿@model VehicleServiceManagement.Models.Accounts.ClsSubGroup

@{
    ViewData["Title"] = "SubGroupIndex";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<script>
    function AddNewSubGroup() {

        $("#ModalTitle").html("Add New SubGroup");
        $("#ModalTitle").show();
        $("#MyModal").modal();
    }
    $(document).on('keydown', ':tabbable', function (e) {

        if (e.key === "Enter") {
            e.preventDefault();

            var $canfocus = $(':tabbable:visible');
            var index = $canfocus.index(document.activeElement) + 1;

            if
                (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }


    });


    //Delete
    var gl_Id = 0;

    function SubgroupDelete(Id) {
        gl_Id = Id;
        $("#DeleteConfirmation").modal("show");
    }
    function ConfirmDelete() {
        var id = $("#Id").val();

        $.ajax({
            type: "POST",
            url: "/Financial/DeleteSubGroup?Id=" + gl_Id,
            success: function (data) {
                $("#DeleteConfirmation").modal("hide");
                $("table #" + id).remove();
                location.reload(true);
            }
        })

    }




</script>



<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Accounts Group Information</h2>
    </div>
    <div class="box-body">
        <div class="row mb-7">
            <div class="col-sm-12">
                <div class="pur-in-btn">
                    <ul>
                        @if (Model.userP.InsertPermission)
                        {
                        <li><a href="#" onclick="AddNewSubGroup()">New <i class="fa fa-plus"></i></a></li>
                        }
                        @*<li><a href="">Edit <i class="fa fa-edit"></i></a></li>
                            <li><a href="">Delete <i class="fa fa-trash"></i></a></li>*@
                        <li><a href="Index">Cancel <i class="fa fa-ban"></i></a></li>
                        @if (Model.userP.PrintPermission)
                        {
                        <li><a href="">Print <i class="fa fa-print"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @*<a href="#" class="btn btn-info" onclick="AddNewCity()">Add New City</a> <br /><br />*@

        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        int sno = 0;
                    }
                    <th>SLNo</th>
                    <th>Code</th>

                    <th>Accounts Group Name</th>
                    <th>Under Chart Of Account</th>



                    <th>Action</th>

                </tr>
            </thead>
            <tbody id="SetDepartmentList">
                <tr id="LoadingStatus" style="color:red"></tr>
                @foreach (var item in Model.clsList)
                {
                    <tr id="@item.Id">

                        <td>
                            @{ sno++; }
                            @sno
                        </td>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@item.groupname</td>

                        <td>
                            @if (item.IsDefault == false)
                            {
                                if (Model.userP.UpdatePermission)
                                {
                                <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="location.href='@Url.Action("EditSubGroup", "Financial", new { id = @item.Id })'"></a>
                                }
                                if (Model.userP.DeletePermission)
                                {
                                <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick="SubgroupDelete(@item.Id)"></a>
                                }
                            }
                            @if (Model.userP.DisplayPermission)
                            {
                            <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick="location.href='@Url.Action("subgroupDetails", "Financial", new { id = @item.Id })'"></a>
                            }
                        </td>

                        @*<td>
                                @if (item.IsDefault == false)
                                {
                                <a href='#' class="btn btn-primary btn-xs btn-marign-8x fa fa-edit" title="Edit" onclick="EditCityRecord(@item.Id)"></a>
                                <a href='#' class="btn btn-success btn-xs btn-marign-8x fa fa-eye" title="View" onclick=""></a>
                                <a href='#' class="btn btn-danger btn-xs btn-marign-8x fa fa-trash" title="Delete" onclick="DeleteCityRecord(@item.Id)"></a>
                                }
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">Add New Group</h4>


            </div>
            <div class="modal-body">
                <form asp-controller="Financial" asp-action="SubGroupCreate" method="post">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.Id, new { @id = "Id" })
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Accounts Group Name <lable style="color:red">*</lable></label>
                                </li>
                                <li>
                                    @Html.TextBoxFor(m => m.Name, new { required = "required", @id = "Name", @class = "form-control", @placeholder = "Name*" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </li>
                            </ul>
                        </div>
                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Code</label>
                                </li>
                                <li>
                                    @Html.TextBox("Code", null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </li>
                            </ul>
                        </div>

                        <div class="form-regi">
                            <ul>
                                <li>
                                    <label>Under Chart of Accounts <lable style="color:red">*</lable></label>
                                </li>
                                <li>
                                    @Html.DropDownListFor(m => m.GroupId, (IEnumerable<SelectListItem>)ViewBag.group, "-- Select --", new { required = "required", @id = "GroupId", @class = "form-control", @placeholder = "GroupId*" })
                                    @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                                </li>
                            </ul>

                            <div class="form-regi">
                                <ul>
                                    <li>
                                        <label>Description</label>
                                    </li>
                                    <li>
                                        @Html.TextBox("Description", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </li>
                                </ul>
                            </div>

                            <div class="form-regi">
                                <ul>
                                    <li>
                                        @Html.DisplayNameFor(model => model.IsDefault)

                                    </li>
                                    <li>
                                        <input asp-for="IsDefault" />
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <br /><br />
                        <div class="form-regi">
                            <div class="form-regi">
                                <div class="col-sm-12">

                                    <div class="col-sm-6">
                                        <br /><br />
                                        <button type="submit" class="btn btn-block btn-success" id="submit">Save</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <br /><br />
                                        <button type="button" class="btn btn-block btn-danger" onclick="TextBoxclear()" id="clear">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure? You want to delete this record.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>
