﻿@model VehicleServiceManagement.Models.Accounts.FinalAccounting
@{
    ViewData["Title"] = "TrialBalanceReport";
    Layout = "~/Views/Shared/_FinancialLayout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <title>Balance for PDF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/balance.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>
    <div class="Page">
        <div class="FormSection">
            <label><b>@Model.CompanyName</b></label>
        </div>

        <div class="ButtonsGroup">
            <button onclick="myFunction('Printable')" class="Button">Print</button>
            <a class="Button">PDF</a>
            <a class="Button">EXEL</a>
            <a class="Button">EMAIL</a>
        </div>
    </div>
    <!-- partial:index.partial.html -->
    <div class="Balance" id="Printable">
        <div class="BalanceHead">
            <div class="BalanceHeadBg"> <img src="~/images/header.png" alt=""></div>
            <div class="Logo">
                <img src="~/images/logo.png">
            </div>
        </div>
        <table>
            <thead class="FxedBalanceHead">
                <tr>
                    <td class="BalanceHeadEmbedArea" colspan="3"></td>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td colspan="3">

                        <div class="Refrences">

                            <div class="FlexNormal">
                                <div class="RefLeft">

                                    <p><span class="Label"> Address</span> <span> @Model.Address </span> </p>

                                    <p><span class="Label"> Email</span> <span> @Model.Email</span> </p>

                                </div>
                                <div class="RefRight">
                                    <p><span class="Label"> Fax</span> <span>@Model.Fax </span> </p>
                                    <p><span class="Label"> Phone</span><span> @Model.Phone</span> </p>

                                </div>
                            </div>
                        </div>

                        <div class="BalanceContent">
                            <div class="BalanceTSubitle TextCenter">Trial Balance	 </div>
                            <table class="MainBalanceTable fold-table">
                                <thead class="TableBalanceHead">
                                    <tr>
                                        <th>Accounts</th>
                                        <th>Opening  </th>
                                        <th>Dr Amount </th>
                                        <th>Cr Amount </th>
                                        <th>Net Amount</th>
                                        <th>Closing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.RootList)
                                    {

                                        <tr class="view Root">
                                            <td>@item.Name</td>
                                            <td>@item.Opening</td>
                                            <td>@item.DrAmount</td>
                                            <td>@item.CrAmount</td>
                                            <td>@item.NetAmount</td>
                                            <td>@item.Closing</td>
                                        </tr>
                                        
                                        <tr class="fold">

                                            <td colspan="6">
                                                <div class="fold-content">

                                                    <table class="SmallTable fold-table">

                                                        <tbody>

                                                            @foreach (var item1 in item.GroupList)
                                                            {

                                                                <tr class="view SubRoot">
                                                                    <td>@item1.Name</td>
                                                                    <td>@item1.Opening</td>
                                                                    <td>@item1.DrAmount</td>
                                                                    <td>@item1.CrAmount</td>
                                                                    <td>@item1.NetAmount</td>
                                                                    <td>@item1.Closing</td>
                                                                </tr>
                                                                
                                                                <tr class="fold Group">
                                                                    <td colspan="6">
                                                                        <div class="fold-content">

                                                                            <table class="SmallTable fold-table">
                                                                                <tbody>
                                                                                    @foreach (var item2 in item1.subgrouplist)
                                                                                    {
                                                                                        <tr class="view SubGroup">
                                                                                            <td>@item2.Name</td>
                                                                                            <td>@item2.Opening</td>
                                                                                            <td>@item2.DrAmount</td>
                                                                                            <td>@item2.CrAmount</td>
                                                                                            <td>@item2.NetAmount</td>
                                                                                            <td>@item2.Closing</td>
                                                                                        </tr>
                                                                                        <tr class="fold">
                                                                                            <td colspan="6">
                                                                                                <table class="SmallTable fold-table">
                                                                                                    <tbody>
                                                                                                        @foreach (var item3 in item2.ledgerlist)
                                                                                                        {
                                                                                                            <tr>
                                                                                                                <td>@item3.Name</td>
                                                                                                                <td>@item3.Opening</td>
                                                                                                                <td>@item3.DrAmount</td>
                                                                                                                <td>@item3.CrAmount</td>
                                                                                                                <td>@item3.NetAmount</td>
                                                                                                                <td>@item3.Closing</td>
                                                                                                            </tr>
                                                                                                        }

                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>                                                                    
                                                                </tr>
                                                            }

                                                        </tbody>

                                                    </table>
                                                </div>
                                            </td>

                                        </tr>

                                    }

                                    <tr class="Total">
                                        <td>Total</td>
                                        <td>@Model.Opening</td>
                                        <td>@Model.DrAmount</td>
                                        <td>@Model.CrAmount</td>
                                        <td>@Model.NetAmount</td>
                                        <td>@Model.Closing</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

            </tbody>
            <!-- partial -->

            <tfoot class="FxedBalanceFoot">
                <tr>
                    <td colspan="3" class="BalanceFootEmbedArea"></td>
                </tr>
            </tfoot>

        </table>
        <div class="BalanceFooter">
            <p>Office 2403 Churchil Tower, Business Bay, Dubai, UAE <br> +971 4338 2988 | info@averyxgroup.com</p>
            <div class="FooterBg"><img src="~/images/footer.png"></div>
        </div>
    </div>

    <script>

        function myFunction(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;

        }

        function showHideEle(selectSrc, targetEleId, triggerValue) {
            if (selectSrc.value == triggerValue) {
                document.getElementById(targetEleId).style.display = "flex";
            } else {
                document.getElementById(targetEleId).style.display = "none";
            }
        }

        $(function () {
            $(".fold-table tr.view").on("click", function () {
                $(this).toggleClass("open").next(".fold").toggleClass("open");
            });
        });

    </script>
