﻿body {
    margin: 0px;
    padding: 0px;
}

/* Margin */
.m-0 {
    margin: 0px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-7 {
    margin-top: 7px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-7 {
    margin-bottom: 7px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* Padding */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-7 {
    padding-top: 7px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-7 {
    padding-bottom: 7px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

/* Font Size */
.text-1x {
    font-size: 10px;
    margin: 0px
}

.text-2x {
    font-size: 11px;
    margin: 0px
}

.text-3x {
    font-size: 12px;
    margin: 0px
}

.text-4x {
    font-size: 14px;
    margin: 0px
}

.text-5x {
    font-size: 15px;
    margin: 0px
}

.text-6x {
    font-size: 17px;
    margin: 0px
}

.text-7x {
    font-size: 18px;
    margin: 0px
}

.text-8x {
    font-size: 20px;
    margin: 0px
}

.text-9x {
    font-size: 22px;
    margin: 0px
}

.text-10x {
    font-size: 25px;
    margin: 0px
}

/* Table */
.table {
    margin: 0px !important;
}

/* Background Color */
.bg-white {
    background-color: white !important;
}

/* Label */
label {
    font-weight: normal !important;
    margin-bottom: 3px !important;
}

/* Calender */
.ui-datepicker-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    text-align: center;
    left: 7px;
    position: relative;
    top: 2px;
}

.ui-datepicker-next:before {
    content: "\f054";
    font-family: FontAwesome;
    text-align: center;
    left: 7px;
    position: relative;
    top: 2px;
}

/* Login Page Starts */
.lgn-warp {
    width: 100%;
    height: 100vh;
    float: left;
    padding: 10%;
    background-color: #3f51b5;
    display: flex;
    align-content: center;
    justify-content: center;
}

.lgn-box-body {
    position: relative;
    width: 700px;
    height: 320px;
    background-color: white;
    top: 50%;
    margin-top: -160px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: row;
}

    .lgn-box-body .container-form {
        overflow: hidden;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        right: 30px;
        top: -30px;
        width: 305px;
        height: 380px;
        background-color: #fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        padding: 20px;
    }

    .lgn-box-body .container-info {
        padding: 0px 0px 0px 40px;
        width: 40%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .lgn-box-body .container-info > img {
            width: 50%;
        }

        .lgn-box-body .container-info > h1 {
            font-size: 30px;
            margin: 0px;
            margin-bottom: 0px;
        }

        .lgn-box-body .container-info > p {
            font-size: 12px;
            margin: 0px;
            margin-bottom: 15px;
            color: #909090;
            font-style: italic;
        }

        .lgn-box-body .container-info > h2 {
            font-size: 14px;
            margin: 0px;
            margin-bottom: 0px;
        }

    .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > h1 {
        font-size: 25px;
        margin: 0px;
        margin-bottom: 15px;
        color: #999ede;
        font-weight: 400;
    }

    .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > .form-control {
        border-radius: 7px;
        padding: 20px 10px;
        border-color: #b9bdf1;
    }

    .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > .form-control-feedback {
        top: 5px;
        color: #9397d6;
    }

    .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > .form-control:focus {
        border-color: #3f51b5;
    }

        .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > .form-control:focus .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > span {
            color: red !important;
        }

.btn-signin {
    background-color: #999ede;
    border-color: #adb1e4;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    color: white;
}

    .btn-signin:hover {
        color: white;
        background-color: #adb1e4;
        border-color: #999ede;
    }
/* Login Page Ends */

.form-control.form-control-spl {
    height: 25px;
    padding: 2px 10px;
    font-size: 12px;
}

/* Box */
.box-body-scroll {
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 210px);
}

    .box-body-scroll::-webkit-scrollbar {
        width: 10px;
    }

    .box-body-scroll::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .box-body-scroll::-webkit-scrollbar-thumb {
        background: #0E79AB;
    }

/* Modal */
.modal-body-scroll {
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 118px);
}

    .modal-body-scroll::-webkit-scrollbar {
        width: 10px;
    }

    .modal-body-scroll::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .modal-body-scroll::-webkit-scrollbar-thumb {
        background: #0E79AB;
    }

/* Skin */
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #1d5575 !important;
}

.skin-blue .sidebar-menu > li:hover > a {
    background-color: #11384e !important;
}

/* Purchase Page Starts */
.purchase-menu {
    width: 100%;
    min-height: 50px;
    float: left;
}

    .purchase-menu > .navbar {
        margin: 0px;
        background-color: transparent;
        border: 0px;
    }

        .purchase-menu > .navbar > .navbar-collapse {
            padding: 0px;
        }

            .purchase-menu > .navbar > .navbar-collapse > ul > li {
                margin-right: 5px;
                transition: all 0.25s ease-in-out;
                border-radius: 5px;
                width: auto;
                display: flex;
                flex-direction: row;
                text-align: center;
            }

                .purchase-menu > .navbar > .navbar-collapse > ul > li > a > span:nth-child(1) {
                    width: 28px;
                    float: left;
                    height: 45px;
                    background: #c7295e;
                    color: white;
                    border-radius: 5px 0px 0px 5px;
                    display: flex;
                    flex-direction: row;
                    padding: 5px;
                    font-size: 20px;
                    align-items: center;
                    text-align: center;
                    transition: all 0.25s ease-in-out;
                }

                .purchase-menu > .navbar > .navbar-collapse > ul > li > a > p:nth-child(2) {
                    width: 65px;
                    min-height: 35px;
                    float: left;
                    margin: 0px;
                    text-align: center;
                    transition: all 0.25s ease-in-out;
                    word-break: word-break;
                }

                .purchase-menu > .navbar > .navbar-collapse > ul > li > a > p > svg {
                    fill: #bbd5e0 !important;
                    transition: all 0.25s ease-in-out;
                }

                .purchase-menu > .navbar > .navbar-collapse > ul > li > a {
                    color: #dadada;
                    padding: 2px 4px;
                    font-size: 12px;
                    line-height: 13px;
                    transition: all 0.25s ease-in-out;
                }

                .purchase-menu > .navbar > .navbar-collapse > ul > li:hover > a {
                    color: white;
                    transform: scale(1.1)
                }

                    .purchase-menu > .navbar > .navbar-collapse > ul > li:hover > a > p > svg {
                        fill: white !important;
                    }

                .purchase-menu > .navbar > .navbar-collapse > ul > li:hover > ul.dropdown-menu > li > a {
                    color: white !important;
                    padding: 10px 10px;
                }

                    .purchase-menu > .navbar > .navbar-collapse > ul > li:hover > ul.dropdown-menu > li > a:hover {
                        background-color: #1d5575;
                    }

                .purchase-menu > .navbar > .navbar-collapse > ul > li > ul.dropdown-menu {
                    box-shadow: 1px 7px 20px -17px black;
                    background: #367fa9;
                    border: 0;
                    border-bottom: 4px solid #2196F3;
                    padding: 0;
                }

                    .purchase-menu > .navbar > .navbar-collapse > ul > li > ul.dropdown-menu > li > a {
                        color: white !important;
                        padding: 10px 10px;
                    }

                        .purchase-menu > .navbar > .navbar-collapse > ul > li > ul.dropdown-menu > li > a:hover {
                            background-color: #1d5575;
                        }

.pur-in-btn > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

    .pur-in-btn > ul > li {
        width: auto;
        float: left;
    }

        .pur-in-btn > ul > li > a {
            padding: 3px 7px;
            background-color: #93cdef;
            margin-right: 3px;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid #61c1e0;
            text-decoration: none;
            color: black;
        }

            .pur-in-btn > ul > li > a:hover {
                background-color: #61c1e0;
                border: 1px solid #61c1e0;
            }

.purchase-tabs > .nav > li > a {
    padding: 6px 12px;
    color: #337ab7;
    font-size: 12px;
    background-color: #d7e8f7;
    font-weight: bold;
    border-radius: 3px;
}

    .purchase-tabs > .nav > li > a:hover {
        padding: 6px 12px;
        color: #337ab7;
        font-size: 12px;
        background-color: #cce1f5;
        font-weight: bold;
    }

.purchase-tabs > .nav-tabs > li.active > a, .empl-regi > .nav-tabs > li.active > a:hover, .empl-regi > .nav-tabs > li.active > a:focus {
    border-top: 2px solid #fbc11f;
}

/* Purchase Page Ends */

/* Employee Registration Page Starts */
.empl-regi > .nav > li > a {
    padding: 6px 12px;
    color: #337ab7;
    font-size: 12px;
    background-color: #d7e8f7;
    font-weight: bold;
    border-radius: 3px;
}

    .empl-regi > .nav > li > a:hover {
        padding: 6px 12px;
        color: #337ab7;
        font-size: 12px;
        background-color: #cce1f5;
        font-weight: bold;
    }

.empl-regi > .nav-tabs > li.active > a, .empl-regi > .nav-tabs > li.active > a:hover, .empl-regi > .nav-tabs > li.active > a:focus {
    border-top: 2px solid #fbc11f;
}

.form-regi {
    width: 100%;
    float: left;
}

    .form-regi > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .form-regi > ul > li {
            float: left;
        }

            .form-regi > ul > li:nth-child(1) {
                width: 30%;
            }

                .form-regi > ul > li:nth-child(1) > label {
                    padding-top: 7px;
                    font-size: 13px;
                }

            .form-regi > ul > li:nth-child(2) {
                width: 70%;
            }

            .form-regi > ul > li > .form-control {
                padding: 2px 10px;
            }

.form-regi-spl {
    width: 100%;
    float: left;
}

    .form-regi-spl > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .form-regi-spl > ul > li {
            float: left;
        }

            .form-regi-spl > ul > li:nth-child(1) {
                width: 14.65%;
            }

                .form-regi-spl > ul > li:nth-child(1) > label {
                    padding-top: 7px;
                    font-size: 13px;
                }

            .form-regi-spl > ul > li:nth-child(2) {
                width: 85%;
            }

            .form-regi-spl > ul > li > .form-control {
                height: 25px;
                padding: 2px 10px;
            }


.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 0px !important;
    background-color: #3c8dbc !important;
    border: 1px solid #367fa9 !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    color: white;
}

.well-sm {
    padding: 2px 8px !important;
}
/* Employee Registration Page Ends */

/* Dashboard Two Design Starts */
.dash > .jumbotron {
    background-color: #ececec;
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
    border: 1px solid #bbbbbb;
}

    .dash > .jumbotron p {
        font-size: 100%;
        margin: 0px;
    }

.dash-btn {
    width: 100%;
    min-height: 20px;
    float: left;
}

    .dash-btn > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .dash-btn > ul > li > a {
            font-size: 15px;
            text-align: center;
            color: white;
            touch-action: manipulation;
            text-transform: uppercase;
            width: 18%;
            height: 80px;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to bottom, #357fab 33%, #13415a 100%);
            padding: 10px;
            margin-right: 10px;
            border-radius: 5px;
        }

.dash-btn-two {
    width: 100%;
    min-height: 20px;
    float: left;
}

    .dash-btn-two > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .dash-btn-two > ul > li > a {
            width: 100%;
            height: 80px;
            float: left;
            display: flex;
            touch-action: manipulation;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to bottom, #357fab 33%, #13415a 100%);
            border: 1px solid #103461;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-size: 15px;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }

.dash-btn-three {
    width: 100%;
    min-height: 20px;
    float: left;
}

    .dash-btn-three > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .dash-btn-three > ul > li > a {
            width: 12.22%;
            height: auto;
            float: left;
            display: flex;
            touch-action: manipulation;
            justify-content: center;
            align-items: center;
            background-color: #3c8dbc;
            border: 1px solid #367fa9;
            padding: 7px 12px;
            margin-right: 2px;
            border-radius: 5px;
            font-size: 13px;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }

            .dash-btn-three > ul > li > a:hover {
                background-color: #367fa9;
                border-color: #204d74;
            }

.dash-calc {
    width: 100%;
    min-height: 10px;
    float: left;
}

    .dash-calc > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .dash-calc > ul > li {
            width: 29.5%;
            float: left;
            cursor: pointer;
            touch-action: manipulation;
            background-color: #3c8dbc;
            border: 1px solid #367fa9;
            padding: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            border-radius: 5px;
            font-size: 15px;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }

            .dash-calc > ul > li:hover {
                background-color: #367fa9;
                border-color: #204d74;
            }

.spl-form-control {
    width: 100%;
    height: 60px;
    padding: 0px 15px;
    touch-action: manipulation;
    background-color: white;
    border: 1px solid #c6c6c6;
    font-size: 18px;
    font-weight: bold;
}

.dash-form-btn {
    width: 100%;
    min-height: 10px;
    float: left;
}

    .dash-form-btn > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .dash-form-btn > ul > li {
            width: 31.5%;
            float: left;
            cursor: pointer;
            touch-action: manipulation;
            background-color: #3c8dbc;
            border: 1px solid #367fa9;
            padding: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            border-radius: 5px;
            font-size: 15px;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }

            .dash-form-btn > ul > li:hover {
                background-color: #367fa9;
                border-color: #204d74;
            }

.dash-product {
    width: 100%;
    min-height: 10px;
    float: left;
}

    .dash-product > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .dash-product > ul > li > a {
            width: 9.4%;
            float: left;
            cursor: pointer;
            touch-action: manipulation;
            background-color: #3c8dbc;
            border: 1px solid #367fa9;
            padding: 0px 5px;
            margin-bottom: 10px;
            margin-right: 5px;
            border-radius: 5px;
            font-size: 15px;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }

            .dash-product > ul > li > a:hover {
                background-color: #367fa9;
                border-color: #204d74;
            }

.dash-amount {
    width: 100%;
    min-height: 10px;
    float: left;
}

    .dash-amount > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .dash-amount > ul > li > a {
            width: 9.4%;
            float: left;
            cursor: pointer;
            touch-action: manipulation;
            background-image: linear-gradient(to bottom, #357fab 33%, #13415a 100%);
            border: 1px solid #103461;
            padding: 10px;
            margin-bottom: 10px;
            margin-right: 5px;
            border-radius: 5px;
            font-size: 15px;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }

.sales-insert-one {
    width: 100%;
    min-height: 20px;
    float: left
}

    .sales-insert-one > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .sales-insert-one > ul > li {
            float: left;
            padding-right: 5px;
        }

            .sales-insert-one > ul > li:nth-child(1) {
                width: 20%;
            }

            .sales-insert-one > ul > li:nth-child(2) {
                width: 10%;
            }

            .sales-insert-one > ul > li:nth-child(3) {
                width: 20%;
            }

            .sales-insert-one > ul > li:nth-child(4) {
                width: 50%;
                padding-right: 0px;
            }

.sales-insert-two {
    width: 100%;
    min-height: 20px;
    float: left
}

    .sales-insert-two > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .sales-insert-two > ul > li {
            float: left;
            padding-right: 5px;
        }

            .sales-insert-two > ul > li:nth-child(1) {
                width: 10%;
            }

            .sales-insert-two > ul > li:nth-child(2) {
                width: 60%;
            }

            .sales-insert-two > ul > li:nth-child(3) {
                width: 15%;
            }

            .sales-insert-two > ul > li:nth-child(4) {
                width: 15%;
                padding-right: 0px;
            }

.dash-sales-num {
    width: 100%;
    min-height: 10px;
    float: left;
}

    .dash-sales-num > ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .dash-sales-num > ul > li {
            float: left;
            width: 15.5%;
            padding: 7px;
            text-align: center;
            background-color: #3c8dbc;
            border: 1px solid #367fa9;
            cursor: pointer;
            color: white;
            margin-right: 2px;
            margin-bottom: 5px;
            border-radius: 5px;
        }

            .dash-sales-num > ul > li:hover {
                background-color: #367fa9;
                border-color: #204d74;
            }
/* Dashboard Two Design Ends */

@media (min-width: 768px) {
    .purchase-menu > .navbar > .navbar-collapse > ul > li:hover > ul.dropdown-menu {
        display: block;
        box-shadow: 1px 7px 20px -17px black;
        background: #367fa9;
        border: 0;
        border-bottom: 4px solid #2196F3;
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        margin: 0px !important;
    }

    .purchase-menu > .navbar > .navbar-collapse > ul > li {
        display: block;
    }

        .purchase-menu > .navbar > .navbar-collapse > ul > li > a, .purchase-menu > .navbar > .navbar-collapse > ul > li > a > p:nth-child(2) {
            width: 100%;
        }

        .purchase-menu > .navbar > .navbar-collapse > ul > li:hover > a {
            color: white;
            transform: scale(1)
        }

    .navbar-inverse .navbar-brand {
        color: white !important;
    }

    .purchase-menu > .navbar > .navbar-collapse > ul > li > a {
        padding: 10px
    }

    .purchase-menu > .navbar > .navbar-collapse > ul > li:hover > a {
        background-color: #11384e !important;
    }

    .purchase-menu > .navbar > .navbar-collapse > ul > li > a > p:nth-child(2) {
        float: none;
        min-height: 0px;
    }

    .purchase-menu > .navbar > .navbar-collapse > ul > li > ul.dropdown-menu > li > a {
        color: white !important;
        padding: 10px 10px;
        text-align: center;
    }

    /* Login Page Starts */
    .lgn-warp {
        width: 100%;
        height: 100vh;
        float: left;
        padding: 5px;
        background-color: #3f51b5;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .lgn-box-body {
        position: static;
        width: 100%;
        height: 100%;
        background-color: white;
        top: 50%;
        margin-top: 0;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        display: flex;
        padding: 10px;
        float: left;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .lgn-box-body .container-form {
            overflow-x: hidden;
            overflow-y: scroll;
            position: static;
            right: 30px;
            top: -30px;
            width: 100%; /* height: 380px; */
            background-color: #7072a0;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            padding: 10px;
        }

        .lgn-box-body .container-info {
            padding: 0px;
            width: 100%;
            float: left;
            margin-bottom: 25px;
            align-items: center;
            display: flex;
            justify-content: center;
        }

            .lgn-box-body .container-info > img {
                width: 25%;
            }

        .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > .form-control {
            border-radius: 7px;
            padding: 20px 10px;
            border-color: #b9bdf1;
        }

        .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > .form-control-feedback {
            top: 5px;
            color: #9397d6;
        }

        .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > .form-control:focus {
            border-color: #3f51b5;
        }

            .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > .form-control:focus .lgn-box-body .container-form > .row > .col-sm-12 > .form-group > span {
                color: red !important;
            }

    .btn-signin {
        background-color: #999ede;
        border-color: #adb1e4;
        text-align: center;
        padding: 10px;
        border-radius: 7px;
        color: white;
    }

        .btn-signin:hover {
            color: white;
            background-color: #adb1e4;
            border-color: #999ede;
        }
    /* Login Page Ends */
}
