﻿body{margin:0px; padding:0px;}
 
/* Margin */
.m-0{margin:0px;}
.m-5{margin:5px;}
.m-10{margin:10px;}
.m-15{margin:15px;}
.m-20{margin:20px;}

.mt-5{margin-top:5px;}
.mt-7{margin-top:7px;}
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}

.mb-5{margin-bottom:5px;}
.mb-7{margin-bottom:7px;}
.mb-10{margin-bottom:10px;}
.mb-15{margin-bottom:15px;}
.mb-20{margin-bottom:20px;}

/* Padding */
.p-5{padding:5px;}
.p-10{padding:10px;}
.p-15{padding:15px;}
.p-20{padding:20px;}

.pt-5{padding-top:5px;}
.pt-7{padding-top:7px;}
.pt-10{padding-top:10px;}
.pt-15{padding-top:15px;}
.pt-20{padding-top:20px;}

.pb-5{padding-bottom:5px;}
.pb-7{padding-bottom:7px;}
.pb-10{padding-bottom:10px;}
.pb-15{padding-bottom:15px;}
.pb-20{padding-bottom:20px;}

/* Font Size */
.text-1x{font-size:10px;}
.text-2x{font-size:11px;}
.text-3x{font-size:12px;}
.text-4x{font-size:14px;}
.text-5x{font-size:15px;}
.text-6x{font-size:17px;}
.text-7x{font-size:18px;}
.text-8x{font-size:20px;}
.text-9x{font-size:22px;}
.text-10x{font-size:25px;}

/* Table */
.table{margin:0px !important;}

/* Background Color */
.bg-white{background-color:white !important;}

/* Label */
label{font-weight:normal !important; margin-bottom:3px !important;}

/* Calender */
.ui-datepicker-prev:before{content: "\f053"; font-family: FontAwesome; text-align: center; left: 7px; position: relative; top: 2px;}
.ui-datepicker-next:before{content: "\f054"; font-family: FontAwesome; text-align: center; left: 7px; position: relative; top: 2px;}

/* Login Page Starts */
.login-box-body{border-bottom:3px solid #ff6a00; border-bottom-left-radius:5px; border-bottom-right-radius:5px; }
/* Login Page Ends */

.form-control.form-control-spl{height:25px ; padding:2px 10px; font-size:12px;}


/* Purchase Page Starts */
.purchase-menu{width:100%; min-height:50px; float:left;}
.purchase-menu > .navbar{margin:0px; background-color:transparent; border:0px;}
.purchase-menu > .navbar > .navbar-collapse{padding:0px;}
.purchase-menu > .navbar > .navbar-collapse > ul > li{margin-right: 3px; background: #d86f69; transition:all 0.25s ease-in-out; min-height: 55px; border-radius:5px; border-bottom:3px solid #a73939; width: auto; display: flex; flex-direction: row; justify-content: center; align-items: center; text-align:center;}
.purchase-menu > .navbar > .navbar-collapse > ul > li > a{color:#f1f1f1; padding:5px 15px;}
.purchase-menu > .navbar > .navbar-collapse > ul > li:hover{background-color:#ad3939; border-bottom:3px solid #d86f69;}

.pur-in-btn > ul{margin:0px; padding:0px; list-style-type:none;}
.pur-in-btn > ul > li{width:auto; float:left; }
.pur-in-btn > ul > li > a{padding:3px 7px; background-color:#93cdef; margin-right:3px; border-radius:5px; cursor:pointer; border:1px solid #61c1e0; text-decoration:none; color:black;}
.pur-in-btn > ul > li > a:hover{background-color:#61c1e0; border:1px solid #61c1e0;}

.purchase-tabs > .nav > li > a{padding:6px 12px; color:#337ab7; font-size:12px; background-color:#d7e8f7; font-weight:bold; border-radius:3px;}
.purchase-tabs > .nav > li > a:hover{padding:6px 12px; color:#337ab7; font-size:12px; background-color:#cce1f5; font-weight:bold;}
.purchase-tabs > .nav-tabs > li.active > a, .empl-regi > .nav-tabs > li.active > a:hover, .empl-regi > .nav-tabs > li.active > a:focus{border-top:2px solid #fbc11f;}

/* Purchase Page Ends */

/* Employee Registration Page Starts */
.empl-regi > .nav > li > a{padding:6px 12px; color:#337ab7; font-size:12px; background-color:#d7e8f7; font-weight:bold; border-radius:3px;}
.empl-regi > .nav > li > a:hover{padding:6px 12px; color:#337ab7; font-size:12px; background-color:#cce1f5; font-weight:bold;}
.empl-regi > .nav-tabs > li.active > a, .empl-regi > .nav-tabs > li.active > a:hover, .empl-regi > .nav-tabs > li.active > a:focus{border-top:2px solid #fbc11f;}
.form-regi{width:100%; float:left;}
.form-regi > ul{margin:0px; padding:0px; list-style-type:none;}
.form-regi > ul > li{float:left;}
.form-regi > ul > li:nth-child(1){width:30%;}
.form-regi > ul > li:nth-child(1) > label{padding-top:7px; font-size:13px;}
.form-regi > ul > li:nth-child(2){width:70%;}
.form-regi > ul > li > .form-control{height:25px ; padding:2px 10px;}

.form-regi-spl{width:100%; float:left;}
.form-regi-spl > ul{margin:0px; padding:0px; list-style-type:none;}
.form-regi-spl > ul > li{float:left;}
.form-regi-spl > ul > li:nth-child(1){width:14.65%;}
.form-regi-spl > ul > li:nth-child(1) > label{padding-top:7px; font-size:13px;}
.form-regi-spl > ul > li:nth-child(2){width:85%;}
.form-regi-spl > ul > li > .form-control{height:25px ; padding:2px 10px;}


.well{min-height: 20px; padding: 19px; margin-bottom:0px !important; background-color: #3c8dbc !important; border: 1px solid #367fa9 !important; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); color: white;}
.well-sm{padding:2px 8px !important;}
/* Employee Registration Page Ends */

/* Dashboard Two Design Starts */
.dash > .jumbotron{background-color:transparent; padding:10px 60px; border-radius:10px;}
.dash > .jumbotron p{font-size:100%; margin:0px;}
.dash-btn{width:100%; min-height:20px; float:left;}
.dash-btn > ul{margin:0px; padding:0px; list-style-type:none;}
.dash-btn > ul > li > a{font-size:15px; text-align:center; color:white; touch-action:manipulation; text-transform:uppercase; width:180px; height:80px; float:left; display:flex; justify-content:center; align-items:center; background-image:linear-gradient(to bottom, #357fab 33%, #13415a 100%); padding:10px; margin-right:10px; border-radius:5px;}

.dash-btn-two{width:100%; min-height:20px; float:left;}
.dash-btn-two > ul{margin:0px; padding:0px; list-style-type:none;}
.dash-btn-two > ul > li > a{width:100%; height:80px; float:left; display:flex; touch-action:manipulation; justify-content:center; align-items:center; background-image:linear-gradient(to bottom, #357fab 33%, #13415a 100%); border:1px solid #103461; padding:10px; margin-bottom:10px; border-radius:5px; font-size:15px; text-align:center; color:white; text-transform:uppercase;}

.dash-btn-three{width:100%; min-height:20px; float:left;}
.dash-btn-three > ul{margin:0px; padding:0px; list-style-type:none;}
.dash-btn-three > ul > li > a{width:12.22%; height:80px; float:left; display:flex; touch-action:manipulation; justify-content:center; align-items:center; background-image:linear-gradient(to bottom, #357fab 33%, #13415a 100%); border:1px solid #103461; padding:10px; margin-right:2px; border-radius:5px; font-size:13px; text-align:center; color:white; text-transform:uppercase;}


.dash-calc{width:100%; min-height:10px; float:left;}
.dash-calc > ul{margin:0px; padding:0px; list-style-type:none;}
.dash-calc > ul > li{width:29.5%; float:left; cursor:pointer; touch-action:manipulation; background-image:linear-gradient(to bottom, #357fab 33%, #13415a 100%); border:1px solid #103461; padding:10px; margin-bottom:10px; margin-right:10px; border-radius:5px; font-size:15px; text-align:center; color:white; text-transform:uppercase;}

.spl-form-control{width:100%; height:60px; padding:0px 15px; touch-action:manipulation; background-color:white; border:1px solid #c6c6c6; font-size:18px; font-weight:bold;}

.dash-form-btn{width:100%; min-height:10px; float:left;}
.dash-form-btn > ul{margin:0px; padding:0px; list-style-type:none;}
.dash-form-btn > ul > li{width:31.5%; float:left; cursor:pointer; touch-action:manipulation; background-image:linear-gradient(to bottom, #357fab 33%, #13415a 100%); border:1px solid #103461; padding:10px; margin-bottom:10px; margin-left:10px; border-radius:5px; font-size:15px; text-align:center; color:white; text-transform:uppercase;}

.dash-product{width:100%; min-height:10px; float:left;}
.dash-product > ul{margin:0px; padding:0px; list-style-type:none;}
.dash-product > ul > li > a{width:9.4%; float:left; cursor:pointer; touch-action:manipulation; background-image:linear-gradient(to bottom, #357fab 33%, #13415a 100%); border:1px solid #103461; padding:10px; margin-bottom:10px; margin-right:5px; border-radius:5px; font-size:15px; text-align:center; color:white; text-transform:uppercase;}

.dash-amount{width:100%; min-height:10px; float:left;}
.dash-amount > ul{margin:0px; padding:0px; list-style-type:none;}
.dash-amount > ul > li > a{width:9.4%; float:left; cursor:pointer; touch-action:manipulation; background-image:linear-gradient(to bottom, #357fab 33%, #13415a 100%); border:1px solid #103461; padding:10px; margin-bottom:10px; margin-right:5px; border-radius:5px; font-size:15px; text-align:center; color:white; text-transform:uppercase;}
/* Dashboard Two Design Ends */